[2016-05-09 15:29] #384 closed, assigned to nobody

[2016-05-10 11:19] megax opened #418 "GTK :: Linked vertical button border"
![image](https://cloud.githubusercontent.com/assets/461493/15144772/d76f9410-16b1-11e6-833a-cb4e005f1d2f.png)
(application: gtk3-widget-factory)

[2016-05-10 12:15] megax commented on #418
GTK 3.18 Test (Ubuntu 16.04):
![image](https://cloud.githubusercontent.com/assets/461493/15146080/9d26ebc0-16b9-11e6-9f99-7db77621b059.png)

[2016-05-10 19:08] jccall80 opened #420 "Numix theme broken after upgrading Debian testing stretch"
After upgrading Debian stretch a few days ago the numix theme is broken. In the next link you can see what happen:

![theme broken](https://cloud.githubusercontent.com/assets/19292702/15159103/18f23fe6-16f3-11e6-9e86-82b902cd94bb.png)

On the right side there is corebird and on the left synaptic, Catfish also has problems. I think that this apps are based on GTK 3

Is this a bug or something wrong

[2016-05-10 19:41] #420 closed, assigned to nobody

[2016-05-10 19:45] jccall80 opened #421 "Enormous bar"
I've upgraded to the latest theme because after upgrading the system the numix theme had problems

Now I see that all GTK3 based software has this enormous bar
![big bar](https://cloud.githubusercontent.com/assets/19292702/15160104/69f18032-16f8-11e6-8f6d-50c41622c7e7.png)

Is it normal?

With the old Numix GTK theme the bar was smaller.

[2016-05-11 00:18] lots0logs commented on #421
Sorry, could you mark what you are referring to on the screenshot? Thanks.

[2016-05-11 07:05] khurshid-alam commented on #418
@megax The code for Linked vertical button hasn't been ported to sass. You can try porting from https://github.com/khurshid-alam/Numix/blob/master/gtk-3.0/gtk-widgets.css

![linked-vertical](http://i.imgur.com/iibAhSM.png)

[2016-05-11 08:28] megax commented on #418
@khurshid-alam Implement: https://github.com/numixproject/numix-gtk-theme/pull/425
Please test (Only gtk3.20)

[2016-05-11 08:31] lburgazzoli opened #426 "Possibility to install Numix in .local/share/themes"
It would be nice to have a way to install Numix in .local/share/themes like:

[code]

By default INSTALL_PREFIX is /usr/share/themes

[2016-05-11 08:56] joaodriessen commented on #421
He's referring to the titlebar. It's quite impractical on small screens.

[2016-05-11 09:23] lots0logs commented on #421
Oh, that's called a header bar and its has replaced titlebars in all GNOME applications. I'm afraid there's nothing that can be done as it is by design (in GTK, not the theme).

[2016-05-11 09:23] #421 closed, assigned to nobody

[2016-05-11 09:24] janhicken commented on #421
The header bar is even bigger as in the default Adwaita theme. Are you sure you cannot do anything about that?

![bildschirmfoto von 2016-05-11 11-26-07](https://cloud.githubusercontent.com/assets/2724840/15176418/469e227a-176b-11e6-94e1-b6fca43400b7.png)

![bildschirmfoto von 2016-05-11 11-26-11](https://cloud.githubusercontent.com/assets/2724840/15176405/3ab21e6c-176b-11e6-922a-dd8b3ab46f32.png)

[2016-05-11 10:04] joaodriessen commented on #421
you could try this for GTK 3.20:
(https://ogbe.net/blog/gnome_titles.html)

Put the following in ~/.config/gtk-3.0/gtk.css

[code]

[2016-05-11 10:08] khurshid-alam commented on #426
Why? If you install in `.local/share/themes`, it can create problems in root windows (opened either by gksudo or polkit).

[2016-05-11 10:12] khurshid-alam commented on #408
Are you installing from PPA? Can you provide a screenshot? It looks ok here:
![transmission-progressbar](http://i.imgur.com/hTRXiBJ.png)

[2016-05-11 10:14] khurshid-alam commented on #418
Fixed in e5116cc078f4501e7c960d9292f2e2bf23cf5349

[2016-05-11 10:14] #418 closed, assigned to nobody

[2016-05-11 10:18] khurshid-alam commented on #409
@dannymichel It works if I tell wine to use custom gtk theme by exporting path. It doesn't look like a theme issue and not all apps are affected.

[2016-05-11 10:31] khurshid-alam commented on #399
@SeventhSonOfASeventhSon I can not reproduce this on Ubuntu 16.04.

[2016-05-11 10:33] khurshid-alam commented on #359
@megax I see they fixed it now. Feel free to open a PR.

[2016-05-11 10:39] janhicken commented on #421
That works brilliantly, thanks!

PS: I fixed that missing forward slash at the end of line 1 ;-)

[2016-05-11 10:39] lburgazzoli commented on #426
i.e. for un-privileged users ;)

[2016-05-11 10:40] khurshid-alam commented on #355
Is this still happening with Thunderbird 45 which was ported to gtk3?

[2016-05-11 12:08] janhicken opened #428 "GTK 3.20 :: App Panel :: GtkButton:inner-border is deprecated"
It seems that this warning used to be addressed in issue #351.

However, the deprecated style property `GtkButton:inner-border` is still used [here](https://github.com/numixproject/numix-gtk-theme/blob/master/gtk-3.20/scss/apps/_panel.scss#L53), which causes the following warning by using _eog_ for example:

`(eog:19892): Gtk-WARNING **: Theme parsing error: gtk-dark.css:3971:29: The style propert

[2016-05-11 12:14] megax commented on #359
@khurshid-alam https://github.com/numixproject/numix-gtk-theme/pull/429

Notebook tab color change osd background? :)

[2016-05-11 13:49] khurshid-alam commented on #359
@megax Yes. Terminal notebook tab needs rewrite. This is how it used to look:

![old-terminal](http://i.imgur.com/KxU6OSB.png)

[2016-05-11 13:58] lots0logs commented on #359
@khurshid-alam Don't you find that is too much black for the non-dark version of the theme? :grimacing:

[2016-05-11 14:16] khurshid-alam commented on #359
@lots0logs Probably yes (the screenshot is old and using old darker scheme). But we use dark terminal even for light version. Gnome does the same for their photos & videos (totem) app. We once tried to make terminal light for light variant but nobody preferred that.  So we changed it back to dark.

The thing is, we don't really have proper support for dark variant so that apps like videos, photos

[2016-05-11 14:34] megax commented on #359
@khurshid-alam, @lots0logs
**Test code:**

[code]

![anim](https://cloud.githubusercontent.com/assets/461493/15184599/1e044742-1796-11e6-9fe0-6e84efbad42d.gif)

_Edit_

**Test code 2:**

[code]

![anim](https://cloud.githubusercontent.com/assets/461493/15194353/ca25d21c-17c2-11e6-8d52-3ff815a2fed9.gif)

[2016-05-11 15:13] SammysHP commented on #359
@khurshid-alam

Numix (at least in 3.20) has support for light and dark theme. Your screenshot obviously shows the dark variant.

This is an example of the current version of Numix:

**light:**

![20160511_171207](https://cloud.githubusercontent.com/assets/922874/15185999/964bbeec-179b-11e6-9b57-ffb6c28cf97d.png)

**dark:**

![20160511_171212](https://cloud.githubusercontent.com/assets/922874/1518

[2016-05-11 16:47] dannymichel commented on #408
Yes, im installing from PPA. unfortunately, the weirdest thing is in screenshots it displays correctly but not to the human eye. I can take a photo soon

[2016-05-11 16:48] dannymichel commented on #409
Interesting. I will find out how to do that

[2016-05-11 17:05] khurshid-alam commented on #426
Use file roller to extract `Numix Daily` folder from rpm/deb. After extracting you can rename it to `Numix`

[2016-05-11 17:05] #426 closed, assigned to nobody

[2016-05-12 06:06] MPE2016 commented on #355
I can't tell for Thunderbird 45, as I am using Thunderbird 38.7.2, under
which the problem still persists however.

Op 11-05-16 om 12:40 schreef Khurshid Alam:

[2016-05-14 08:23] megax opened #430 "GTK 3.20 :: Icon selected background color backdrop mode"
Not background color:
![anim](https://cloud.githubusercontent.com/assets/461493/15267280/d365065c-19bd-11e6-8f0c-303be032333f.gif)

Application: Nemo file selected, gtk3-widgets-factory

[2016-05-14 13:33] khurshid-alam commented on #428
It's only deprecated. AFAIK, xfce and other fallback are still using this.

[2016-05-14 14:15] gregorydk opened #434 "Pie chart missing in Properties"
On GNOME 3.20 when you look at Properties on a mounted drive, the pie chart is missing which shows free and used space.

[2016-05-14 18:20] Foggalong commented on #284
This is no longer an issue now Firefox has GTK integration :)

[2016-05-14 18:20] #284 closed, assigned to nobody

[2016-05-14 19:48] lots0logs commented on #428
I think Xfce/Openbox/etc pull their styles from `gtk-3.0` directory so it should be okay to fix this for 3.20.

[2016-05-14 19:50] lots0logs commented on #430
That's very typical of GTK these days :unamused: Still I think we need to test this to make sure it doesn't affect any other areas of the theme.

[2016-05-15 08:16] actionless opened #436 "Question: I have a couple of improvements for GTK+ 3.20 version of the theme"
Here you can observe the changes between Numix upstream and my fork (if Numix colorscheme is selected):

(you should zoom to observe fixed radio and checkboxes for hidpi screen)

![2016-05-15--1463299979_2430x1496_scrot](https://cloud.githubusercontent.com/assets/1655669/15272851/8014e4b2-1a86-11e6-9d6d-eef3b434a2be.png)
![2016-05-15--1463299985_2430x1432_scrot](https://cloud.githubusercontent.com

[2016-05-15 09:57] khurshid-alam commented on #436
Couple of things:
1. It seems you are using old assets (are you?) which we also use in Numix-Light. There are demands that we also use same asset for Numix. But for now we would stick to current one.
2. Block-fill code for `levelbar` is broken (both, for you and us). We want rounded border for discrete indicators & for that we need `:nth-child` working (if working at all). You can run test comment

[2016-05-15 10:20] actionless commented on #436
1) yes, but they're are edited a bit, original old assets are displayed not correctly on hidpi as well, also their borders are changed to semi-transparent

2) yup, i wasn't attempting to fix it

4) i think they should be the same as upstream, mb only with more contrast border (UPD: ah, i see entry is missing right border)

6) do you mean changed button border, highlighted selected button or both?

[2016-05-15 12:30] megax commented on #436
@actionless Spinbutton rewirte: https://github.com/numixproject/numix-gtk-theme/pull/437

[2016-05-15 12:40] megax opened #438 "GTK 3.20 :: Switch"
Selected color bug:
![image](https://cloud.githubusercontent.com/assets/461493/15274081/239568b8-1aab-11e6-85cd-2a8ea733dcb1.png)

[2016-05-15 13:00] lots0logs commented on #436
@megax Most of #437 looks good. Though besides the bug you mentioned there appears to be an issue with borders of the inline toolbar linked buttons. The border should be less prominent than a single button by itself but it should still be easily distinguishable when buttons are in a group. I'll try to take a look at it sometime today.

[2016-05-15 14:15] #438 closed, assigned to lots0logs

[2016-05-15 16:30] megax commented on #436
@lots0logs I've also noticed the mistake. Unfortunatelly, I have no idea, but if you could, please repair it or later we can reapair together, just take notes the this problem. :)

[2016-05-15 16:33] megax commented on #430
What I knew, I tested those and I couldn't find any problems. I am waiting for your testing results. :)

[2016-05-15 16:43] megax opened #439 "GTK 3.20 :: Submenus space"
![anim](https://cloud.githubusercontent.com/assets/461493/15275457/b9fedade-1acc-11e6-9157-7dd2bdfede02.gif)

There are spaces in the submenus at your  attached gif. It is what you want? Because it is strange for me.
The cause is this code: https://github.com/numixproject/numix-gtk-theme/commit/150fda02b51fdb856efc17d6abbf8ef7b7a33b0c#diff-ad5526d84da246f8629813978dadfa9eL46

@lots0logs, @khurshid

[2016-05-15 17:01] khurshid-alam commented on #436
The border problem arises because it is using normal linked button code for inline-toolbar as well....at line 374.

https://github.com/numixproject/numix-gtk-theme/pull/437/files#diff-95a2b202b10a360b21b6c0c04f7b996aR374

[2016-05-15 19:16] megax commented on #421
Fix: https://github.com/numixproject/numix-gtk-theme/pull/441

[2016-05-15 19:21] megax opened #442 "GTK 3.20 :: Headerbar icon separator"
Padding bug:
![image](https://cloud.githubusercontent.com/assets/461493/15276242/e3c5e004-1ae2-11e6-9be4-09f9fc73065e.png)

[2016-05-15 19:39] megax commented on #436
@khurshid-alam Fixed inline-toolbar code. :)

[2016-05-15 20:12] joaodriessen commented on #421
Glad to see the issue taken seriously!

[2016-05-15 20:20] megax opened #443 "GTK 3.20 :: Spinbutton top border and vertical double border bug"
![image](https://cloud.githubusercontent.com/assets/461493/15276537/2dbc622a-1aeb-11e6-8e77-98f4851241e8.png)
![image](https://cloud.githubusercontent.com/assets/461493/15276651/961242ce-1aee-11e6-8c79-6a53a9e631d9.png)

[2016-05-15 20:27] megax commented on #359
@khurshid-alam I create PR?
- Test code
- Test code 2
  ?

[2016-05-15 20:41] khurshid-alam commented on #359
I am yet to test your code. Beside I am thinking of disabling custom terminal style as we don't need that anymore as pointed out by @SammysHP.

[2016-05-15 20:43] megax commented on #359
Okay :)

[2016-05-15 20:44] megax commented on #443
@lots0logs Bug reported. :)

[2016-05-16 05:52] JanSurft opened #445 "Numix icons missing on Ubuntu 16.04 with icon themes "Numix" and "Numix-light""
I have a relatively fresh install of Ubuntu 16.04. In the Unity Tweak Tool, changing the theme to "Numix" or "Numix Daily" is working perfectly fine. Everything seems to change according to that theme.

Then I also want to change the Icon appearance to "Numix". This yields into some icons just missing. Some of them are: `System Settings->Appearance`, `System Settings->Language Support`, `System Se

[2016-05-16 07:06] megax commented on #436
@khurshid-alam levelbar nth-child fixed https://github.com/numixproject/numix-gtk-theme/pull/446 . Not fixed progressbar border radius =/

[2016-05-16 10:05] khurshid-alam commented on #445
@JanSurft Please report issues here: https://github.com/numixproject/numix-icon-theme/issues

[2016-05-16 10:05] #445 closed, assigned to nobody

[2016-05-16 10:06] bilelmoussaoui commented on #445
- Those icons are added by Numix Circle, you should use that instead of Numix Base (Numix Circle = Numix Base + Circle application icons)

[2016-05-16 10:20] megax opened #447 "GTK 3.20 :: Baobab progress bug (backdrop mode)"
![anim](https://cloud.githubusercontent.com/assets/461493/15287026/8477f29e-1b60-11e6-9faf-e0e7ace37f90.gif)

[2016-05-16 10:35] megax commented on #447
Tested GTK 3.18 (ubuntu 16.04):
![anim](https://cloud.githubusercontent.com/assets/461493/15287362/97451472-1b62-11e6-9b23-d0bdbcb80028.gif)

[2016-05-16 10:57] megax commented on #443
@lots0logs https://github.com/actionless/oomox/blob/master/gtk-3.20/scss/widgets/_button.scss#L380 @actionless fixed top border bug.
Not fixed double border.

[2016-05-16 14:49] actionless commented on #443
yup, i wasn't attempting to remove the border from a button

but removed it from entry instead

[2016-05-16 14:59] actionless commented on #443
btw, here is the visual difference:

![2016-05-16--1463410707_325x218_scrot](https://cloud.githubusercontent.com/assets/1655669/15293263/7bdd685e-1b87-11e6-896c-1ad163e0fb4c.png)
![2016-05-16--1463410720_281x192_scrot](https://cloud.githubusercontent.com/assets/1655669/15293264/7d948c68-1b87-11e6-990f-890bcf2e4c4e.png)

[2016-05-16 15:34] lots0logs commented on #443
Hmm..the border is too much. The buttons should look the same as toolbar buttons. Actually it looks like its just a shadow missing on the top button. I haven't had time to look at it myself yet but I'll try to make some time later today. Cheers!

[2016-05-16 16:25] actionless commented on #443
the border on spinbutton is the same as on buttons, in my fork i have just more contrast border in general

i think border is there but it's lighter

[2016-05-16 16:56] ben-kuhn opened #450 "Evolution meeting invitation buttons have invisible text"
Hello,

I am using the Numix theme from the official PPA on Ubuntu 16.04.  Using either the "Numix" or Numix Daily" themes, my meeting invitation buttons in Evolution have invisible text.  When testing with Adwaita, the text is visible.

The meeting invites are also horribly ugly but that's an evolution bug/problem.

![image](https://cloud.githubusercontent.com/assets/16821405/15296926/40bbf51c-1b

[2016-05-16 16:57] ben-kuhn commented on #450
Here is the same window with Adwaita:
![image](https://cloud.githubusercontent.com/assets/16821405/15296955/5f19d84e-1b5d-11e6-9ad5-99986ae1cd23.png)

[2016-05-16 18:29] khurshid-alam commented on #450
How to reproduce above issue?

[2016-05-16 18:31] ben-kuhn commented on #450
1.  Enable Numix or Numix Nightly as the GTK theme.
2.  Open Evolution
3.  Open an appointment request.
4.  Notice the text is missing on the buttons.
5.  Change the theme to something else.
6.  Check the appointment request again and see that the text is there as expected.

[2016-05-16 18:36] khurshid-alam commented on #450
How?

[2016-05-16 18:45] ben-kuhn commented on #450
First, someone will need to send an invitation.  It will show up as an email and when you open it you will see the screenshot I described.  Most calendaring applications sending invitations like this.  To test myself, I sent an appointment request from my personal google calendar to my work email account (exchange.)

[2016-05-16 22:34] Corsseir opened #451 "Unity drop-down windows missing shadow"
![screenshot from 2016-05-17 00-34-39](https://cloud.githubusercontent.com/assets/11137173/15305993/2d62bafe-1bc7-11e6-8fa0-267e7bf2b901.png)

It makes drop-down windows completely unreadable.

[2016-05-17 09:44] megax commented on #443
@lots0logs Please test :)

_button.scss
Spinbutton:

[code]

_entry.scss
Entry modify:

[code]

_widgets.scss
And widgets:

[code]

Sample:
![anim](https://cloud.githubusercontent.com/assets/461493/15317951/0c233550-1c24-11e6-8a0b-4c4f37befe98.gif)
![image](https://cloud.githubusercontent.com/assets/461493/15318000/37af497a-1c24-11e6-93b6-b806b7a50669.png)

Not fixed (double border):
![anim](https

[2016-05-17 13:04] SammysHP commented on #335
Can you please reopen this issue? The original issue is not fixed and I like to discuss which assets should be used. Personally I prefer the old assets (red checkmark/bullet on gray/white background) as explained above.

[2016-05-17 13:14] SammysHP opened #452 "GTK 3.20 :: Buttons are too big"
Buttons in Numix are huge – alone and compared to the gtk2 version and the previous official release of Numix.

During my investigation I collected a few facts:
- `button` has a padding, which is fine if it works
- There is a `min-height` and `min-width` for buttons, but this does not include the padding
- The padding/height influences also the height of `entry` with buttons and `combobox`

The go

[2016-05-17 15:17] khurshid-alam commented on #335
@SammysHP Old assets are not hi-dpi capable. Although we could use old assets only for checkbox and radio.

[2016-05-17 15:38] khurshid-alam commented on #452
We haven't optimize the padding yet. Ideally $spacing should vary proportionally between 3px-5px like it used to be. But this requires lot of testing to achieve desired value. You are welcome to try and open a PR.
And varying min-max height is not going to work unless you stop mixing same button code everywhere (toolbar, inline-toolbar, action-bar, entry etc).

In light version paddings are alread

[2016-05-17 15:58] khurshid-alam commented on #443
@megax Entry bug is not a bug. Its intentional. These are not separate entries. Here a single entry splits....

[2016-05-17 16:07] satya164 commented on #335
I prefer a filled checkbox.

[2016-05-17 16:07] wavexx opened #453 "GTK 2/3 menu bar padding"
There's a huge difference in padding between the GTK2 and GTK3 versions of the theme.
In GTK3 menus have way too much padding:

![1463500050](https://cloud.githubusercontent.com/assets/1017726/15329724/0b271f3c-1c5a-11e6-8277-9204a2a5fe45.png)

(in the back, gpick with gtk2, in the front: gucharmap, aligned to the top margin).
It would be nice if we could use GTK2's sizes here to waste less space

[2016-05-17 16:10] wavexx commented on #453
Forgot to mention, this is with GTK3.20, but I noticed the same issue in earlier versions too.

[2016-05-17 16:46] SammysHP commented on #335
@khurshid-alam That's not a problem because one can create new assets with the old design.

@satya164 Don't you think that this mass of red/orange is a bit too much?

[2016-05-17 16:50] satya164 commented on #335
@SammysHP I prefer controls to be a bit prominent. Since these kinds of controls appear only in things like configuration screens, this is not a problem, and actually improve the UX by increasing the visibility of controls. This is similar to how we style switches too.

[2016-05-17 17:11] megax commented on #443
Ohhh. Okay :) Not bug :P

[2016-05-17 17:12] megax commented on #443
@khurshid-alam I modified code implement? :) (double border bug (box shadow) not fixed... later... :) )

[2016-05-17 18:08] khurshid-alam commented on #443
@megax Are you actually importing entry before button? Why? Even though it works, it may break other things. Its Gtk...We won't know which will will override what. :/

[2016-05-17 18:29] megax commented on #443
Test code, it is currently testing. (importing: padding bug spinner button)
I know what gtk... Example: https://github.com/numixproject/numix-gtk-theme/pull/430

Edit: Hmmm, fixed importing..., create PR

[2016-05-17 18:47] megax commented on #443
https://github.com/numixproject/numix-gtk-theme/pull/454

Fixed importing. Other modification? :)

[2016-05-17 19:13] lots0logs commented on #453
I'm pretty sure the padding in GTK3 is intentional and its the GTK2 theme that needs to be adjusted to match. @satya164 ?

[2016-05-17 19:16] lots0logs commented on #452
@khurshid-alam The buttons in your screenshot don't have enough padding IMO. I agree we need to rewrite the button code, but I'm not convinced that there needs to be less padding. :grimacing:

[2016-05-17 20:27] khurshid-alam commented on #452
@lots0logs Yeah....the screenshots was taken with lowest possible padding...I was just responding to SammysHP to show him how $spacing can be adjusted without breaking anything (for lower resolution displays)

And yes, we need to readjust button code slightly, otherwise these "everything is too big" will keep popping up.

[2016-05-17 21:21] wavexx commented on #453
On Tue, May 17 2016, Dustin Falgout notifications@github.com wrote:

In the recent versions, the menus in GTK3 seem to have widened compared
to before.

On <120 dpi, it's ludicrous. Is spacing calculated according to DPI, or
there are raw pixel values at hand?

At >160dpi it looks more reasonable, but there's no way I can use that
spacing on my large external monitor.

[2016-05-18 06:35] khurshid-alam commented on #447
@megax This is our old baobab code (css). Change color values and see if it works.

[code]

If it works, then create a seperate `_baobab.scss` and import that in `_widgets.scss`.

[2016-05-18 15:13] Cyberunner23 opened #455 "GTK 3.20 :: Numix Dark update?"
Numix Dark broke after updating to GTK 3.20 [(screenshot here)](https://imgur.com/4R6KBnS) and I can't find an update for the theme. By broken I mean that buttons and drop down menues have no borders. Will it ever be updated?

[2016-05-18 17:53] #455 closed, assigned to nobody

[2016-05-19 05:03] khurshid-alam commented on #335
@SammysHP Its not just hidpi issue, old assets doesn't blend at all with dark-variant.

[2016-05-19 05:09] khurshid-alam commented on #451
I can read just fine. Beside we don't use shadows for panel menu.

[2016-05-19 06:31] #408 closed, assigned to nobody

[2016-05-19 06:33] khurshid-alam commented on #397
Distro? GTK Version?

[2016-05-19 07:35] khurshid-alam commented on #277
Bottom highlight returned in f696652305bfb. Only thing left is to restore old terminal notebook tab

[2016-05-19 07:57] mvoropaiev commented on #277
@khurshid-alam awesome!
I can confirm that is working when installed from the master branch.
Now I can finally switch back to Numix I guess:)

[2016-05-19 08:28] SammysHP opened #457 "GTK 3.20 :: fine-tune popup background missing"
Adwaita:

![20160519_102648](https://cloud.githubusercontent.com/assets/922874/15387261/7238f242-1dac-11e6-8262-da1427dce1e6.png)

Numix:

![20160519_102712](https://cloud.githubusercontent.com/assets/922874/15387262/725730a4-1dac-11e6-9e59-d734a81c72d3.png)

[2016-05-19 08:29] mvoropaiev opened #458 "Evoltion email client issues"
Hello,
I have just switched back to using Numix theme, building it from master branch on Fedora 23.
All is great for now, but I have encounter some issues (or maybe a wishlist) with Evolution email client, which can be seen at screenshot.

![screenshot from 2016-05-19 11-07-50](https://cloud.githubusercontent.com/assets/6753164/15387212/82deec02-1db4-11e6-9390-2f176d6fc684.png)

Legend:
1. the whi

[2016-05-19 08:46] SammysHP commented on #335
Sorry, but I cannot accept that answer. The current assets are 16x16 px PNGs. Don't tell me that these are "hi-dpi capable". The SVGs in the assets directory are different images. In fact, they seem to be the old version.

[2016-05-19 09:12] SammysHP commented on #335
Here is a quick draft:

Current version:

![assets-old](https://cloud.githubusercontent.com/assets/922874/15388518/93dde92e-1db2-11e6-9f7e-08e24ca72d9f.png)

Proposed version:

![assets-new](https://cloud.githubusercontent.com/assets/922874/15388517/93bbbdfe-1db2-11e6-82e7-5f8e4b18c3fd.png)

[2016-05-19 09:24] #392 closed, assigned to nobody

[2016-05-19 10:16] Corsseir commented on #451
![2d62bafe-1bc7-11e6-8fa0-267e7bf2b901](https://cloud.githubusercontent.com/assets/11137173/15390253/3c7952a0-1dbb-11e6-84d1-11f067f1c5a0.png)
Is this normal for you? These confluent windows?

[2016-05-21 16:47] #359 closed, assigned to nobody

[2016-05-22 09:56] megax opened #463 "GTK 3.20 :: Volume bug"
Bug:
- Background color and volume button
- Slider and arrow button padding

Test app: gtk3-widget-factory

![image](https://cloud.githubusercontent.com/assets/461493/15453379/192fb48c-2014-11e6-98f1-992205e436be.png)

[2016-05-23 12:48] joaodriessen opened #464 "GTK2 :: GTK2 apps :: colour of menu lighter than window border"
for a while now window borders and window menus in GTK2 apps are no longer the same colour.
I much prefer it when they are the same colour.
I understand that you can't use the window menu to drag the window hence I assume the difference in colour is necessary, none the less, can anyone offer a tip on how to set it to be the same colour?

![screenshot at 2016-05-23 14 36 37](https://cloud.githubuse

[2016-05-23 20:30] megax opened #465 "GTK 3.20 :: Stackswitcher button size"
Now:
![image](https://cloud.githubusercontent.com/assets/461493/15483595/bff35978-2135-11e6-9465-f9ac6c28b3be.png)

Corrected:
![image](https://cloud.githubusercontent.com/assets/461493/15483626/e6cca1f8-2135-11e6-9f19-0761e0ccd9fa.png)

Code: `stackswitcher button.text-button { min-width: 100px; } // FIXME aggregate with buttons`
Fixed bug: https://github.com/GNOME/gtk/commit/f7466b236a92dd7eb536

[2016-05-23 20:40] megax commented on #465
@lots0logs, @khurshid-alam opinion?

[2016-05-24 01:59] lots0logs commented on #465
@megax Hmm..this is an issue that cant really be properly solved via the theme (its really a problem with GTK stackswitcher widget. They should all be adjusted to equal width by gtk which would be the width of the widest button) But I digress (sorry). Anyway, I think applying a minimum width in the theme is needed. I just wonder if 100px is the most optimal value for the setting? @khurshid-alam th

[2016-05-24 14:19] imranmunshi commented on #397
Arch Linux with gtk 3.20.6-1

[2016-05-24 16:28] SammysHP commented on #397
The gtk3 implementation of LibreOffice uses a single `widget`. That means that it takes a wrong color for the menu (which is dark gray in Numix). Probably nothing which can be fixed in Numix.

[2016-05-25 07:34] kepler2 opened #466 "GTK 3.20: xfce4-pulseaudio-plugin has incorrect color"
Hello all. I'm using Arch (with XFCE D. E.) with the latest Numix theme installed (GIT version).

If you use the xfce4-pulseaudio-plugin, you may notice that the volume indicator icon is black, instead of white. (it was ok before the infamous GTK 3.20 update) - note that when using Arc theme - for example - the issue does not occur.

Please see the screenshot below:

![numix_pulse_audio](https://c

[2016-05-25 09:53] khurshid-alam commented on #465
That what elementary's granite (a gtk+ extension) does. But it only works for text button.

Well anything below 90px doesn't really have prominent effect. So can set it 90px.

![stackswitcher-90px](http://i.imgur.com/F0vXVor.png)

[2016-05-25 10:48] megax commented on #465
@khurshid-alam Created PR.

[2016-05-25 10:52] megax commented on #466
Related errors: https://github.com/Antergos/Numix-Frost/issues/26

[2016-05-25 12:31] imranmunshi commented on #397
With the Arc Theme it works fine. But you're right, on Numix it may not work at all!

[2016-05-25 18:16] #465 closed, assigned to nobody

[2016-05-27 16:34] khurshid-alam commented on #464
In the theme file, title-bar has same background color as menubar. Somehow Unity using different background color. What is your theme version?

[2016-05-28 14:24] joaodriessen commented on #464
running on arch linux - (aur) latest git.
the screenshot is Thunar running on Mate 1.12

[2016-05-28 14:36] khurshid-alam commented on #464
Then, its mate window manager overriding title-bar color. We don't really have support for mate. It works on old fallback code for Gnome-Panel.

[2016-05-28 15:38] ghost commented on #399
@khurshid-alam, Well, I am now running Ubuntu GNOME 16.04 with GNOME 3.20 and can still reproduce the issue.

[2016-05-28 17:03] megax commented on #304
@khurshid-alam @sljunkie
**Adwaita code:**
gtk 3.18: https://github.com/GNOME/gtk/blob/gtk-3-18/gtk/theme/Adwaita/_common.scss#L2165
gtk 3.20: https://github.com/GNOME/gtk/blob/gtk-3-20/gtk/theme/Adwaita/_common.scss#L2530

Please test numix:
**gtk 3.18:** https://github.com/numixproject/numix-gtk-theme/blob/master/gtk-3.0/scss/widgets/_toggle.scss#L59
old format: `GtkIconView.content-view.cell.ch

[2016-05-28 18:29] khurshid-alam commented on #304
Only old format works for 3.18.

[2016-05-28 18:37] ghost opened #469 "Numix theme practically unusable on Ubuntu GNOME 16.04 with GNOME 3.20"
I have installed Ubuntu GNOME 16.04 with GNOME 3.20 (I upgraded from GNOME 3.18) but now have found that it is practically unusable, the following screenshots should clearly show why (I put a black box of my processes as that is private information):

![gnome-tweak-tool_numix](https://cloud.githubusercontent.com/assets/11575271/15629217/1dad7656-250b-11e6-889e-fac1dcd8fa80.png)

![gnome-tweak-tool

[2016-05-28 20:16] tliron commented on #469
The Numix package in Ubuntu only supports GNOME 3.18. Remove it and install directly from GitHub:

[code]

[2016-05-28 20:17] ghost commented on #469
@tliron, Can't it be made to support GNOME 3.20 there as well?

[2016-05-28 20:32] tliron commented on #469
I'm just a helpful user here, not involved with the project. I think you would need to open that bug on Ubuntu for the packagers there. It's probably something that should be opened in relation to the gnome3-staging PPA, though, because Ubuntu 16.04 does not claim to support GNOME 3.20.

[2016-05-28 23:05] geckolinux commented on #272
@khurshid-alam  Hmm, in Nautilus 3.20.1 on openSUSE Tumbleweed this is still an issue.

[2016-05-28 23:05] axfelix commented on #272
Yeah, not fixed on Arch on 3.20 either

[2016-05-28 23:07] geckolinux commented on #272
Is there a relevant Nautilus bug report for this?

[2016-05-29 12:00] ghost commented on #399
I have now also noticed that this issue is also present in the Adwaita theme so is this issue more central than just Numix or is it just change that Adwaita has the same issue?

[2016-05-29 20:05] AlaeddineMessadi opened #470 "Error after installing : gi._glib.GError: theme.css:74:16'outline-radius' is not a valid property name"
I am trying to **install numix gtk theme**
so I followed those steps:
`sudo apt install python3-gi libglib2.0-bin libgdk-pixbuf2.0-dev ruby-sass libxml2-utils x11-xserver-utils gir1.2-gtk-3.0 gir1.2-glib-2.0 gtk2-engines-murrine`

[code]

Then after `$ /opt/oomox/gui.sh`

and I get This error:

[code]

I followed this post [http://www.webupd8.org/2016/05/easily-create-your-own-numix-based-gtk.html

[2016-05-29 20:16] #470 closed, assigned to nobody

[2016-05-30 11:52] joaodriessen commented on #464
Mate is a rather popular DE and surprised to hear that you don't wish to support it.
Would you point me in the direction of a GTK2 based DE you do support?
I'm running on Raspberry Pi so Lightweight is a priority.
Thanks for the response!

[2016-05-31 05:18] khurshid-alam commented on #464
I didn't day `we don't want to` but rather we `do not have support`. Gtk2 has been deprecated long ago. And mate is moving to gtk3

[2016-05-31 05:18] #464 closed, assigned to nobody

[2016-05-31 18:36] caribpa commented on #272
The workaround I've found for **3.20** using Numix-Frost-Light theme is:
In **_/usr/share/themes/Numix-Frost-Light/gtk-3.20/dist/gtk.css_** find .**nautilus-window paned, .nautilus-window paned:hover** {...} and replace the _background-color_ value with _transparent_.
It will also works with gtk-dark.css (the global dark theme) as long as you follow the same steps for changing the background value

[2016-06-01 02:53] kuboosoft commented on #469
also in Fedora 24 is broken! I use the current git branch

[2016-06-01 04:07] khurshid-alam commented on #469
It has gnome-3.20 support. It just that gnome-tweak tool(3.18) can not select respective folder for gtk-3.20. Try changing theme with dconf.

@SeventhSonOfASeventhSon  Are you installing theme from ppa?

[2016-06-01 04:25] khurshid-alam commented on #272
With Adwaita, Nautilus takes both "**Adwaita.css**" and "**nautilus.css**" while giving the application higher level priority, and Gtk seems to give the `provider added last` a higher priority. It works fine as long as **nautilus,.css** is added **last** (which is what we are doing)...but breaks things while changing theme. Reloading every nautilus instances fixes the issue.

"**nautilus.css**" us

[2016-06-01 04:49] khurshid-alam commented on #399
Its not a theme issue then. Closing.

[2016-06-01 04:49] #399 closed, assigned to nobody

[2016-06-01 16:45] ghost commented on #469
@khurshid-alam, No, I am not installing the theme from the PPA, in my opinion some of the security practices of those managing the main Numix PPA aren't very good so I stopped using it. Instead I am now using the package in the Ubuntu universe repository.

[2016-06-01 16:46] ghost commented on #399
What do you think it could be an issue in then?

[2016-06-01 18:56] khurshid-alam commented on #469
@SeventhSonOfASeventhSon

**That's the reason.** Version in universe **hasn't been updated** for long time and abandoned. It is not really our project...it is a part of shimmer-themes project. It is not compatible with >=Gtk-3.18. Use the version from PPA.

You got a wrong idea about how packages are compiled in universe repo and ppa. It uses same machine and same script. In PPA it pulled the code

[2016-06-01 18:56] #469 closed, assigned to nobody

[2016-06-01 21:32] ghost commented on #469
The only reason I'm not using the PPA is because they don't seem to have a very good security policy for who they accept into their maintainers team... I mean if they added me, they don't have a very good security policy (or at least they are not following it properly). Not that I'm untrustworthy or anything (don't worry, this is not sarcasm, and neither is this), but I accidentally requested to j

[2016-06-02 06:01] khurshid-alam commented on #469
@SeventhSonOfASeventhSon Join what? Team? Joining a team doesn't give you access to other people 's PPA. Actually all the packages in Ubuntu universe come from PPA. It seems you don't have clear idea how debian packaging works. So please keep yourself away from rumors.

[2016-06-02 13:01] megax commented on #430
Even i test, i found errors... =/ (cinnamon-settings)

[2016-06-02 16:46] ghost commented on #469
@khurshid-alam, The Numix Maintainers team on LaunchPad that have direct control over the only official Numix PPA I ever heard of... Is this not the actual one? Also, I'm pretty sure that there are checks on the universe repository packages, there are no proper checks on PPAs.

[2016-06-03 02:29] clauded commented on #451
Try this: edit ~/.config/gtk-3.0/gtk.css and add those lines

[code]

Logout and login and you will have borders around drop down menus. This affects all themes however.

[2016-06-03 14:59] khurshid-alam commented on #430
Ideally `selected_items` code should be in `_base.scss` .Not sure why it was under `_misc` in the first place.

[2016-06-03 21:31] megax commented on #430
@khurshid-alam Not ideally, code bugged... =/

Ideally (I test...): https://github.com/The-Megax/Numix/blob/master/gtk-3.20/scss/_widgets.scss#L45 ("code end")
Adwaita sample: https://github.com/GNOME/gtk/blob/gtk-3-20/gtk/theme/Adwaita/_common.scss#L4193

[2016-06-04 10:49] marcominetti opened #472 "Nautilus desktop background white or gray"
The theme somehow overrides the user-picked color or wallpaper configuration for desktop and always uses white (or gray with global dark theme option) color.

[2016-06-04 11:33] marcominetti commented on #472
Duplicated

[2016-06-04 12:23] satya164 commented on #472
What's your distro, GTK version and Numix theme version?

[2016-06-05 06:02] khurshid-alam commented on #472
#272

[2016-06-08 12:03] gregorydk opened #474 "No pie chart in Properties of mounted drives"
In GNOME the pie chart with used/free space is missing if you look in Properties of a mounted drive.

[2016-06-09 14:47] khurshid-alam commented on #474
Duplicate of #434

[2016-06-09 14:47] #474 closed, assigned to nobody

[2016-06-09 14:56] megax commented on #434
@gregorydk @khurshid-alam Fixed: https://github.com/numixproject/numix-gtk-theme/pull/475

[2016-06-09 15:21] megax commented on #430
@khurshid-alam @lots0logs Massive test... (code modified). I think it will be good :)

[2016-06-09 16:02] megax commented on #466
@kepler2 Fixed bug: https://github.com/numixproject/numix-gtk-theme/pull/478

[2016-06-09 16:04] #434 closed, assigned to nobody

[2016-06-09 16:24] megax commented on #380
Basic support: https://github.com/numixproject/numix-gtk-theme/pull/473

[2016-06-09 16:38] megax commented on #277
@khurshid-alam @lots0logs Fixed, Issue close? :)

[2016-06-09 23:04] #277 closed, assigned to nobody

[2016-06-09 23:05] #466 closed, assigned to nobody

[2016-06-10 01:22] ikuraj commented on #272
I am not sure whether a concensus was reached, but it seems the issue pertains to this particular theme. I could not solve the issue with some of the fixes proposed here, so I just changed my theme to get the background image back.

[2016-06-10 02:04] eveouyang opened #479 "GTK 3.20 :: Combo Boxes, Button Boxes, menus theme doesn't work on xfce4"
Arch Linux
xfce4
gtk3 3.20.6-1

Authenticate Windows can not be seen the text input area.
Combo Boxes, Button Boxes, menus theme style doesn't work on gtk3.20
![screenshot_2016-06-10_09-15-42](https://cloud.githubusercontent.com/assets/8010487/15952328/47821c8e-2ef2-11e6-9aeb-7a1d9ad2400e.png)
![screenshot_2016-06-10_09-53-14](https://cloud.githubusercontent.com/assets/8010487/15952330/4d2658b2-2e

[2016-06-10 05:48] megax opened #480 "GTK 3.20 :: Metacity :: Close button bug (not found)"
**System: Arc linux + Cinnamon 3.0.7 + gtk 3.22**

**Numix:**
Sample: Nautilus settings
![image](https://cloud.githubusercontent.com/assets/461493/15955170/8f762b24-2edf-11e6-865f-de6b70c919ba.png)

**Other theme:**
![image](https://cloud.githubusercontent.com/assets/461493/15955183/a1ad96ec-2edf-11e6-927d-295cbaa7697b.png)

[2016-06-10 08:09] lots0logs commented on #479
Looks like you are not using the latest version of the theme. How did you install it?

[2016-06-10 08:13] eveouyang commented on #479
I had install the latest version.
Here's the version
numix-themes 2.5.1.r233.a6be634-1

[2016-06-10 09:47] #380 closed, assigned to nobody

[2016-06-10 11:00] XRevan86 commented on #380
Merge request is for MATE built with Gtk3. On screenshot it seems to be Gtk2.
Numix already had MATE/Gtk2 support for years, so it can be closed… but not because of #473 :-).

[2016-06-10 12:10] ghost commented on #369
just open hour themerc and replace #333333 with #444444

[2016-06-10 14:41] lots0logs commented on #479
The package in the Arch repos is out of date. Could you try installing the latest git version from the AUR and let me know the result? Thanks.

[2016-06-10 15:18] eveouyang commented on #479
THX lots0logs.
Install latest git version from AUR, It works, Thanks a lot  lots0logs.
I make a mistake that I thought the repos will update in time, so I didn't check the git version.

[2016-06-10 15:18] #479 closed, assigned to nobody

[2016-06-10 20:51] haarp commented on #205
Xfce still uses Gtk2

[2016-06-11 07:45] kepler2 commented on #466
Thank you!

[2016-06-11 08:52] mallardduck commented on #288
I'm also still seeing this issue.

[2016-06-11 21:41] FabianInostroza opened #481 "Dark GTK2 theme"
I've tried to change the gtkrc file to match the dark version of the theme but replacing the colors definitions in the variable "gtk-color-scheme" didn't work. If I do a search and replace of all the color alias then it works.

I'm running Debian Stretch with gtk2.10.

[2016-06-11 22:58] FabianInostroza commented on #480
I don't know if this is as is by design but I've changed that in the metacity theme (see my fork)

[2016-06-12 14:35] megax commented on #272
Fixed bug, removed paned code. #482
Sample:
![image](https://cloud.githubusercontent.com/assets/461493/15991722/92a23e2c-30bb-11e6-8cfd-6eefa4f02d4b.png)

[2016-06-13 06:30] megax opened #484 "GTK 3.20 :: Notebook tabs"
![image](https://cloud.githubusercontent.com/assets/461493/15998730/f0435b9e-3140-11e6-946b-4443d85585eb.png)

Top, bottom tab: Not left border.
Left, right tab: Not top, bottom border.

[2016-06-13 06:30] megax commented on #484
@lots0logs idea? :)

[2016-06-13 12:49] sspreitzer opened #485 "Unix file modes are executable on normal files"
Currently packaging numix-gtk-theme for Fedora Linux.
One major finding in the review process is that generic files have executable bit set but are not executables.

[2016-06-13 12:54] sspreitzer commented on #485
This is maybe the symptom of a wider problem which is quality assurance. Pull requests should have CI runner that quality checks and comments PR about quality.

[2016-06-13 13:54] grigorii-horos opened #486 "Titlebar height"
Window titlebar height in [Terminix](https://github.com/gnunn1/terminix) is biggest than in other apps when I use [Numix](https://github.com/numixproject/numix-gtk-theme) theme
![2016-06-13 16-45-18](https://cloud.githubusercontent.com/assets/4980269/16009883/456869de-3187-11e6-9532-1cd3467af362.png)

[2016-06-13 13:54] grigorii-horos commented on #486
UPD: https://github.com/gnunn1/terminix/issues/378

[2016-06-13 14:06] bilelmoussaoui commented on #486
It has nothing to do with terminix, theres à huge padding with almost all
apps
Le 13 juin 2016 15:54, "Grigorii Horos" notifications@github.com a écrit :

[2016-06-13 16:50] khurshid-alam commented on #486
@horosgrisa Weird. Can you install from git master and check if it is still happening?

@bil-elmoussaoui Can you clarify? Which apps are you talking about?

[2016-06-13 17:52] grigorii-horos commented on #486
@khurshid-alam I use

[code]

[2016-06-13 17:58] bilelmoussaoui commented on #486
@khurshid-alam Gnome Tweak Tools, Nautilus, Terminix...

[2016-06-13 18:25] megax commented on #486
@khurshid-alam Archlinux -> cinnamon desktop: Not reproduced bug
![image](https://cloud.githubusercontent.com/assets/461493/16018498/f6ded032-31a4-11e6-8d65-0a1146611e61.png)

[2016-06-14 00:20] lots0logs commented on #486
I cannot reproduce this either (also using Cinnamon on Arch)

[2016-06-14 00:21] bilelmoussaoui commented on #486
Can you guys try it on Gnome?

[2016-06-14 01:57] gnunn1 commented on #486
I updated the bug report in Terminix (and closed it), as far as I can tell it's a bug with Numix as gedit as a larger headerbar as well. You can see a screenshot illustrating this in the terminix bug report.

[2016-06-14 18:34] khurshid-alam commented on #486
@horosgrisa Please reinstall and try again.

[2016-06-14 18:41] #436 closed, assigned to nobody

[2016-06-15 12:15] megax commented on #486
Tested virtual pc (virtual Nautilus and Native (cinnamon desktop) Nautilus):
![image](https://cloud.githubusercontent.com/assets/461493/16079383/8fe4dfc4-3303-11e6-90a2-13cb6f741396.png)

[2016-06-15 12:25] grigorii-horos commented on #486
@bil-elmoussaoui Sorry, I forgot to mention, I use font scale 1.5.

[2016-06-16 23:52] jbicha opened #488 "Numix theme should show in MATE's theme picker"
Numix doesn't show up in Mate's theme picker (mate-appearance-properties) after it's installed.

It looks like all that's missing is for index.theme to select a default icon theme.

I suggest we default to Numix. Unfortunately many users may not have it installed. We'll need to encourage distros to have numix-gtk-theme depend on numix-icon-theme.

Here's  a screenshot of what it looks like if user

[2016-06-16 23:59] jbicha commented on #488
Otherwise, distros can patch the line to say IconTheme=Adwaita or whatever

[2016-06-17 00:47] lots0logs commented on #488
Does this file follow the same spec as icon themes in regards to fallbacks? I'll need to check on it before merging. Anyway, thanks! We'll get to it asap.

[2016-06-17 01:46] jbicha opened #490 "Remove unnecessary executable permissions"
Many of the files in this repository have the +x permission but don't need it and therefore shouldn't have it.

[2016-06-17 01:52] lots0logs commented on #490
We are going to take care of this during CI checks, just havent had time to do it yet. Thanks though!

[2016-06-17 01:52] #490 closed, assigned to nobody

[2016-06-17 01:54] jbicha commented on #490
Just run
`find . -type f -exec chmod -x {} \;`

[2016-06-17 21:19] jbicha commented on #488
Maybe the Icon-Theme should be set to Numix-Circle.

It's a bit tricky though because I prefer upstream app icons like Firefox's, but Numix alone doesn't theme the GNOME Settings app enough.

As far as I know, mate-appearance-properties is the only thing that pays attention to the Icon-Theme setting in index.theme.

[2016-06-18 07:21] khurshid-alam commented on #488
I just added `numix-icon-theme` under suggests (http://bazaar.launchpad.net/~numix/numix/deb-packaging/view/head:/debian/control) for Ubuntu. As of now, We can not add it under `depends` or `recommends` as the icon-theme is only available under PPA for Debian/Ubuntu unlike numix-gtk-theme which is also available on Ubuntu repo provided by `shimmer-themes` package. Everything will get fixed once we

[2016-06-18 07:48] khurshid-alam commented on #428
Fixed in a173892

[2016-06-18 07:48] #428 closed, assigned to nobody

[2016-06-18 08:18] khurshid-alam commented on #393
Please deselect `Use system title bar and borders` if that fixes the issue you.

![screenshot-chromium](http://i.imgur.com/Sf6B5tw.png)

[2016-06-18 08:18] #393 closed, assigned to nobody

[2016-06-18 10:20] #208 closed, assigned to nobody

[2016-06-18 10:21] #203 closed, assigned to nobody

[2016-06-18 16:15] khurshid-alam commented on #486
@megax So the issue exists? Gtk and nautilus version? It could be the issue with icon sizes (which means a gtk bug?)

[2016-06-18 16:26] megax commented on #486
@khurshid-alam Yes, the issue exists. Archlinux: gtk 3.20.6-1, Nautilus: 3.20.2

Edit: Not reproduced bug Adwaita.

[2016-06-18 16:28] joelostblom commented on #393
Tried that, the background is still black, it used to be lighter and go well with the title bar.

With system title bars.
![image](https://cloud.githubusercontent.com/assets/4560057/16172116/056d1fa2-354f-11e6-8ec2-7fabfbf41512.png)

Without system title bars.
![image](https://cloud.githubusercontent.com/assets/4560057/16172128/43e0ed7c-354f-11e6-82b0-cd0be3ec8966.png)

[2016-06-18 17:00] khurshid-alam commented on #486
@megax What happens when you compile manually on virtual machine?

[2016-06-18 17:39] megax commented on #486
@khurshid-alam Cloned compile system (my desktop) theme (latest numix theme (git)).

[2016-06-18 18:35] lots0logs commented on #486
@horosgrisa Could you post a screenshot of the issue with the Adwaita theme active so we can compare it to the other screenshot you already posted? (be sure that your font-scale settings are the same as before---1.5)

[2016-06-18 19:16] grigorii-horos commented on #486
@lots0logs
![2016-06-18 22-10-41](https://cloud.githubusercontent.com/assets/4980269/16173176/12dce21e-35a2-11e6-8350-8f2a79d06fde.png)
![2016-06-18 22-11-35](https://cloud.githubusercontent.com/assets/4980269/16173177/12ed4d2a-35a2-11e6-9c23-97fd79eebea3.png)
![2016-06-18 22-11-45](https://cloud.githubusercontent.com/assets/4980269/16173178/12fb47a4-35a2-11e6-82c1-8d51fffbb135.png)
![2016-06-18 2

[2016-06-18 19:19] grigorii-horos commented on #486
Bug only with font-scale 1.5:
![2016-06-18 22-19-00](https://cloud.githubusercontent.com/assets/4980269/16173209/bbbef084-35a2-11e6-8f67-1593d0015ec1.png)

[2016-06-18 19:41] lots0logs commented on #486
@horosgrisa Is the font scale set to 1.5 in this one? https://cloud.githubusercontent.com/assets/4980269/16173177/12ed4d2a-35a2-11e6-9c23-97fd79eebea3.png

[2016-06-18 19:46] jbicha commented on #488
It would be a lot easier for me to get numix-icon-theme into Ubuntu if you guys actually [tagged a release](https://github.com/numixproject/numix-icon-theme/issues/855).

[2016-06-18 19:52] grigorii-horos commented on #486
@lots0logs Yes, font-scale 1 only in last screenshot with numix
https://cloud.githubusercontent.com/assets/4980269/16173209/bbbef084-35a2-11e6-8f67-1593d0015ec1.png

[2016-06-21 00:34] jbicha commented on #227
I believe this is a duplicate of issue #488

[2016-06-21 00:36] lots0logs commented on #227
I think you mean the other way around as this issue predates #488 :wink:  We'll continue this over on #488 anyway though!

[2016-06-21 00:36] #227 closed, assigned to nobody

[2016-06-21 05:42] lburgazzoli opened #491 "Copr repo update"
I see that the latest copr build for fedora is dated 2016-04-17, would it be possible to do a new release for Numix v2.6.0 ?

[2016-06-24 23:44] fitojb commented on #397
Can you test again with LibreOffice 5.2?

[2016-06-30 13:57] encounter commented on #491
Numix themes are now available in the main Fedora repositories. You can switch to those versions by running

[code]

It will say "downgrading" for the Numix packages, but that's only because the versioning is different.

[2016-06-30 14:12] #491 closed, assigned to nobody

[2016-06-30 14:12] lburgazzoli commented on #491
thx

[2016-07-02 05:49] khurshid-alam commented on #480
@FabianInostroza This only for gtk-2? right? Shouldn't mate window-manager decorate window button?

[2016-07-02 06:14] khurshid-alam commented on #458
@mvoropaiev
Right
1. Evolution uses its own decoration style under column header view. So its not themed properly for dark mode.
2. Only in dark mode right? Can you post a screenshot with light mode?
3. That is message infobar color. Looks ok in light mode.

Dark mode has better theme support in Gtk-3.20, i.e fedora 24.

[2016-07-02 06:18] khurshid-alam commented on #481
I don't really understand. If you have particular gtk2 bug, report here.

[2016-07-02 06:18] #481 closed, assigned to nobody

[2016-07-03 17:00] makitso opened #492 "Xubuntu Numix theme and gtk2-engines-murrine"
Seems that a recent update to gtk2-engines-murrine on xubuntu 16.04 causes the desktop icon or folder text and shadows to diverge.  Problem does not affect any of the other xubumtu themes.

[2016-07-03 21:23] makitso commented on #492
Ok, have confirmed that the standard Nimux theme has a problem with the recent upgrade to GTK2-engines-murrine on the xubuntu 16.04 system.  In gtkrc in folder usr/share/themes/Numix/gtk-2.0, if you change line 531 to read textstyle = 0 the problem goes away.

[2016-07-04 05:25] ajarara opened #493 "Fedora packages the dependencies with a different name"
on fedora 24
glib-compile-schemas
    is provided by glib2-devel
gdk-pixbuf-pixdata
    is provided by gdk-pixbuf2-devel

just updating the readme would save a lot of people time.

[2016-07-04 09:50] sspreitzer commented on #493
Hi @alphor

I try to understand the problem. Can you please explain a bit further what the problem situation is?
Can you even provide a pull request for to change the README so we see what you are proposing?

[2016-07-04 10:24] lots0logs commented on #493
@alphor As of about a month ago, the theme is available in the official fedora repositories so you shouldn't need to worry about handling dependencies manually.

[2016-07-04 15:13] ajarara commented on #493
Ooh, you're right.

I can PR the Readme and add the names of the libs anyway, but if they're in the repos, it doesn't really matter.

[2016-07-06 16:49] mrlotfi commented on #486
i think the gtk3.20 version's titlebars are still too much thick. Will this get fixed?
![screenshot from 2016-07-06 21-17-51](https://cloud.githubusercontent.com/assets/9977153/16626643/1cba3b12-43bf-11e6-98ba-aa6e0daf83aa.png)

[2016-07-07 12:55] ShawsZzz opened #494 "Color customized"
Hi artists:

I need your help! I have installed the black numix on my ubuntu 16.04, but i am wondering how to exchange the "menu_bg_color" and “menu_fg_color”...

[2016-07-07 15:01] marmis85 commented on #486
I'm not really sure if it's related, but I have noticed that if I switch to the Adapta theme and then back to Numix, the headerbars get messed up like the screenshot in the OP.
Then if I switch to Adwaita and back to Numix the problem is resolved.

Using Numix from git master and GTK 3.20 on Arch Linux, no font scale

[2016-07-08 14:48] khurshid-alam commented on #486
Any specific way to reproduce the issue?

[2016-07-10 16:46] khurshid-alam commented on #494
You mean Dark Numix? Can you post a screenshot about the issue?

[2016-07-12 12:59] ShawsZzz commented on #494
@khurshid-alam
Thanks for your attention!

I install Numix by adding ppa and then typing "sudo apt install numix-gtk-theme". Now i want to make some change, for example, make the "menu_bg_color" white and the "menu_fg_color" black. Sorry for my English...

Note: There is a screenshot bug(the blurry menu) in the image, not Numix's bug. Here's the screenshot image:
![hi](https://cloud.githubusercont

[2016-07-12 14:15] gaea44 opened #495 "Missing gtk.css file"
Hi,

I'm trying your theme under my Debian 8.5 with xfce 4.10 and lightdm enabled.
All seems great, but some apps shows either glitches (Firefox 47.0.1) or are completely transparent (Gedit) :
![ff](https://cloud.githubusercontent.com/assets/8070041/16770078/88cac052-484b-11e6-9a37-5f47710d33eb.png)
![gedit](https://cloud.githubusercontent.com/assets/8070041/16770079/88cc25fa-484b-11e6-9b6a-660d4e

[2016-07-12 14:17] khurshid-alam commented on #494
You can change color values in https://github.com/numixproject/numix-gtk-theme/blob/master/gtk-3.0/scss/widgets/_menu.scss for .menu, .menubar and popover section. Then you need to recompile the theme.

[2016-07-12 14:17] #494 closed, assigned to nobody

[2016-07-12 15:57] khurshid-alam commented on #495
How did you install it? @gaea44 ?

[2016-07-12 19:19] marmis85 commented on #486
In my case it happens if you have a Nautilus window open and you switch back and forth between Numix and Adapta themes, Nautilus' headerbar get "stretched" vertically, but I think it's a problem with Adapta because it also breaks Adwaita (I was wrong before)...

[2016-07-13 05:50] khurshid-alam commented on #486
@marmis85 Please answer following;
1. Font scale settings
2. What happen when you run `nautilus -q` or `sudo killall nautilus` and then open nautilus through GUI? Does headerbar still remain stretched?
3. Is it reproducible with any other application beside nautilus and terminix?

[2016-07-13 09:45] marmis85 commented on #486
@khurshid-alam
1. Font scaling is 1
2. If I kill or quit and then reopen Nautilus the problem is fixed
3. As far as I can tell in my case it happens only with Nautilus

[2016-07-13 16:22] ghost commented on #492
I can confirm this. After Fedora 24 update ,which got me new version of gtk-murrine-engine-0.98.2-9.fc24.x86_64, I had text floating left to the icon with shadow in usual place. Fix provided by @makitso works. I also found reddit thread where ubuntu user had same problem, so maybe we need a fix

[2016-07-15 05:59] #492 closed, assigned to nobody

[2016-07-16 02:02] leoheck opened #497 "Terminal dark tabs"
Hi, someone knows how to change the terminals tab-bar to dark or more like numix?
They never match the theme, look (terminator in front of gnome-terminal):

![screenshot from 2016-07-15 22-59-02](https://cloud.githubusercontent.com/assets/1277920/16892141/f2706c50-4adf-11e6-8b54-1414dfe94c2a.png)

Ps.: Gnome-terminal tab height is huuuge. I hate it. :)

[2016-07-16 16:20] khurshid-alam commented on #497
With Gtk-3.20, you can use dark variant for gnome-terminal. Go to Edit → Preferences and set Variant to dark.

![gnome-terminal-dark](https://cloud.githubusercontent.com/assets/922874/15186000/965703ba-179b-11e6-9c4f-5835f7ef1ee8.png)

[2016-07-16 16:20] #497 closed, assigned to khurshid-alam

[2016-07-16 18:51] leoheck commented on #497
But there are other terminals... I am asking about the theme customization.

[2016-07-16 20:19] satya164 commented on #497
We can by default have dark tabs in terminals.

[2016-07-18 23:37] ingria opened #498 "GTK 3.0 :: Nautilus :: Dialog buttons don't have margin between each other"
Right bottom buttons are butted to each other.

| Numix: |
| --- |
| ![Numix](https://cloud.githubusercontent.com/assets/2178368/16933746/6b0e27c8-4d61-11e6-95ad-86a7f81c10d1.png) |

| Ubuntu Ambiance: |
| --- |
| ![Ambiance](https://cloud.githubusercontent.com/assets/2178368/16933749/6eea3990-4d61-11e6-9a42-a26e4fa3a727.png) |

Ubuntu 16.04

[2016-07-19 18:54] #498 closed, assigned to khurshid-alam

[2016-07-19 20:08] khurshid-alam commented on #497
@leoheck Dark mode was removed from terminal in 3.16 and returned in 3.20. Other terminals should respect global theme variant. If Terminix doesn't do that then it is a bug in terminix.

That said I am ok with dark mode as default for Terminals.

[2016-07-20 15:06] ingria opened #499 "GTK 3.18 :: Firefox :: Address suggestion panel has too dark color for URL"
Dark blue color (#3F51B5) is nearly unreadable:

![numix](https://cloud.githubusercontent.com/assets/2178368/16991270/0cc6b044-4eac-11e6-9cbe-ea6c8858b279.png)

Ambiance has an orange color for both URL and selection background (#DF7245):

![ambiance](https://cloud.githubusercontent.com/assets/2178368/16991306/25860418-4eac-11e6-9c7c-80063392eff2.png)

Suggestion: use color #F0544C for URL.

_Rela

[2016-07-20 16:06] leoheck commented on #497
@khurshid-alam my gnome-terminals `3.18.3` don't have the dark variant you described. At least under the Preferences as you said. Also I did not mention terminix, I told `terminator`, but I believe it is the same issue for each `*term*` name we find. I am looking for a numix-like customization for the white tab bars that does not fit well with the theme. I use terminas 100% of time I believe other

[2016-07-20 18:43] khurshid-alam commented on #497
That's because gnome-dev remove that feature in 3.18. Anyway, dark-mode (which will be default) for 3.18 is on the way.

[2016-07-20 19:54] khurshid-alam commented on #497
Fixed in 749cfa3.

![dark-mode-terminal](http://i.imgur.com/qJYhNpW.png)

[2016-07-20 23:52] ingria opened #500 "GTK 3.18 :: Totem :: Ubuntu 16.04 should have special videoplayer style"
Here's how Video's (Totem) media playback control panel looks with Numix theme:

![numix](https://cloud.githubusercontent.com/assets/2178368/17006914/655cc0d8-4ef5-11e6-86e7-5a1d2e1eab40.png)

Ambiance:

![ambiance](https://cloud.githubusercontent.com/assets/2178368/17006922/6f1f92bc-4ef5-11e6-9755-6caca0625c6f.png)

The panel has to have greater padding, also buttons should not have borders and b

[2016-07-21 02:32] lots0logs commented on #500
I agree that the style for the playback control panel  could use some love. However, the goal is not to look the same as Ambiance. The goal is for it to look like it fits in with the rest of the numix theme. With that in mind, only a few minor touchups are needed IMO.

[2016-07-21 03:17] ingria commented on #500
Of course. Ambiance just shows the main concept, created by Ubuntu devs (touch-friendly controls, not just usual buttons).

[2016-07-21 08:27] acutbal opened #501 "Plank has green icon badges on Ubuntu Mate."
Hi,

I've realized that Plank has green icon badges on Ubuntu Mate 16.04, I don't know if this is a bug or a feature. This only happens with Numix theme, others are not affected.

![pantallazo-2016-07-21 10-17-37](https://cloud.githubusercontent.com/assets/2278584/17016101/c08ef894-4f2d-11e6-8b21-0a3a6c27855e.png)

Best regards!!

[2016-07-21 12:15] LogicStuff opened #502 "Invisible buttons on active windows - Ubuntu 16.04, Unity 7.4, GNOME 3.20"
Active windows don't show the control buttons:

![a](https://cloud.githubusercontent.com/assets/11589772/17022083/48b048e0-4f4c-11e6-98d5-8fa4c1a25051.png)

(I'm able to see them for a while in an animation when I close a window)

Is this intentional (for differentiation of the active window)? If yes, couldn't it be done another way?

[2016-07-23 01:11] leoheck commented on #497
Yeah, I installed numix on a new pc today and became surprised that gnome-terminal was like your picture. Good job @khurshid-alam!

Please, it is possible to extend this to other terminals like terminator?

[2016-07-24 21:23] LogicStuff commented on #502
On the other hand, shouldn't be window title bars dark grey - `#444444`, same as the menu bar? Maybe there's a problem with my configuration.

[2016-07-25 11:25] khurshid-alam commented on #502
How exactly are you using Unity with Gtk-3.20 in 16.04? If you are using Ubuntu-Gnome ppa, it is only meant for gnome shell. Unity with Gtk-3.20 in 16.04 will appear broken.

[2016-07-26 05:41] jbicha opened #503 "Don't install GTK3 source files"
The Makefile installs a bunch of source files that aren't needed and not used since they are compiled into `gtk.gresource`.

[2016-07-26 07:06] #503 closed, assigned to nobody

[2016-07-26 12:46] LogicStuff commented on #502
I'm using it wrong, then. But it's not that broken.

[2016-07-26 12:46] #502 closed, assigned to nobody

[2016-07-26 17:57] khurshid-alam commented on #499
Changing url color globally could affect chromium and other browser.  If its a firefox specific issue, it should only be fixed for firefox.

[2016-07-27 18:18] #499 closed, assigned to nobody

[2016-07-27 18:21] khurshid-alam commented on #501
It's a feature. `Green` signifies **unread** messages. And it's not a gtk-theme issue.

[2016-07-27 18:21] #501 closed, assigned to nobody

[2016-07-27 18:23] khurshid-alam commented on #495
On Debian you can directly install from this deb. https://launchpad.net/~numix/+archive/ubuntu/ppa/+files/numix-gtk-theme_2.6.0+514~201607261318~ubuntu16.04.1_all.deb

[2016-07-27 18:23] #495 closed, assigned to nobody

[2016-07-27 18:36] khurshid-alam commented on #480
@albertsmuktupavels Can you please look into the issue?

@FabianInostroza suggested to change it from
`<frame_style name="dialog_focused" geometry="nobuttons">` to
`<frame_style name="dialog_focused" geometry="max">` in metacity-theme-3.xml. Is this the proper way to do this?

These issues do not happen with Gtk-3.18.

[2016-07-27 19:01] acutbal commented on #501
@khurshid-alam My apologies, I thought it was a bug because in other themes the icon badges are red.

Best regards!! :smile:

[2016-07-27 19:02] muktupavels commented on #480
What here is meant with Metacity - theme itself or window manager? Because Metacity theme is used also by other window managers... If Metacity 3.20 is used I would suggest to start using GTK+ theme.

Main problem here is that Nautilus used to have close button in dialog, but it has been removed. Metacity themes are in control whether to show buttons or not.  So proper solution is to update themes

[2016-07-27 19:31] khurshid-alam commented on #480
@albertsmuktupavels

Window Manager. I think @megax is using flashback metacity session with Gtk-3.20 (on Arch perhaps). Not sure about the metacity version though. I will try to reproduce and comment here.

Ah. Right. We are using nobuttons for dialogs which has `hide_buttons=true`. Something like this:

[code]

We can simply change `geometry="nobuttons"` to `geometry="normal"`. It would change a

[2016-07-29 15:59] Sispheor commented on #305
Hi! Same for me, after the upgrade from 14.04 to 16.04. The theme has been applied, exept for the windows border.
Here a [screenshot](https://postimg.org/image/9ssyhun4n/)
I tried to run compiz --replace everything mentioned in that thread. No changes.
I also tried to uninstall Numix and reinstall.

[code]

[2016-07-29 16:04] khurshid-alam commented on #305
It has 1px window border. It can not be increased as it produces other bugs for some window managers.

[2016-07-30 12:41] Sispheor commented on #305
What I mean is that the top bar looks like Ambiance GTK theme and not numix.

[2016-07-30 14:34] khurshid-alam commented on #305
That because metacity theme doesn't change when you change theme through tweak-tool (Gnome removed that feature). You can manually set metacity theme from dconf-editor.

[2016-08-01 03:54] ghost opened #506 "GTK Error with Python Plotting"
Thanks for the fantastic theme! I've encounter a small issue when plotting figures using matplotlib in Python. Specifically I get the following error with the simplest plotting command:

`Gtk-WARNING **: Theme parsing error: gtk-dark.css:67:29: The style property GtkStatusbar:shadow-type is deprecated and shouldn't be used anymore. It will be removed in a future version`

When I turn off the dark

[2016-08-01 08:03] Sispheor commented on #305
I tried

[code]

But still not working :(

[2016-08-01 08:08] Sispheor commented on #305
It works! Missing upercase. Thx all!

`gsettings set org.gnome.metacity theme Numix`

[2016-08-03 11:12] bilelmoussaoui commented on #409
@dannymichel take a look at this http://www.webupd8.org/2010/06/make-wine-applications-look-like-your.html never tried it before.
@khurshid-alam this can be closed i guess!

[2016-08-03 11:14] bilelmoussaoui commented on #389
I can give it a try. But never created a shell theme before. Is there any code style that is should follow ? :+1:

[2016-08-03 16:55] #409 closed, assigned to nobody

[2016-08-04 19:50] sojusnik commented on #389
Did somebody found meanwhile a proper replacement for the default Adwaita gnome-shell theme for Gnome 3.18 to somehow match the Numix Gtk theme? [This](https://www.gnome-look.org/content/show.php/Numix+Style+Shell+%e2%80%93+GNOME+3.16?content=174477) one was my closest choice for 3.16, but on 3.18 it looks even worse.

[2016-08-04 20:08] lots0logs commented on #389
@sojusnik Have you tried [NumixFrost](https://github.com/Antergos/Numix-Frost/tree/master)?

[2016-08-05 09:09] SammysHP commented on #397
@fitojb
Yes, with LO 5.2 everything is ok! This issue can be closed.

[2016-08-05 09:39] sojusnik commented on #389
@lots0logs I know NumixFrost, but its color scheme is not matching the one in Numix. Apart from that, both the GTK and the Gnome-Shell theme look weird on Ubuntu 16.04.

[2016-08-05 09:43] ghost commented on #469
Also, just wanted to let you know that I have now had this issue sorted out with the main GNOME3 PPA for Ubuntu which now ships the latest version of the Numix GTK Theme and it works with GNOME 3.20 perfectly fine.

[2016-08-05 17:28] lots0logs commented on #389
@sojusnik It doesnt support ubuntu for the gtk theme. The shell theme is in need of an update for sure but it does still work for now :sweat_smile:

[2016-08-06 04:18] ingria opened #507 "GTK 3.18 :: Firefox 48 :: New address suggestion panel"
New panel in Fx 48 has:
- white background
- favicon
- single-line design

![2016-08-06 07-14-58](https://cloud.githubusercontent.com/assets/2178368/17454625/f38bdf28-5bad-11e6-8695-57ca1f378017.png)

[2016-08-06 17:25] #397 closed, assigned to nobody

[2016-08-08 06:26] marcominetti commented on #472
GTK 3.20, Ubuntu 16.04 based with Gnome 3 PPA (3.20)... The problem seemed to be solved (with minor issues - wrong select icon label background color when desktop is not focused) but now it is back again... I've tried Arc theme and it is not affected from this bug, so IMHO is not a problem of nautilus as read somewhere in the issues...

[2016-08-08 06:27] marcominetti commented on #472
https://github.com/numixproject/numix-gtk-theme/pull/482

[2016-08-08 21:51] Sakrecoer opened #508 "Missing and unsynchronized SVGs"
Hi,

Over at Ubuntu Studio, we are looking into customizing the colors of this fantastic theme to our color-scheme, and while doing so, i noticed that the SVGs aren't synchronized with the PNGs. That is; the source SVG-files have a completly different look from the PNG-files used by https://github.com/numixproject/numix-gtk-theme/blob/master/gtk-3.0/gtk.gresource.xml

Also, some PNGs are missing t

[2016-08-09 06:37] khurshid-alam commented on #508
These are old svgs from old design. When we brought new assets, only png files are uploaded (introduced in bf32925).

May be @satya164 can tell where are those new asset-svgs?

[2016-08-09 06:42] satya164 commented on #508
@khurshid-alam I actually have a `.sketch` file. Right now I'm at office, but ping me later tonight and I'll export and send you the SVGs.

[2016-08-09 06:43] khurshid-alam commented on #508
@satya164 Cool. Thanks.

[2016-08-09 18:33] laur89 opened #509 "gtk3 has weird window menu items"
Gtk3 version has weird window menu items (if that's the name) - [see the '_MeldFileEdit..._' section](https://i.imgur.com/dqktz94.png)

Not sure if bug, but something looks a bit off.

Running Debian stretch, no desktop environment.
gtk ver **3.20.6-2**

[2016-08-10 09:07] Sakrecoer commented on #508
Thank you for your quick respone @satya164 and @khurshid-alam !

Looking forward to those assets!

Thank you for your time and consideration!

Yours,
Sakrecoer

[2016-08-10 13:32] Sispheor opened #510 "Main color switched from #333333 to #444444 ?"
After a fresh install of Ubuntu 16.04 and Numix from the ppa.
The main color is now lighter. I used a color piker to check the value of the color. It's #444444.

If I look at the [official website](http://satya164.github.io/numix/), the main color should be #333333. Doesn't it?

Here is a screenshot [![#444444.png](https://s9.postimg.org/r3qxh2yun/444444.png)](https://postimg.org/image/5u3b68ijv/)

[2016-08-10 15:08] khurshid-alam commented on #510
Yes. It is due to new design.

[2016-08-10 15:08] #510 closed, assigned to nobody

[2016-08-10 15:11] khurshid-alam commented on #509
Not sure what's the issue here?...Meld I think, using Gtk-2.

[2016-08-10 15:14] laur89 commented on #509
Issue is that the window menu buttons don't appear to be properly formatted. No styling, and see how they are all together without any spacing.

[meld](http://meldmerge.org/) uses gtk3+;
tested it also with [go-for-it](https://github.com/mank319/Go-For-It), which is gtk3 app as well - same result.

[2016-08-10 15:16] khurshid-alam commented on #509
Numix theme version? Are you using it from PPA?

[2016-08-10 15:16] laur89 commented on #509
Built it according to the project readme; ver is the current state of master.

[2016-08-10 15:19] khurshid-alam commented on #509
Can you post bigger screenshot? From the above screenshot, it looks like you are still using our old theme.

[2016-08-10 15:21] laur89 commented on #509
Once I get back from work.

[2016-08-10 20:15] laur89 commented on #509
[full screen shot of meld](https://i.imgur.com/tlOhvT1.png)

[2016-08-12 13:40] killermoehre opened #511 "GTK3-theme for xfce4-notifyd"
Hi,

with xfce4-notifyd 0.3.0 the conversation to GTK3 was done. But now a new theme is needed. See https://git.xfce.org/apps/xfce4-notifyd/tree/README?id=xfce4-notifyd-0.3.0 for hints.

[2016-08-13 10:34] Sakrecoer commented on #508
Hi guys! Not too sure when tonight is under your latitudes, and i don't mean to be nagging. Just thought i'd poke the issue :) Hope you don't mind...

Thankful regards,
Sakrecoer

[2016-08-13 15:33] satya164 commented on #508
Sorry. Seems @khurshid-alam forgot to ping me. Here is the zip with SVGs

[numix-assets.zip](https://github.com/numixproject/numix-gtk-theme/files/416643/numix-assets.zip)

[2016-08-14 14:42] khurshid-alam commented on #508
Ah. Sorry. Completely forgot about that. But it seems there is some sort download problem.

[2016-08-14 15:30] Sakrecoer commented on #508
Seems the download works fine here! Thank you guys, means a lot for us!!

[2016-08-16 01:38] lots0logs commented on #511
@sammko Thanks, we'll take a look at your PR ASAP!

[2016-08-17 20:09] Gallandaluz commented on #372
I confirm the fix in Firefox 48. Do you?

[2016-08-17 21:11] toupeira commented on #372
@MaycneSonahoz careful, Debian (and I assume most of its derivatives) switched back to using Gtk+ 2 in their builds because of the known theming issues with Gtk+ 3.20. Are you sure you're in fact using a Gtk+ 3 build?

References:
- https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=822807
- https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=832301

[2016-08-17 21:17] Gallandaluz commented on #372
@toupeira I'm on Manjaro (Arch derivative), which does use the GTK3 version.
https://www.archlinux.org/packages/extra/x86_64/firefox/

[2016-08-21 15:22] megax commented on #509
Tested Arch linux (meld 3.16.2-1)
![image](https://cloud.githubusercontent.com/assets/461493/17838055/d2f1159a-67c3-11e6-8ec3-e7d8eba1f342.png)

[2016-08-22 14:35] khurshid-alam commented on #509
@megax In the above image everything looks good. Or is there a issue?

[2016-08-22 16:52] megax commented on #485
@sspreitzer https://github.com/numixproject/numix-gtk-theme/pull/515

[2016-08-22 17:00] megax commented on #197
@khurshid-alam, @dirtydancing Still having trouble?

[2016-08-22 17:02] megax commented on #112
@khurshid-alam Still having trouble?

[2016-08-22 17:03] megax commented on #113
@khurshid-alam Still having trouble?

[2016-08-22 17:04] megax commented on #124
@khurshid-alam, @dschaefer79 Still having trouble?

[2016-08-22 17:09] megax commented on #192
@khurshid-alam Not actually. Modified nemo... :)
![image](https://cloud.githubusercontent.com/assets/461493/17863883/f6bf2376-689b-11e6-9ab1-34048252332b.png)

[2016-08-22 17:10] megax commented on #193
@khurshid-alam Still having trouble?

[2016-08-22 17:12] megax commented on #196
@khurshid-alam Still having trouble?

[2016-08-22 17:13] megax commented on #206
@khurshid-alam Still having trouble?

[2016-08-22 17:15] megax commented on #207
@khurshid-alam Not fix. Too much work. =/
GTK 3.20 fixed.

[2016-08-22 17:16] megax commented on #272
@ItachiSan @khurshid-alam Tested? Fixed? :)

[2016-08-22 17:18] megax commented on #233
@Foggalong @khurshid-alam Still having trouble?

[2016-08-22 18:15] #484 closed, assigned to lots0logs

[2016-08-22 19:20] #112 closed, assigned to nobody

[2016-08-22 19:20] khurshid-alam commented on #112
Fixed in 3.20

[2016-08-22 19:21] khurshid-alam commented on #113
Already fixed.

[2016-08-22 19:21] #113 closed, assigned to nobody

[2016-08-22 19:22] #124 closed, assigned to nobody

[2016-08-22 19:23] #197 closed, assigned to nobody

[2016-08-22 19:23] #192 closed, assigned to nobody

[2016-08-22 19:24] khurshid-alam commented on #193
Fixed.

[2016-08-22 19:24] #193 closed, assigned to nobody

[2016-08-22 19:26] #206 closed, assigned to nobody

[2016-08-22 19:26] #207 closed, assigned to khurshid-alam

[2016-08-22 19:27] #272 closed, assigned to nobody

[2016-08-22 19:27] #196 closed, assigned to nobody

[2016-08-22 19:33] megax commented on #288
@khurshid-alam Fixed 3.20

[2016-08-22 19:34] #288 closed, assigned to nobody

[2016-08-22 19:38] megax commented on #509
@khurshid-alam there are errors, for example: `black sperator`, `button default color` (not background color) ... but it is not meld an error

Sample bug:
https://github.com/numixproject/numix-gtk-theme/issues/403

[2016-08-22 19:39] megax commented on #349
@khurshid-alam Still having trouble?

[2016-08-22 19:39] #349 closed, assigned to nobody

[2016-08-22 19:40] megax commented on #296
@khurshid-alam Still having trouble?

[2016-08-22 19:41] #296 closed, assigned to nobody

[2016-08-22 19:43] megax commented on #396
@khurshid-alam what to do?
Now: ![image](https://cloud.githubusercontent.com/assets/461493/17868938/4a472ad8-68b1-11e6-96a0-8967c0359a32.png)

[2016-08-22 19:43] megax commented on #153
@khurshid-alam Still having trouble?

[2016-08-22 19:45] megax commented on #403
@khurshid-alam Other application bug, gtk 3.20.

[2016-08-22 19:47] megax commented on #210
@khurshid-alam Closed issue... :) Does not contain additional information.

[2016-08-22 19:49] khurshid-alam commented on #396
Let's c.

[2016-08-22 19:50] #153 closed, assigned to nobody

[2016-08-22 19:58] megax commented on #137
@satya164 @khurshid-alam gtk 3.20 fixed:
![image](https://cloud.githubusercontent.com/assets/461493/17869435/839494e0-68b3-11e6-8ba7-f5341a4051d3.png)

[2016-08-22 20:01] joaojotta commented on #452
The buttons on the screenshot are, in my use case, perfect.
However, that's not what I get when I install Numix and that's why I've (sadly) stopped using the theme.

![screenshot from 2016-08-22 20-57-58](https://cloud.githubusercontent.com/assets/11931285/17869458/38d1db8c-68ab-11e6-8b31-782dc6e2ff73.png)

As if they should or should not have more padding I believe it's a personal preference. I l

[2016-08-22 20:24] #443 closed, assigned to lots0logs

[2016-08-22 20:47] #210 closed, assigned to nobody

[2016-08-22 20:56] khurshid-alam commented on #137
@megax Stopwatch needs to be themed. It looks odd. https://github.com/GNOME/gnome-clocks/blob/master/data/css/gnome-clocks.css

[2016-08-22 21:10] megax commented on #137
Adwaita theme:
![image](https://cloud.githubusercontent.com/assets/461493/17871833/95db03fa-68bd-11e6-82ee-c2cccccc0f34.png)

[2016-08-23 07:51] megax commented on #391
@khurshid-alam https://github.com/numixproject/numix-gtk-theme/pull/516

[2016-08-23 08:34] lots0logs commented on #391
@megax LGTM except for one thing. I think the top panel should not be transparent as that is inconsistent with how panels are styled in the rest of the theme.

[2016-08-23 08:43] megax commented on #391
@lots0logs However, I was amazed, why is It so. Modify :)

[2016-08-23 10:23] lots0logs commented on #391
Closed by #516

[2016-08-23 10:23] #391 closed, assigned to khurshid-alam

[2016-08-23 10:25] #485 closed, assigned to nobody

[2016-08-23 11:02] megax commented on #403
@khurshid-alam Code bug: https://github.com/numixproject/numix-gtk-theme/blob/master/gtk-3.0/scss/widgets/_button.scss#L175

[2016-08-23 11:24] #403 closed, assigned to nobody

[2016-08-23 11:24] #509 closed, assigned to nobody

[2016-08-23 11:43] megax commented on #472
@marcominetti Still having trouble?

[2016-08-23 17:14] megax commented on #442
@lots0logs Bugged code: https://github.com/numixproject/numix-gtk-theme/blob/master/gtk-3.20/scss/widgets/_toolbar.scss#L133

[2016-08-23 20:24] megax commented on #442
@lots0logs Test code: Please test :)

[code]

![image](https://cloud.githubusercontent.com/assets/461493/17908428/bde5948c-6980-11e6-8cb9-a3f8f1fc761a.png)

[2016-08-23 22:27] laur89 commented on #509
Any idea why the 'MeldFileEdit...' window buttons are right next to each other, without any spacing?

[2016-08-24 05:33] khurshid-alam commented on #509
@laur89 Meld using gtk image button with margin manually set to 0 (instead of leaving as default). You can test this with inspector `GTK_DEBUG=interactive meld`

[2016-08-24 11:40] megax commented on #452
# **Test:**

**Old code:**

[code]

**New code:**

[code]

Examples:
![image](https://cloud.githubusercontent.com/assets/461493/17929299/d3bdb058-69ff-11e6-9472-ad07f913b955.png)
![image](https://cloud.githubusercontent.com/assets/461493/17929309/ef29555e-69ff-11e6-93f5-9cc20c4c42ad.png)
![image](https://cloud.githubusercontent.com/assets/461493/17929321/f9e63732-69ff-11e6-87d2-2d2334ddcbff.png)
!

[2016-08-24 11:45] megax commented on #396
**Minimal correction:**
![image](https://cloud.githubusercontent.com/assets/461493/17929471/0f8cf228-6a01-11e6-9569-9c75403ee5c3.png)

@khurshid-alam @lots0logs opinion?

[2016-08-24 12:12] lots0logs commented on #396
I think its fine like it is now. At least on my system it is :stuck_out_tongue_winking_eye:

![2016-08-24_07-10-28-am](https://cloud.githubusercontent.com/assets/4675662/17930038/dceaf806-69c9-11e6-97e6-7b4c463837f6.png)

[2016-08-24 12:23] lots0logs commented on #452
Sorry, I dont like it. I dont understand what  is wrong with a bit of padding. Since I began maintaining the theme I've accepted PRs that have significantly reduced padding throughout the theme even though I personally dont like the result (just one example is the headerbar which is way too small for my tastes now). I did so because its what the community wanted. However, we have to draw the line

[2016-08-24 12:26] megax commented on #452
@lots0logs I do not like small buttons ;)

[2016-08-24 12:31] megax commented on #396
@lots0logs I agree :) Only others can not.

[2016-08-24 13:18] joaojotta commented on #452
What's not to understand about people not liking big buttons?
And that the Numix Theme buttons got bigger since the GTK 3.20 update?
Buttons have allways been small and uit's natural that some people don't like the change (look at Arc as an example where the buttons are small like Numix used to be).

Now, as far as I'm concerned I too posted a "bug report" (somewhere else) because they got bigger.

[2016-08-24 16:15] megax commented on #300
@khurshid-alam Still having trouble?

[2016-08-24 16:17] khurshid-alam commented on #300
Already fixed.

[2016-08-24 16:21] megax commented on #486
I rewrite management, headerbar and titlebar.

**Now:**
- Fixed https://github.com/numixproject/numix-gtk-theme/issues/486#issuecomment-230834032
- Fixed titlebar/headerbar height

**Adwaita:**
 **\- Scale 1,0:**
![image](https://cloud.githubusercontent.com/assets/461493/17939544/5f85b182-6a2b-11e6-9bf3-2b4b01e6a483.png)

 **\- Scale 1,5:**
![image](https://cloud.githubusercontent.com/assets/46149

[2016-08-24 16:24] #300 closed, assigned to khurshid-alam

[2016-08-24 16:25] khurshid-alam commented on #452
We will look into this after we fix #486

[2016-08-24 19:58] megax commented on #486
Final (i color theme...):
**Scale 1,0:**
![image](https://cloud.githubusercontent.com/assets/461493/17945775/993f896a-6a45-11e6-8291-977ea4a697bc.png)

**Scale 1,5:**
![image](https://cloud.githubusercontent.com/assets/461493/17945814/c46113b6-6a45-11e6-9289-47c3a44eea39.png)

@khurshid-alam @lots0logs So it will be good? PR? :) Example code: https://github.com/The-Megax/Numix/commit/472e8352434e2

[2016-08-24 20:24] khurshid-alam commented on #486
I don't think we need that many changes. For me, using same left/right padding only for combobbox button fixes the issue. We need to be careful here not to break other things.

[2016-08-24 20:41] megax commented on #486
I corrected several things:
- https://github.com/numixproject/numix-gtk-theme/issues/486#issuecomment-230834032
  Bugged:
  ![image](https://cloud.githubusercontent.com/assets/461493/17947943/1959dde0-6a4f-11e6-97f1-30c4a580f62a.png)
  Fixed:
  ![image](https://cloud.githubusercontent.com/assets/461493/17947854/c01d0a0e-6a4e-11e6-965c-0fcb731ed0c0.png)
- optimised toolbar, headerbar, titlebar butt

[2016-08-24 21:07] megax commented on #486
@khurshid-alam Massive test. I could not find fault.

[2016-08-25 12:26] megax commented on #472
@marcominetti "with minor issues - wrong select icon label background color when desktop is not focused": Global bug (not Nautilus specific): https://github.com/numixproject/numix-gtk-theme/issues/430
And fixed :) https://github.com/numixproject/numix-gtk-theme/pull/523
![image](https://cloud.githubusercontent.com/assets/461493/17968926/d318d670-6acf-11e6-9a9b-6755be3cd133.png)

[2016-08-25 12:49] megax commented on #452
Big button -> circular bug (width):
![image](https://cloud.githubusercontent.com/assets/461493/17969571/08cee5f4-6ad3-11e6-8709-503c8aa02b4c.png)

[2016-08-25 13:05] megax commented on #506
Fixed: https://github.com/numixproject/numix-gtk-theme/pull/525

[2016-08-25 14:15] megax commented on #137
@khurshid-alam Exactly what he meant?

[2016-08-25 15:04] #442 closed, assigned to nobody

[2016-08-25 15:13] #506 closed, assigned to nobody

[2016-08-25 15:34] #304 closed, assigned to nobody

[2016-08-25 15:40] khurshid-alam commented on #439
Your earlier pull was ok. Please add back changes from  3f9df11

[2016-08-25 15:42] megax commented on #439
I did not want the two together (popover padding optimize and submenu space).

[2016-08-25 15:46] khurshid-alam commented on #439
Ok. I was talking about the trailing space correction. Anyway please open a separate pull for that. Thanks.

[2016-08-25 15:53] khurshid-alam commented on #137
@megax I wanted to make the color semi-circular radial (which rotates) red. Darker shade (of $selected_bg_color) for smaller **minute** semi circle and lighter shade for bigger **second** semi circle. Anyway its a design issue.

Mockup:

![gnome-clock-mockup](http://i.imgur.com/na0QZdt.png)

[2016-08-25 15:57] #439 closed, assigned to nobody

[2016-08-26 16:23] khurshid-alam commented on #508
We can not use new assets svgs yet. Because of this-> https://github.com/numixproject/numix-gtk-theme/pull/528#issuecomment-242781686

[2016-08-26 16:40] khurshid-alam opened #530 "[Gtk-3.20] :: Unity :: Port Unity to 3.20"
Unity decoration port for 3.20 (Ubuntu 16.10)

[2016-08-26 16:45] #530 closed, assigned to nobody

[2016-08-27 20:53] SiriusFuenmayor opened #531 "Places icons too close to edge in window"
![issue_numix](https://cloud.githubusercontent.com/assets/8355915/18030022/b9219614-6c76-11e6-8876-744b7fece0ee.jpg)

[2016-08-27 21:32] SiriusFuenmayor commented on #531
This is in the last version of the numix theme in Ubuntu 16.04

[2016-08-28 00:52] lots0logs commented on #531
Where did you install the theme package? Did you use [our PPA](https://launchpad.net/numix)? It doesn't look like you have the latest version.

[2016-08-28 13:17] megax commented on #297
@khurshid-alam Still having trouble?

[2016-08-28 13:29] #297 closed, assigned to khurshid-alam

[2016-08-28 13:35] #511 closed, assigned to nobody

[2016-08-28 14:09] megax commented on #447
@khurshid-alam Fixed, you need not be a unique code, see: https://github.com/GNOME/baobab/blob/master/src/baobab.css (the end result is the same)

[2016-08-28 14:32] wadie commented on #531
I'm having this as well on Ubuntu 16.04 and I think I have the latest version of the theme.

[2016-08-28 16:35] khurshid-alam commented on #531
@wadie Are you sure that you are using latest version from PPA? Please use the PPA as the vesion in the repo is tool old.

[2016-08-28 16:35] #531 closed, assigned to nobody

[2016-08-28 16:43] #447 closed, assigned to nobody

[2016-08-28 16:54] wadie commented on #531
This is what I have in numix-ppa-trusty.list

Not sure if I should remove the hashtag, but still the same anyway..

[2016-08-28 17:40] Sakrecoer commented on #508
thank you @khurshid-alam ! I noticed it, but haven't got the time to report it yet. Sorry for that.
On a similar note, the zip filed shared in this [reply](https://github.com/numixproject/numix-gtk-theme/issues/508#issuecomment-239626573) is missing the SVG version of `pane-handle.png` as invoked by `gtk.gresource.xml` might be specific to the[ zip file](https://github.com/numixproject/numix-gtk-t

[2016-08-28 17:52] khurshid-alam commented on #531
Which Ubuntu version are you using? Trusty is not supported any more. If you are on 16.04, please remove the ppa add it with apt:

[code]

[2016-08-28 17:57] satya164 commented on #508
@khurshid-alam When I open the SVGs in browser they all have borders. I think there is issue with SVG format exported from Sketch.

I'm attaching the file as PDF here from which someone should be able to take the vectors out in Inkscape. I've also exported them to EPS if it makes the conversion easier.

[numix-assets.pdf](https://github.com/numixproject/numix-gtk-theme/files/441265/numix-assets.pd

[2016-08-28 18:08] Sakrecoer commented on #508
thank you @satya164 ! Awesome! I might as well do that during this week. Will submit a pull request whenever i'm done :)

[2016-08-28 18:13] khurshid-alam commented on #508
@satya164 I also thought they (svgs) were not properly exported. Thanks for EPS. :)

[2016-08-28 19:49] megax commented on #451
Tested gtk 3.20 and Ubuntu 16.10 (no problem):
![image](https://cloud.githubusercontent.com/assets/461493/18036380/4a70a414-6d69-11e6-8a48-22b38c398205.png)

[2016-08-28 19:52] megax commented on #457
@SammysHP Fixed: https://github.com/megax/Numix/commit/108f6d889eceef8991db7f4e598e01fc0d456081

[2016-08-28 19:56] megax commented on #453
@satya164 must change menu padding?

[2016-08-28 20:06] #451 closed, assigned to nobody

[2016-08-28 20:34] lots0logs commented on #453
@megax After looking at it a bit more I think we need to:
1. Increase the padding on the gtk2 theme
2. Decrease the padding on the gtk3 theme

So that in the end they are both the same. Let me know if you understand. Thanks.

[2016-08-28 20:36] megax commented on #453
You need to create an intermediate size?

[2016-08-28 20:43] lots0logs commented on #508
Just fyi, I saved links to the assets for future reference in [the wiki](https://github.com/numixproject/numix-gtk-theme/wiki)

[2016-08-28 21:04] wadie commented on #531
Beautiful, thanks!

[2016-08-28 21:12] wadie commented on #374
This issue seems to be back on Ubuntu 16.04

[2016-08-28 21:15] Sakrecoer commented on #508
@satya164 may i ask where the EPS are? maybe i missed something but, the zip you link i[n this reply](https://github.com/numixproject/numix-gtk-theme/issues/508#issuecomment-242989050) contains SVGs

ps. @lots0logs i tried the wiki link and the zip listed there also contains SVGs, instead of EPS as stated on the link

[2016-08-28 21:17] satya164 commented on #508
@Sakrecoer Oops. Seems I uploaded the wrong file. Uploading the correct one now. Thanks.

[2016-08-28 21:18] satya164 commented on #508
@Sakrecoer Check now.

[2016-08-28 21:19] Sakrecoer commented on #508
@satya164 Thank you!! \o/

[2016-08-28 21:22] satya164 commented on #508
@Sakrecoer BTW not sure if EPS can handle gradients and stuff. So probably editing the PDF is the best bet.

[2016-08-28 21:25] satya164 commented on #508
If it's not possible to extract out proper SVGs, let me know and I'll try exporting them from Affinity Designer which has better SVG support.

[2016-08-28 21:30] Sakrecoer commented on #508
@satya164 yes, i just saw that... was wondering if it was because of inkscape's interpretation of EPS. If you have some spare time to try with Affinity Designer, please do. Otherwise, all good, it should be fine with the PDF, just more manual work :smile_cat:

[2016-08-28 21:32] satya164 commented on #508
@Sakrecoer I can do that over the weekend since it'll be manual work of exporting each item one by one.

[2016-08-28 21:35] Sakrecoer commented on #508
@satya164 ok, if it is manual work for you too, then i propose you relax until i submit mine sometime before next Friday. Would i have made lots of mistakes or done it wrong, I'll leave it up to you, fair deal? :)

[2016-08-28 21:36] satya164 commented on #508
@Sakrecoer Sounds good :D

[2016-08-28 21:38] satya164 commented on #508
What'll be cool is, if we can keep all SVGs in one file and export them to multiple files. This is not very simple with Inkscape, but once setup, should be good to go.

[2016-08-28 21:45] Sakrecoer commented on #508
I suppose that would require a file with defined grid. I am afraid i don't have the skills to do the scripting required afterwards. However, I noticed some of the assets are 32x32 (grid-selected-*) while the rest is 16x16. If this distinction is necessary, can we still have them in the same file?

[2016-08-28 21:47] satya164 commented on #508
@Sakrecoer Yeah, we need those at different size. Exporting shouldn't be very hard.

http://typethinker.blogspot.in/2010/07/exporting-slices-from-inkscape.html

[2016-08-29 05:12] megax commented on #453
@lots0logs https://github.com/numixproject/numix-gtk-theme/pull/536

[2016-08-29 05:17] megax opened #537 "GTK 3.20 :: Firefox menu item separator color bug"
![anim](https://cloud.githubusercontent.com/assets/461493/18041400/a59a95da-6db8-11e6-9c3f-a8f60127d651.gif)

[2016-08-29 06:02] #453 closed, assigned to nobody

[2016-08-29 06:38] megax commented on #452
Optimised (not perfect yet):
![image](https://cloud.githubusercontent.com/assets/461493/18042803/dd577406-6dc3-11e6-8093-1c8eb388159a.png)

Notebook:
![image](https://cloud.githubusercontent.com/assets/461493/18043095/d8144b7a-6dc5-11e6-8aa3-1948fbb94523.png)

Code: https://github.com/The-Megax/Numix/commit/0e54b003307e5b48c149ac822a64578fa5eeb885

[2016-08-29 06:55] #537 closed, assigned to nobody

[2016-08-29 07:27] megax commented on #452
Global fix: https://github.com/numixproject/numix-gtk-theme/pull/539

@joaojotta I rewrite button padding system.

[2016-08-29 07:45] megax commented on #450
Please test gtk 3.20 and Ubuntu 16.10. In principle, there has been good (i not tested).

[2016-08-29 08:27] megax opened #540 "GTK 3.20 :: No actions button color"
Numix:
![image](https://cloud.githubusercontent.com/assets/461493/18045438/1c748d04-6dd3-11e6-8af1-5eef7032ad6f.png)

Adwaita:
![image](https://cloud.githubusercontent.com/assets/461493/18045458/2f83d8b4-6dd3-11e6-853a-44c2ba2d7472.png)

[2016-08-29 10:12] khurshid-alam commented on #452
I think it looks big in some areas because lowest icon size most icon theme can provide is 16x16. So **by default,** the lowest icon size a gtk-widget can use is 16x16 (most are using 24x24 anyway). And we are using minimum height/width set to 22px.

The default icon sizes are:
GTK_ICON_SIZE_BUTTON: 16x16
GTK_ICON_SIZE_MENU: 16x16
GTK_ICON_SIZE_LARGE_TOOLBAR: 24x24
GTK_ICON_SIZE_SMALL_TOOLBAR: 16x

[2016-08-29 10:19] khurshid-alam commented on #452
@megax No. You made it work but using that much variation in padding could break the theme & other tools out there (like [oomox ](https://github.com/actionless/oomox)).

See my previous comment. Try using `min height/width = 16/14 or 14/12` and then try optimizing. Everything should change proportionally. Thanks.

[2016-08-29 12:02] Sakrecoer commented on #508
looking into it now. I'm still missing an asset for `pane-handle.png` ... It is listed in `gtk.gresource.xml`, but perhaps it is not needed anymore?

[2016-08-29 12:09] megax commented on #452
I understand what settings exist from the icons, and I know that maybe fractures appear at the outer themes. I did it from the bases of reference theme by reason and furthermore I have no time for trying the code!
The main problem is that the button system and the other basic sections, what we are building on, are faulty. I am trying to fix it. As I did it at the headebar, because there were opera

[2016-08-29 12:19] megax commented on #508
Used: https://github.com/numixproject/numix-gtk-theme/blob/master/gtk-3.20/scss/apps/_mate-applications.scss#L24

[2016-08-29 12:41] Sakrecoer commented on #508
looking at the new PNGs, `pane-handle.png` appears to be in sync with the old SVG for it
https://github.com/numixproject/numix-gtk-theme/blob/master/gtk-3.0/assets/pane-handle.svg
https://github.com/numixproject/numix-gtk-theme/blob/master/gtk-3.0/assets/pane-handle.png

I'll use that one :)

[2016-08-29 13:59] megax commented on #452
@lots0logs @khurshid-alam Fixed default 16px.

Please fix:
(1-2px bug "X" button")
![image](https://cloud.githubusercontent.com/assets/461493/18053691/09231a6c-6e01-11e6-8a46-c5dcbc698133.png)
![image](https://cloud.githubusercontent.com/assets/461493/18053769/583e82da-6e01-11e6-80d2-168e0aba58ab.png)

Nemo primary bar
![image](https://cloud.githubusercontent.com/assets/461493/18053794/75f5adda-6e

[2016-08-29 15:39] ben-kuhn commented on #450
I don not have any 16.10 systems and don't really plan to.  I tend to stick to LTS releases for stability.  I know many others do the same.

[2016-08-29 16:41] Foggalong commented on #233
I can't say since I don't use those programs anymore, sorry!

[2016-08-29 16:49] brrrrrrrt commented on #233
same here, sorry can't tell, switched to a different theme.

[2016-08-29 17:14] khurshid-alam commented on #452
@lots0logs I reviewed his code. There is no point. It made the button rectangular which is wrong and made things more complicated. Honestly I would like to gid red of min-height/min-width altogether and only use padding to decide the shape.

@megax
Honestly I like your previous test code. For me only this works much better:

[code]

which is basically equivalent to disabling it unless some widget

[2016-08-29 17:24] #233 closed, assigned to nobody

[2016-08-29 17:36] megax commented on #452
@khurshid-alam Okay, then i change `min-height: 14px;`. Definitely i'll wait headerbar merge :)

[2016-08-29 18:01] #430 closed, assigned to nobody

[2016-08-29 19:30] satya164 commented on #452
What I don't like is the rectangular shape of icon only buttons in Nemo headerbar. I feel like it will look bad with Nautilus.

[2016-08-29 19:33] megax commented on #452
Nemo headerbar now bug, then fix.

Edit: @satya164 i optimised.
![image](https://cloud.githubusercontent.com/assets/461493/18065926/4db80cca-6e36-11e6-9167-f916fe741a47.png)

[2016-08-29 21:53] #452 closed, assigned to lots0logs

[2016-08-29 21:57] khurshid-alam commented on #452
To All,

Buttons are now using 16px as minimum height/width. It can grow as big as a gtk-widget wants it to be. If you find any abnormalities please open a new issue.

Thanks.

[2016-08-29 22:04] khurshid-alam commented on #486
To All,

Does this still happen after 6cb9d03b04d9cf6aac92bc1d8dee6d20060e6a7e ? Can anyone test?

[2016-08-30 06:13] SammysHP commented on #452
I don't think that this is a proper solution. I tried it before and something didn't work.

[2016-08-30 06:38] megax commented on #472
@khurshid-alam Fixed: https://github.com/numixproject/numix-gtk-theme/commit/4c2cf031e10cfcd4b4123fb86dcd976f604378e9

[2016-08-30 07:08] megax commented on #452
Minimal fix: https://github.com/numixproject/numix-gtk-theme/pull/542

[2016-08-30 07:09] megax commented on #486
Rebased code, please test.

[2016-08-30 07:47] megax commented on #486
Tested PR:

**Scale 1,0:**
![image](https://cloud.githubusercontent.com/assets/461493/18080546/54d93da2-6e96-11e6-9a26-5e217666f336.png)

**Scale 1,5:**
![image](https://cloud.githubusercontent.com/assets/461493/18080617/9271e2b8-6e96-11e6-8130-0a3364d649cf.png)

Works well, as Adwaita, arc-theme

[2016-08-30 07:48] megax opened #544 "GTK 3.20 :: Warning and error backdrop color"
**Button text:**
![image](https://cloud.githubusercontent.com/assets/461493/18080703/e9939e74-6e96-11e6-85f7-9023175d501a.png)

[2016-08-30 08:02] megax commented on #540
No base button backdrop mode, i think it should be improved.
Similar error: https://github.com/numixproject/numix-gtk-theme/issues/544

[2016-08-30 08:21] megax commented on #452
Minimal entry padding bug:
![image](https://cloud.githubusercontent.com/assets/461493/18081624/65a08d02-6e9b-11e6-9d01-abf18d8a2370.png)

will be improved once, now I have no idea on it =/

[2016-08-30 09:03] megax commented on #232
@Foggalong @khurshid-alam Still having trouble?

[2016-08-30 12:41] megax opened #545 "GTK 3.20 :: headerbar and .titlebar :: Selection mode"
Not work (headerbar):
![image](https://cloud.githubusercontent.com/assets/461493/18089355/dab2a8ae-6ebf-11e6-9bad-49ca3323524d.png)

[2016-08-30 14:07] megax commented on #369
@lisdonk you could send PR?

[2016-08-30 15:33] megax commented on #370
@lots0logs you got something? :)

[2016-08-30 18:00] marmis85 commented on #486
@khurshid-alam  some applications still have a slightly different headerbar height
![screenshot from 2016-08-30 18-27-56](https://cloud.githubusercontent.com/assets/1887387/18097921/49add2b8-6ee0-11e6-94f4-993b31e15b26.png)

I like the compactness but IMHO it was prettier before when most of the buttons where squares

[2016-08-30 18:02] megax commented on #486
I PR tested or not?

Edit: 16px button + padding, this issue will be...

[2016-08-30 18:05] marmis85 commented on #486
@megax sorry I didn't see your commit, I will try it, I was replying to @khurshid-alam 's question about 6cb9d03

[2016-08-30 18:06] megax commented on #486
Oh... okay :) Thanks :)

Edit: Maximum like this can only be done (Adwaita 1,5 scale):
![image](https://cloud.githubusercontent.com/assets/461493/18101045/91c0c1e8-6eed-11e6-8dff-664f7ab34851.png)

[2016-08-30 18:07] Foggalong commented on #232
Nope, this appears to be fixed for me now :+1:

[2016-08-30 18:07] #232 closed, assigned to nobody

[2016-08-30 18:26] marmis85 commented on #486
@megax I tried it, it looks good!

the only (very minor) problem I see is that Nautilus' and Gedit's headerbar is still 1px higher
![screenshot from 2016-08-30 20-22-25](https://cloud.githubusercontent.com/assets/1887387/18101711/19edf728-6ef0-11e6-88ff-2bb519d040b6.png)

[2016-08-30 18:44] megax commented on #486
Please restart gedit and nautilus, and test :)

I do not have an error (tested: Ubuntu 16.10, Archlinux cinnamon and gnome shell):
![image](https://cloud.githubusercontent.com/assets/461493/18102631/7f684a10-6ef3-11e6-94da-b563c01c15da.png)

New test, no 1px bug =/
![image](https://cloud.githubusercontent.com/assets/461493/18103358/84d8d962-6ef6-11e6-8cd7-794f0c7f2ee9.png)

[2016-08-30 20:57] megax opened #548 "GTK 3.20 :: Nemo :: Patch-bar padding bug."
![image](https://cloud.githubusercontent.com/assets/461493/18106693/2c003b78-6f05-11e6-8707-502b5d2fa846.png)

[2016-08-30 20:58] megax commented on #548
@lots0logs Idea? =/

[2016-08-30 21:03] lots0logs commented on #548
This is a side affect of the recent changes to buttons. I dont have time to check it now but I will asap!

[2016-08-31 01:15] marmis85 commented on #486
@megax yes I tried killing all the gtk apps

what I did is updating to numix/master and merging megax/patch05 on top of it, are you sure you don't have some more commits because in your first screen the headerbars are a little darker than mine

[2016-08-31 05:21] lots0logs commented on #486
One thing to note is that the headerbar height is not expected to be uniform across all applications that use them. For example, the icon sizes an application uses in its headerbar will affect the headerbar's  height.

[2016-08-31 05:59] megax commented on #486
@marmis85 My color theme (https://github.com/The-Megax/Numix), color doesn't matter :)

@lots0logs I think there will be any better.

[2016-08-31 08:07] khurshid-alam commented on #486
Button are not perfectly square because we are not using symmetric padding. And not all gtk-images are perfectly symmetric. I was going to use `min-width=18px`, but I got ugly result for combox button and entries. As I said this is trail and error.

And I would suggest to avoid testing with font-scale 1.5. IMHO 1.5 is bit of a extreme.

[2016-08-31 08:30] khurshid-alam commented on #486
This needs to be rechecked after we merge #542.

[2016-08-31 09:13] khurshid-alam commented on #486
@megax Breaks notebook (exccesive tab height) and close button ?

![notebook-tab](http://i.imgur.com/4pskalQ.png)

[2016-08-31 09:38] megax commented on #486
@khurshid-alam Notebook fixed: https://github.com/numixproject/numix-gtk-theme/pull/542 Sample code: https://github.com/numixproject/numix-gtk-theme/pull/542/files#diff-1c8d87bb62da4569d069f15371fc41afR201

[2016-08-31 10:06] megax commented on #486
@khurshid-alam Slowly I do not see them melt please :)

[2016-08-31 10:17] #457 closed, assigned to nobody

[2016-08-31 11:55] megax commented on #472
@khurshid-alam Still having trouble?

[2016-08-31 12:14] Sakrecoer commented on #508
Here you go: https://github.com/numixproject/numix-gtk-theme/pull/549

Note that i didn't touch the PNGs that were in your master. I tested the script and the result though, and it worked like a charm!

[2016-08-31 12:27] megax commented on #548
Bug source: https://github.com/numixproject/numix-gtk-theme/blob/master/gtk-3.20/scss/apps/_nemo.scss#L49

[code]

[2016-08-31 12:52] megax commented on #137
In principle, it should be amended. But it's not working.

[code]

[2016-08-31 14:37] khurshid-alam commented on #486
@marmis85 So everything is fine without the patch? Right? Ignore headerbar and square button issue for now.

[2016-08-31 15:21] khurshid-alam commented on #137
@megax You are using wrong color values. Try this (& lighten/darken color):

[code]

![gnome-clock-mockup1](http://i.imgur.com/f5rjDpn.png)

[2016-08-31 15:47] khurshid-alam opened #550 "GTK-3.20:: Gnome-Panel :: Port gnome panel for 3.20"
Gnome-Panel or gnome-flashback-panel needs to ported to 3.20.

![gnome-panel](http://i.imgur.com/1HW0LBn.png)

[2016-08-31 17:23] marmis85 commented on #486
@khurshid-alam well the problem when switching themes that I reported here last month still happens, but I doubt it's caused by Numix as it only happens after I switch to Adapta and also breaks Adwaita

still I don't understand why I have 1px difference from @megax when I'm running GNOME/GTK 3.20 on arch as him

[2016-08-31 17:54] khurshid-alam commented on #486
@marmis85
Right. Then it is not a Numix issue.

Both of you same icon theme? He is using headerbar patch from #521. We may include some changes from that.

[2016-08-31 18:03] megax commented on #486
@khurshid-alam I use default gnome and gnome-shell icon theme.

[2016-08-31 18:08] #463 closed, assigned to nobody

[2016-08-31 18:37] khurshid-alam commented on #486
Now everything is perfectly symmetric.

[code]

![headerbar-bug](http://i.imgur.com/BvfoLr4.png)

[2016-08-31 18:40] megax commented on #486
@khurshid-alam Please not `padding: $spacing * 2;` It will be too large headerbar, titlebar... =/

[2016-08-31 18:46] megax commented on #486
Thus remains flawed:

![image](https://cloud.githubusercontent.com/assets/461493/18141995/ef4e9794-6fbb-11e6-9942-dc5427e2f064.png)
![image](https://cloud.githubusercontent.com/assets/461493/18142031/1425feae-6fbc-11e6-8dc1-6c7aa0c40073.png)

[2016-08-31 18:50] marmis85 commented on #486
@khurshid-alam @megax I am using numix-icon-theme + numix-circle-icon-theme from git, I tried with the default gnome icon theme but it's the same. Could it be the font? I'm using Noto Sans size 9 for everything

[2016-08-31 18:52] megax commented on #486
I'm using Sans Regular.

[2016-08-31 18:59] khurshid-alam commented on #486
@marmis85 No. See my previous comment.

@megax Lets c.

[2016-08-31 19:18] megax commented on #486
@khurshid-alam just perfect: https://github.com/numixproject/numix-gtk-theme/pull/521 :)

Example:
![image](https://cloud.githubusercontent.com/assets/461493/18142954/2a03f448-6fc0-11e6-9a20-1e0f96d0a9c1.png)

[2016-08-31 19:39] marmis85 commented on #486
@khurshid-alam @megax it is indeed the font, if I use Sans Regular for the "Interface" font I don't have the 1px difference

[2016-08-31 19:43] khurshid-alam commented on #486
@megax Ok. If you feel that strongly :/ . But you made toolbar code quite hazardous and difficult to read.. Can you reform it like this?

## _toolbar.scss (Restructure Sample)

[code]

Thanks.

[2016-08-31 20:12] megax commented on #486
@khurshid-alam Of course I can rewrite in this way, but please admit to that if I rewrite, the tiltbar's and the headerbar's common parts will be still common, because this is how prevail for both. Do you agree with me? :)

[2016-08-31 20:17] khurshid-alam commented on #486
Yes. Basically all I am asking to rewrite in that way including your modification from #521

[2016-08-31 20:31] megax commented on #486
@marmis85 "I'm using Noto Sans size 9 for everything", Please test, minimal fix code...

@khurshid-alam Rewrite, please check :)

Edit: I test I have tomorrow.

[2016-09-01 05:14] megax commented on #486
@khurshid-alam Perfect.
![image](https://cloud.githubusercontent.com/assets/461493/18156067/92dfb8aa-7013-11e6-9098-55507d7f29ba.png)

@marmis85 Tested Noto Sans... 1px bug... Sorry, there is no idea =/

[2016-09-01 06:44] marmis85 commented on #486
@megax must be something strange in the Noto font family, the others seem to work fine... I can live with Droid Sans, thanks anyways!

[2016-09-01 06:44] megax commented on #486
@marmis85 Okay :)

[2016-09-01 06:57] lots0logs commented on #486
# Current Master

![2016-09-01_01-37-56](https://cloud.githubusercontent.com/assets/4675662/18157923/afc6ecfa-6fe5-11e6-99e6-e25cf3cbbe14.png)

# #521

![2016-09-01_01-43-26](https://cloud.githubusercontent.com/assets/4675662/18157978/ebad8a62-6fe5-11e6-9ea9-61ebd232f1ff.png)

#521 does fix the titlebar height. However, the headerbar buttons are not good. They are not good on master currently and

[2016-09-01 07:05] megax commented on #486
@lots0logs #521, font size bug... (not button padding bug), reference: https://github.com/horst3180/arc-theme/blob/master/common/gtk-3.0/3.20/sass/_common.scss#L993

https://github.com/numixproject/numix-gtk-theme/blob/master/gtk-3.20/scss/widgets/_toolbar.scss#L27

working of operation? =/
Idea?

[2016-09-01 14:08] megax commented on #486
@lots0logs The proportions of the same error as now 1 month ago. Only minor buttons. Now I tested everywhere, #521 symmetrical buttons. Old basic principle wrong. Already I looked back and forth in the code ... =/ Now #521 most optimal.

[2016-09-01 15:43] lots0logs commented on #486
@megax Yeah I know the code really could use a complete rewrite for the buttons and toolbars but until we have time for that we will have to do what we can without breaking other areas.

[2016-09-01 15:53] megax commented on #486
@lots0logs I understand, therefore trying not to make new mistakes.

[2016-09-01 16:07] megax commented on #550
Example: https://github.com/horst3180/arc-theme/blob/master/common/gtk-3.0/3.20/sass/_applications.scss#L436 (I do not know up to date)

[2016-09-01 18:17] khurshid-alam commented on #486
@lots0logs

We just changed button height/width to 16x16 (I wanted 16x18) which wasn't a proportional change , so I don't expect everything to fit in place  immediately. My intention is to use perfectly square button just like it used to. But that requires to fix toolbar code first which we are doing in #521. Also in your screenshot for master it looks really ugly.....Could it be the icon theme?

[2016-09-01 18:27] megax commented on #486
@khurshid-alam "Also in your screenshot for master it looks really ugly.....Could it be the icon theme?"
Not icon theme, `padding: $spacing * 2` and headerbar bug. Unfortunately, the size of the problem grows.

[2016-09-01 20:26] marmis85 opened #551 "GTK-3.20:: Gedit :: Light-colored Paned separator in the Headerbar"
![gedit](https://cloud.githubusercontent.com/assets/1887387/18182228/57645408-708f-11e6-9ce0-4d208bd381f9.png)

Actually I have a PR for this

[2016-09-02 15:19] #486 closed, assigned to lots0logs

[2016-09-02 15:21] #551 closed, assigned to nobody

[2016-09-02 18:01] megax commented on #472
@khurshid-alam I fix and test! close :)

[2016-09-02 18:13] #472 closed, assigned to nobody

[2016-09-02 18:55] megax commented on #137
@khurshid-alam You misunderstand, i have not changed the color =/ (i rewrote the)

[2016-09-02 20:00] khurshid-alam commented on #137
Well, then what is not working? It's working for me.

[2016-09-02 20:02] megax commented on #137
See. I have something wrong with me... =/

[2016-09-02 20:20] megax commented on #137
@khurshid-alam I do not understand...

[code]

![image](https://cloud.githubusercontent.com/assets/461493/18217147/64539c24-715b-11e6-966c-01fe1b86c7a8.png)

[2016-09-02 20:23] megax commented on #137
@khurshid-alam Test code: https://github.com/numixproject/numix-gtk-theme/pull/554

[2016-09-02 20:53] narendasan opened #555 "Making Dependency Library names explicit for various distros"
Not always clear what the name of the package you are supposed to install for the dependencies, so it would be nice if those names are listed.

[2016-09-03 05:32] khurshid-alam commented on #137
@megax`$selected_bg_color` won't work you have to use `$theme_selected_bg_color`.

[2016-09-03 05:47] megax commented on #137
`$theme_selected_bg_color` but it is there? Not only do `@theme_selected_bg_color` you have?

[2016-09-03 05:53] khurshid-alam commented on #137
@megax Sorry. No it isn't. We need to add this into _global.scss

[code]

[2016-09-03 05:55] megax commented on #137
https://github.com/numixproject/numix-gtk-theme/blob/master/gtk-3.20/scss/_global.scss#L10
https://github.com/numixproject/numix-gtk-theme/blob/master/gtk-3.20/scss/_colors.scss#L12

So I think we should not add, equivalent.

[2016-09-03 08:29] #540 closed, assigned to lots0logs

[2016-09-03 08:31] #545 closed, assigned to nobody

[2016-09-03 08:32] #137 closed, assigned to satya164

[2016-09-03 09:31] megax opened #557 "GTK 3.20 :: Toolbar/inlinetoolbar :: Button separator bug"
![image](https://cloud.githubusercontent.com/assets/461493/18224065/eb1ac214-71c9-11e6-815b-069a76f108aa.png)
![image](https://cloud.githubusercontent.com/assets/461493/18224095/d11f5568-71ca-11e6-9a3c-c169df9aa8ba.png)
![image](https://cloud.githubusercontent.com/assets/461493/18224416/6f32b372-71d4-11e6-9566-420267462f63.png)

[2016-09-03 09:31] megax commented on #557
@lots0logs Idea?

[2016-09-03 10:24] lots0logs commented on #557
Which application is that?

[2016-09-03 10:44] megax commented on #557
gedit -> print sample
nautilus -> settings

old mistakes, i forgot to send in =/ (https://github.com/numixproject/numix-gtk-theme/commit/4fb890854cb8bbeb7153e21daff5b7cd41598490 I've seen here) Base inline-toolbar code ok. A special code will be here... =/

[2016-09-03 11:19] megax commented on #555
related PR: https://github.com/numixproject/numix-gtk-theme/issues/493

[2016-09-03 12:19] MichaelTiebesl opened #558 "gtk-icon-shadow error"
Ubuntu 16.04. Theme and icons installed by PPA :
GTK theme 2.6.0+545~201609022016~ubuntu16.04.1
Icon Theme 2.0.3+7~201608312136~ubuntu16.04.1

I have in Lollypop the following errors:

![1](https://cloud.githubusercontent.com/assets/10792019/18224781/6a04548e-7213-11e6-89eb-02c2217b9167.png)

What is wrong here? Thanks.

[2016-09-03 13:25] megax commented on #558
Thanks, fixed: https://github.com/numixproject/numix-gtk-theme/pull/559

[2016-09-04 06:37] #558 closed, assigned to nobody

[2016-09-04 15:17] khurshid-alam commented on #271
Fixed.

[2016-09-04 15:17] #271 closed, assigned to nobody

[2016-09-04 16:56] megax commented on #374
@khurshid-alam Test? Firefox bug? =/

[2016-09-04 16:59] megax commented on #247
Gtk 3.18 or gtk 3.20?

[2016-09-04 17:49] khurshid-alam commented on #374
This happens only with Gtk-3.20? With Firefox <=48? Right?. I can't reproduce it on 3.18 on Ubuntu.

[2016-09-04 17:53] khurshid-alam commented on #557
@megax Did you try using separator code inside inline-toolbar? Although it should get inherited from primary-toolbar.

[2016-09-04 17:54] khurshid-alam commented on #550
I think it is interfering with mate-panel code.

[2016-09-04 17:56] megax commented on #557
@khurshid-alam I tried but ran out of idea. =/

[2016-09-04 19:56] lots0logs commented on #557
I will try and take a closer look at this today...

[2016-09-04 19:58] lots0logs commented on #374
If that's the case I don't think we should worry about it as the latest version of Firefox is always available in all distributions (thus its the only version we need to support)

[2016-09-04 20:25] megax commented on #450
I'm not sure that will be ported to gtk 3.18

[2016-09-05 09:48] SammysHP opened #560 "GTK 3.20 :: Scale fine tuning jumping and padding"
- Left/right padding was increased
- Scale jumping again in fine tune mode

Maybe because of ff98d448fc01c637ddff3203c02095ceaca013f7?

![slider-padding2](https://cloud.githubusercontent.com/assets/922874/18252327/6422fb98-738e-11e6-8c3a-448ef709ac61.gif)

[2016-09-05 10:01] SammysHP opened #561 "GTK 3.20 :: fine-tune OSD strange shadow"
![20160905_110628](https://cloud.githubusercontent.com/assets/922874/18244432/6a759740-7360-11e6-86a1-b923c108fd50.png)

[2016-09-05 10:06] SammysHP commented on #232
This does still happen with the current master. The reason is the focus state.

![record-button](https://cloud.githubusercontent.com/assets/922874/18244604/3543d66c-7361-11e6-9733-88b102125dea.gif)

[2016-09-05 12:19] megax commented on #561
![image](https://cloud.githubusercontent.com/assets/461493/18247613/a8fccef8-7373-11e6-8c50-32f0fa1e2499.png)

I do not see =/

[2016-09-05 12:42] megax commented on #560
Adwaita:
![anim](https://cloud.githubusercontent.com/assets/461493/18248088/bc472046-7376-11e6-93c7-5f6044077f89.gif)

Not fix padding the two slider. I think just as much trouble.

[2016-09-05 13:02] megax commented on #560
@SammysHP Corrected fine-tune size (base arc-theme and adwaita) and fix padding. https://github.com/numixproject/numix-gtk-theme/pull/563

[2016-09-05 13:51] khurshid-alam commented on #560
Since when are we using padding fluctuation in fine tune mode? Other themes do not do this...We don't have to be like adwaita which sometimes makes pathetic attempt to introduce effect which they thought cool.

[2016-09-05 14:00] geckolinux commented on #472
Hi, this still seems to be a problem with openSUSE Tumbleweed:

![alt](https://bugzilla.opensuse.org/attachment.cgi?id=690319)

Complete bug report: https://bugzilla.opensuse.org/show_bug.cgi?id=982134

[2016-09-05 14:01] geckolinux commented on #272
Hi, this still seems to be a problem with openSUSE Tumbleweed:

![alt](https://bugzilla.opensuse.org/attachment.cgi?id=690319)

Complete bug report: https://bugzilla.opensuse.org/show_bug.cgi?id=982134

[2016-09-05 14:25] megax commented on #560
Okay.

[2016-09-05 14:42] SammysHP commented on #561
It happens only sometimes. Play a little bit with the fine tune mode and it might appear.

[2016-09-05 14:44] SammysHP commented on #560
But there should be some kind of indication that it is in fine tune mode.

[2016-09-05 15:04] megax commented on #560
Color change, as scrollbar?

Edit:
![anim](https://cloud.githubusercontent.com/assets/461493/18251882/1f3f078a-738c-11e6-819f-c366825c8298.gif)

@khurshid-alam Please test unity menu (sound applet).

[2016-09-05 15:16] megax commented on #272
@geckolinux Please test the latest version Numix theme (git -> master).

[2016-09-05 15:19] geckolinux commented on #272
@megax Thanks, I'll test that and get back with you. But is this a Nautilus bug or a Numix bug? Because in the Nautilus changelog (in my screenshot) I see fixes for this bug too.

[2016-09-05 15:44] megax commented on #272
so - so :)

[2016-09-05 16:22] aantos commented on #287
I have the same problem (hardly separable overlapping terminals with White-on-black or Green-on-black scheme due to lack of visible border) with recent Debian Stretch (testing, Gnome 3.20, Gtk+3 3.20, and Gtk+2 2.24).  So it does not seem to be specific/related to either Ubuntu, Compiz, old Gnome versions, or Numix. I use the default gnome-shell and default gtk theme Adwaita (as can be seen on my

[2016-09-05 18:38] #560 closed, assigned to nobody

[2016-09-09 14:39] ItachiSan commented on #272
@megax I am still waiting for the package update (from Antergos).
Will report as soon as I test.

[2016-09-10 19:56] megax commented on #550
@khurshid-alam Ambiance test code: http://bazaar.launchpad.net/~ci-train-bot/ubuntu-themes/ubuntu-themes-ubuntu-yakkety-landing-1903/revision/507

http://bazaar.launchpad.net/~ubuntu-art-pkg/ubuntu-themes/trunk/view/head:/Ambiance/gtk-3.20/apps/gnome-flashback.css
http://bazaar.launchpad.net/~ubuntu-art-pkg/ubuntu-themes/trunk/view/head:/Ambiance/gtk-3.20/apps/gnome-panel.css

[2016-09-11 19:01] #493 closed, assigned to sspreitzer

[2016-09-11 19:01] #555 closed, assigned to nobody

[2016-09-14 22:09] BaraVaq opened #565 "GTK 3.21.5 :: Cinnamon 3.0.7 :: Nemo 3.0.6-2 :: Big arrows"
![arrows](https://cloud.githubusercontent.com/assets/22131622/18531816/c5370e16-7ac7-11e6-8b3e-c325e7338203.png)

[2016-09-15 13:15] khurshid-alam commented on #565
As of now we do not support Gtk >= 3.20.

[2016-09-15 15:38] BaraVaq commented on #565
Probably it is an issue of Nemo, because in 3.0.6-1 it was ok.
This is the changelog:
nemo (3.0.6-2) unstable; urgency=medium
- Import upstream patches:
  window-remove-custom-get_preferred_width-height-impl.patch,
  pathbar-avoid-gtk-warnings.patch and
  pathbar-remove-hardcoded-width-for-sliders.patch.
  Thanks to johu for reporting (Closes: 836922)

[2016-09-19 10:03] Foggalong opened #566 "White Highlight on XFCE Panel Items"
With the update that came yesterday from the daily PPA the highlight on the XFCE panel is now solid white. Makes the icon look messy and is generally not in keeping with the rest of the theme.

![screenshot_2016-09-19_10-59-53](https://cloud.githubusercontent.com/assets/5920259/18628497/6476ff70-7e58-11e6-972c-151fdae554f6.png)

[2016-09-19 14:17] megax commented on #566
@lots0logs https://github.com/numixproject/numix-gtk-theme/commit/7e617ce8f5f11b289b8f944dc4558ea98bd072f5

[2016-09-19 14:32] tserhii-gh commented on #566
Same problem, indicator plugin background is solid white
![screenshot_2016-09-19_17-32-22](https://cloud.githubusercontent.com/assets/1315398/18635821/0bc18314-7e8f-11e6-94af-bf9af6d3de7f.png)

[2016-09-19 15:04] megax commented on #566
Please revert @lots0logs commit and test code. A temporary solution may be.
But I agree with @lots0logs. Must rewrite/check xfce code.

Edit: @lots0logs Xfce GTK 3.20 code: https://github.com/shimmerproject/Greybird/blob/master/gtk-3.0/_xfce.scss I guess that's pretty much good. Should be amended accordingly.

[2016-09-19 16:01] khurshid-alam commented on #566
Only the panel button code needs rewrite. xfce code are kept at minimum level to avoid problems with different distributions.

[2016-09-19 17:59] lots0logs commented on #566
Sorry guys, I will take care of this. :sweat_smile:

[2016-09-19 18:53] wooque opened #567 "2.6.2 broke XFCE power manager plugin icon"
Before (2.6.1) ![before](https://cloud.githubusercontent.com/assets/1936195/18644628/66197aa4-7eaa-11e6-8d39-1ed1c82ae237.png)
After (2.6.2) ![after](https://cloud.githubusercontent.com/assets/1936195/18644630/69b66406-7eaa-11e6-9c48-469d8e196926.png)
It started to look like that after commit "**disable some unused styles for xfce**" https://github.com/numixproject/numix-gtk-theme/commit/7e617ce8f

[2016-09-19 19:06] megax commented on #567
@lots0logs, @wooque related PR: https://github.com/numixproject/numix-gtk-theme/issues/566

[2016-09-19 19:40] megax commented on #548
@lots0logs Fixed bug: https://github.com/numixproject/numix-gtk-theme/pull/568

[2016-09-19 19:42] megax commented on #565
@BaraVaq Please test code: https://github.com/numixproject/numix-gtk-theme/pull/568 It can improve error. (supposition :) )

[2016-09-19 20:43] lots0logs commented on #548
@megax Hmm..in your screenshot the toolbar buttons shape changed. We dont want them to look like rectangles :grimacing:

[2016-09-20 03:20] lots0logs commented on #566
@Foggalong I cant reproduce the issue with Xfce on Arch which is weird. I'll look into it further...

[2016-09-20 05:22] megax commented on #548
@lots0logs Idea? :)

[2016-09-20 07:52] lots0logs commented on #548
I'm going to try and get a patch submitted to nemo for adding a css selector for the pathbar. There really is no way to properly target the pathbar currently so I am sure the patch will be accepted. I just have to find the time to do it :grimacing:

[2016-09-20 13:12] gtomas41 opened #569 "White title bar Numix-gtk-theme bug in Xenial (16.04.1)"
This happens now and then. Once I fixed it, but I'm not sure how. Purging and reinstalling the theme doesn't help.

![image](https://cloud.githubusercontent.com/assets/22322105/18671469/83e4bb8a-7f44-11e6-9f3a-2aee6311126d.png)

Ubuntu Unity 16.04.1 LTS

[2016-09-20 15:53] BaraVaq commented on #565
@megax It fixed big arrows.

[2016-09-20 16:32] Foggalong commented on #566
This is XFCE on Ubuntu here :)

[2016-09-20 16:36] megax commented on #565
@BaraVaq thanks you :)

[2016-09-20 16:37] megax commented on #548
@lots0logs related PR: #565

[2016-09-20 16:47] #566 closed, assigned to lots0logs

[2016-09-20 16:48] megax commented on #566
@khurshid-alam GTK 3.20?

[2016-09-20 16:53] khurshid-alam commented on #566
@megax

Does reverting 7e617ce fix it for 3.20? I don't think so.

To fix it properly for 3.20 we first need to port **_panel.scss** (#550), specifically fix `%panelbutton` code inside it.

[2016-09-20 17:03] lots0logs commented on #566
AFAIK xfce-panel is still using gtk2. I dont understand how the changes made in the gtk3 theme are having any affect on it. Also, like I said, I cannot reproduce the issue shown in the screenshots on a clean install of Xfce on Arch.

[2016-09-20 17:26] khurshid-alam commented on #566
It depends. Libxfce4ui 4.12 (which is in Ubuntu) can compile with both gtk2 and gtk3. Dialogs are all gtk3 in 4.13. Complete port will be done in 4.14 , i guess. Also there are many third-party applets that uses gtk3.

[2016-09-21 01:08] cdysthe commented on #569
This happens all the time on 16.10 Beta 1. I do have red window controls when hovering over the window bar area when the controls are (the left side on Unity).

[2016-09-21 14:47] khurshid-alam commented on #569
Please use the PPA for Ubuntu 16.04/16.10. Thanks.

[2016-09-21 15:06] cdysthe commented on #569
I am using the PPA:

http://ppa.launchpad.net/numix/ppa/ubuntu yakkety main

[2016-09-21 16:08] khurshid-alam commented on #569
Ah..sorry...it was caused by an error on utils.sh where we are coping a gtk.css which contains nothing.

[2016-09-21 16:13] #569 closed, assigned to nobody

[2016-09-21 16:14] khurshid-alam commented on #569
Please install the new version and check again. Thanks.

[2016-09-21 17:38] Foggalong commented on #368
Just as a point of info: if we can get this done then having a Numix style switch shipped in the [Ubuntu Budgie](http://budgie-remix.org/) variant welcome app is a very real possibility

[2016-09-21 19:44] gtomas41 commented on #569
Why is this closed? I have opened the issue having installed the lastest issue from the official PPA for Ubuntu xenial 16.04.!

[2016-09-21 19:58] khurshid-alam commented on #569
@gtomas41

I just pushed a fix. It may take few hours to compile on launchpad. Please update when its available (`sudo apt-get update`) and then install and try again.

[2016-09-22 02:05] jbicha opened #570 "Missing checkbox theming"
Ubuntu GNOME 16.10 Beta with GTK 3.20.9
numix 2.6.3

I compiled numix and installed numix 2.6.3. I am missing checkboxes in GTK3 apps like in gedit's Preferences dialog or in Firefox forms (Ubuntu's Firefox is GTK3-enabled).

I looked in /usr/share/themes/Numix/gtk-3.20/gtk.gresource and it mentions "../assets/radio-unchecked.png" but there is no assets folder there.

[2016-09-22 03:06] #570 closed, assigned to lots0logs

[2016-09-22 05:40] lots0logs opened #571 "GTK 3.22 Issues"
According to [this page](https://developer.gnome.org/gtk3/stable/GtkCssProvider.html#GtkCssProvider.description) in GTK docs, we should not need to symlink `gtk-3.22` to `gtk-3.20` directory. It should "just work" as it is now. Just need to confirm that is actually the case.

[2016-09-22 10:11] khurshid-alam commented on #570
@lots0logs I thought I already fixed that in earlier commit. Now it has broken again.

[2016-09-22 10:37] lots0logs commented on #570
@khurshid-alam No you didnt fix it. The assets were not included. I fixed it and I tested it. Let me know what issue you are seeing.

[2016-09-22 11:17] khurshid-alam commented on #570
@lots0logs No issue. Only broken in launchpad. It was not working because it wasn't creating the necessary symlinks to assets. So I changed debian rules to do that. But now that makefile doing exactly that..... there is no need for extra install file.

[2016-09-22 11:17] khurshid-alam commented on #570
Fixed on launchpad as well. All good.

[2016-09-22 11:34] lots0logs commented on #570
I'm not sure what you mean? :confused:

[2016-09-22 14:56] cdysthe commented on #569
I stll haven't gotten an update in Ubuntu 16.04 Beta 1. Will I get an update through the PPA?

[2016-09-22 15:00] khurshid-alam commented on #569
Yes. Through PPA.

[2016-09-22 15:06] gtomas41 commented on #569
Me neither. Been checkimg for two days.

On Thu, 22 Sep 2016, 17:01 Khurshid Alam, notifications@github.com wrote:

[2016-09-22 15:31] cdysthe commented on #569
So we are sure it is available for 16.10 at all? Doesn't normally take this long for an update to propagate.

[2016-09-22 18:59] megax commented on #550
Reference code: https://github.com/horst3180/arc-theme/commit/fb1a401ba9c8b32a2c1159ea26816ad21750174a
https://github.com/horst3180/arc-theme/commit/e250405fdb7509b3d3f8fb9c7ca6a78f0f59bad6
https://github.com/horst3180/arc-theme/commit/32a5aa99d306143caa03fdbab30a635be46c69fe

[2016-09-22 23:38] cdysthe commented on #569
So nothing yet on the PPA for Ubuntu 16.10. Should it take this long?

[2016-09-23 04:51] khurshid-alam commented on #569
New Build was completed 12 hrs ago.

[2016-09-23 07:11] gtomas41 commented on #569
This is the PPA, right: sudo add-apt-repository ppa:numix/ppa
There's no update as of yet for xenial (16.04.1).

On Fri, Sep 23, 2016 at 6:51 AM Khurshid Alam notifications@github.com
wrote:

[2016-09-23 07:15] khurshid-alam commented on #569
Latest version is `2.6.0+581~201609221601~ubuntu16.04.1`. You can try removing your existing theme and then reinstall.

[2016-09-23 07:17] gtomas41 commented on #569
I have tried that, doesn't help. I've also tried removing the PPA and
readding it. Maybe it installs the latest build, but it does not fix the
proble.

On Fri, Sep 23, 2016 at 9:15 AM Khurshid Alam notifications@github.com
wrote:

[2016-09-23 07:18] khurshid-alam commented on #569
This is the deb: https://code.launchpad.net/~numix/+archive/ubuntu/ppa/+build/10943668/+files/numix-gtk-theme_2.6.0+581~201609221601~ubuntu16.04.1_all.deb

[2016-09-23 07:22] khurshid-alam commented on #569
What is the output of `ls -l "/usr/share/themes/Numix Daily/gtk-3.0"` ? Also check theme version with `apt-cache policy numix-gtk-theme`.
`

[2016-09-23 07:32] khurshid-alam commented on #569
You are using Unity right?  Use unity-tweak-tool change the theme to Ambiance and then back to Numix. On my pc it looks alright.

![numix-ppa](http://i.imgur.com/CjGAU0z.png)

[2016-09-23 07:33] gtomas41 commented on #569
I have the later build, 2.6.1. Still the same problem.
reseting to ambience and then Numix doesnt solve the issue.

On Fri, Sep 23, 2016 at 9:32 AM Khurshid Alam notifications@github.com
wrote:

[2016-09-23 07:35] khurshid-alam commented on #569
Tell me the output that I have asked before.

[2016-09-23 07:38] gtomas41 commented on #569
There's no Numix Daily folder.
However, there's a NUmix folder, and the output of the command you listed
is as follows:

drwxr-xr-x 2 root root   4096 Ruj 23 07:39 assets
drwxr-xr-x 2 root root   4096 Ruj 23 07:39 dist
-rw-r--r-- 1 root root     62 Lip 18 15:39 gtk.css
-rw-r--r-- 1 root root     67 Lip 18 15:39 gtk-dark.css
-rw-r--r-- 1 root root 518592 Kol  6 18:09 gtk.gresource
-rw-r--r-- 1 root

[2016-09-23 07:38] khurshid-alam commented on #569
Ah. That's the problem. **There is no 2.6.1 on our PPA. It's a debian version only works in yakkety.** Remove whatever version you have and install the exact version from the ppa.

You can first try removing "/usr/share/themes/Numix" and "/usr/share/themes/Numix Daily" manually from nautilus (just run nautilus with sudo) and then install the deb file (or from PPA) I provided earlier.

[2016-09-23 07:45] gtomas41 commented on #569
Ok. So which version should i specify to install? I sudo apt install
numix-gtk-theme...?

On Fri, 23 Sep 2016, 09:38 Khurshid Alam, notifications@github.com wrote:

[2016-09-23 09:19] khurshid-alam commented on #569
**Are you sure that you are on Ubuntu 16.04 and not on Ubuntu 16.10?**

I think you are not updating the repository.**Since version in the universe is greater than PPA, it won't work for Ubuntu 16.10 (Yakkety).**

 **If you are on 16.04**, Run these command

[code]

**If you are on 16.10**, Run these command

[code]

PPA update for yakkety will be uploaded soon.

[2016-09-23 11:15] cdysthe commented on #569
I have had the Numix PPA added for years :-) I have updated it many times over the last couple of days. I even purged it and added it back again but there's no update for the GTK theme as of now. I still have the one with white window bar. This i what I get when purge it and then install again. I now see that it will be updated for yakkety soon, so I'll wait a little more :-)

[2016-09-23 19:13] Mentis commented on #569
The problem is that official Ubuntu repos have version 2.6.1 whether ppa has version 2.6.0-something
You need to force install specific version like this:
sudo apt install numix-gtk-theme=2.6.0+581~201609221604~ubuntu16.10.1

[2016-09-23 19:39] cdysthe commented on #569
Thanks! Did that and was told the it was being downgraded. I don't care as long as it works. There must be a way to set up the PPA so the correct version is selected. I wouldn't know how, but maybe the Numix devs can find out? And what a relief that have my desktop back! :)

[2016-09-23 21:45] megax commented on #567
@wooque Still having trouble?

[2016-09-23 23:36] wooque commented on #567
Just updated to 2.6.4, everything is fine. This issue can be closed.

[2016-09-24 00:26] #567 closed, assigned to nobody

[2016-09-24 19:34] geckolinux commented on #272
OK, on openSUSE Tumbleweed with Gnome 3.22 this is _partially_ fixed. Now there is a new bug where Nautilus is showing a narrow vertical white fringe on the extreme right vertical side of the screen. Look closely at the attached screenshot. The fringe goes away when desktop icons are disabled.

![screenshot from 2016-09-24 14-30-58](https://cloud.githubusercontent.com/assets/2692138/18810770/f17eb

[2016-09-24 19:49] axfelix commented on #272
I think that may already be fixed in master, I noticed it prior to the last update on Arch but not in the most recent one.

[2016-09-24 21:50] cdysthe commented on #569
@Mentis Thank you for that solution. It's pretty difficult to be running 16.10 beta and always have one package I can't upgrade or Numix will break. Why isn't it possible to make sure the PPA contains a version newer that the one in the Ubuntu repos so we do not have to use this workaround to get it to work? Aslo the terminal is white, shouldn't it be black in Numix?

[2016-09-24 22:56] Corsseir opened #572 "The same text color as the background color of a button"
Details on a screenshot:
![screenshot from 2016-09-25 00-53-33](https://cloud.githubusercontent.com/assets/11137173/18811750/e4186de8-82ba-11e6-952c-b3e322a5bd52.png)

[2016-09-24 23:57] cdysthe opened #573 "The current working version of numix-gtk-theme gets updated to a non working version from the Ubuntu repositories."
Hi,

The working numix-gtk-theme 2.6.0+581~201609221604~ubuntu16.10.1 has to be forced installed on Ubuntu 16.10 Beta and then locked/held since the one in the Ubuntu repositories has the version number 2.6.1-1 which is higher than the one in the PPA. It would be good if the PPA could get a version number ahead of the Ubuntu repositories so it doesn't have to be locked forced and locked.

[2016-09-25 00:10] lots0logs commented on #573
@khurshid-alam is taking care of this. We are reworking the PPA to offer a stable package and a daily build.

[2016-09-25 00:12] lots0logs commented on #572
Which version of Ubuntu and the theme does this occur with? It was recently fixed so please ensure you are using the latest version of the theme.

[2016-09-25 00:25] geckolinux commented on #272
@axfelix Ah, nice, I'll post back here if the fix appears in Tumbleweed.

[2016-09-25 08:11] megax commented on #548
@lots0logs Minimal fixed `padding: 0 ($spacing + 4px);`: ![image](https://cloud.githubusercontent.com/assets/461493/18813817/8c37d18e-8307-11e6-9f3d-da47f204c2f5.png)

`padding: 0 ($spacing + 5px);`:
![image](https://cloud.githubusercontent.com/assets/461493/18813840/5e63d5ea-8308-11e6-9d3f-f47c939acc90.png)

Which one should be?

[2016-09-25 12:38] cdysthe opened #574 "White background Gnome Terminal"
The Gnome Terminal has a white background in Numix on Ubuntu 16.10 Beta running Unity. I seem to remember it used to be dark, but I may be wrong. I know I can easily set the background myself, but was wondering if this was an intentional change?

[2016-09-25 13:30] lots0logs commented on #548
the second one :+1:

[2016-09-25 13:45] megax commented on #548
Done.

[2016-09-25 13:48] #548 closed, assigned to nobody

[2016-09-25 13:49] megax commented on #565
@khurshid-alam, @lots0logs Fixed issue.

[2016-09-25 15:50] gtomas41 commented on #569
OK, so can anyone finally provide me with the complete command line sudo
for installing a Numix GTK theme that WILL work fine on ubuntu 16.04.1? The
link provided above does not work even if I change ubuntu to 16.04.1

On Sat, Sep 24, 2016 at 11:50 PM Christian Dysthe notifications@github.com
wrote:

[2016-09-25 18:08] khurshid-alam commented on #574
You don't need to change background. You can use dark variant from terminal profile preference.

**light:**

![20160511_171207](https://cloud.githubusercontent.com/assets/922874/15185999/964bbeec-179b-11e6-9b57-ffb6c28cf97d.png)

**dark:**

![20160511_171212](https://cloud.githubusercontent.com/assets/922874/15186000/965703ba-179b-11e6-9c4f-5835f7ef1ee8.png)

[2016-09-25 18:08] #574 closed, assigned to nobody

[2016-09-25 18:11] khurshid-alam commented on #571
I think we better create a separate gtk-3.22 folder as lots of things are different in 3.22 than in 3.20....specially with the patched version of GTK that Debian/Ubuntu ships.

[2016-09-25 18:15] khurshid-alam commented on #573
In-Progess

[2016-09-25 18:29] megax commented on #574
@khurshid-alam Now dark window and background :)
![image](https://cloud.githubusercontent.com/assets/461493/18817363/ae157c8c-835e-11e6-9090-115dd8678da0.png)

[2016-09-25 18:39] lots0logs commented on #571
@khurshid-alam You have any specific examples? AFAIK there should not be any breaking changes to the theme API. If there are new styles needed then we can add them without hurting anything on gtk 3.20.

[2016-09-25 18:53] cdysthe commented on #574
That's weird. I only have one profile 'default' and it's white on vanilla Ubuntu 16.10 Beta. I'll create my own dark profile for Numix with a color picker :)

[2016-09-25 19:01] khurshid-alam commented on #574
It's not the profile-preference, but preference->theme variant.
![screenshot from 2016-09-26 00-28-30](https://cloud.githubusercontent.com/assets/1333217/18817545/88bad65e-8380-11e6-9859-33074f2abf2d.png)

[2016-09-25 19:02] megax commented on #574
![anim](https://cloud.githubusercontent.com/assets/461493/18817550/594f494e-8363-11e6-9eac-b59c00593695.gif)

[2016-09-25 19:05] cdysthe commented on #574
Thanks, see it now! :) However, it's not Numix enough for me. I will use that as a base though.

[2016-09-25 19:46] megax opened #575 "GTK 3.20 :: Menu :: Combobox menu nothing state"
Numix and Adwaita (test program: gaupol)
![anim](https://cloud.githubusercontent.com/assets/461493/18817788/ef0f1f26-8369-11e6-9e02-c535e3b76c26.gif)

[2016-09-25 19:49] megax commented on #575
@lots0logs Idea?

[2016-09-25 20:05] ItachiSan commented on #272
@megax fixed! Thanks a lot :smile:

[2016-09-25 20:26] megax opened #576 "GTK 3.22 :: Nautilus :: Conflict-row styling"
Add conflict-row styling to Nemo.

Reference code: https://github.com/horst3180/arc-theme/commit/1c706464c5de388d83440cb684c6a8d4d8255153

[2016-09-25 20:30] megax commented on #561
Can you possibly send PR?

[2016-09-25 22:17] #565 closed, assigned to nobody

[2016-09-25 22:53] marmis85 commented on #572
@lots0logs I have this also on Arch GNOME 3.20 Numix latest commit, I have only noticed it in those buttons in Geary

[2016-09-26 11:46] megax commented on #355
@MPE2016 Still having trouble?

[2016-09-26 11:51] #355 closed, assigned to nobody

[2016-09-26 11:52] MPE2016 commented on #355
None at all, I forgot closing it. It is now closed

Op 26-09-16 om 13:46 schreef Csaba Jakosa:

[2016-09-26 11:53] megax commented on #355
Thanks you :)

[2016-09-26 11:56] MPE2016 commented on #355
thanks for reminding me:)

Op 26-09-16 om 13:53 schreef Csaba Jakosa:

[2016-09-26 11:57] megax commented on #247
@netforhack Still having trouble?

[2016-09-26 19:49] megax commented on #557
Related bug:
**Adwaita:**
![image](https://cloud.githubusercontent.com/assets/461493/18849377/02df2270-8433-11e6-8040-7bcfe2cba7ee.png)

**Numix:**
![image](https://cloud.githubusercontent.com/assets/461493/18849388/0a3de0e2-8433-11e6-8005-b2b49c7ae3bc.png)

[2016-09-27 18:20] pwittchen opened #577 "Bad look of the windows style on Ubuntu 16.04 with Gnome Classic (gnome-session-fallback)"
After upgrading the system to Ubuntu 16.04, a few windows started looking bad (like old gnome classic style) and a few windows got a huge padding. Moreover, Dropbox icon in the top panel is not consistent with the rest of the icons. I'm using Gnome Classic (gnome-session-fallback). On Ubuntu 14.04 everything was fine. See attached screenshot.

![screenshot](https://cloud.githubusercontent.com/asse

[2016-09-27 18:30] cawa-93 opened #578 "Add the application icon for Visual Studio"
Now the application icon for Visual Studio is no different from the usual icons editor. It is not comfortable.
![2016-09-27 21-26-02](https://cloud.githubusercontent.com/assets/1662812/18886684/924d12fc-84f9-11e6-82b2-8e3dee76db87.png)

[2016-09-28 05:30] khurshid-alam commented on #577
It doesn't look like gnome-session-fallback. It's gnome-session-flahback with gnome3-panel.

[2016-09-28 07:02] khurshid-alam commented on #370
What happen when you press `tab`? A fine outer border should appear.

[2016-09-28 08:56] SammysHP commented on #370
@khurshid-alam It switches between the two buttons. In the screenshot you can see both states.

[2016-09-28 16:10] pwittchen commented on #577
I've installed it with the following command:

[code]

so I suppose it's `gnome-session-fallback`.

[2016-09-28 21:10] muktupavels commented on #577
gnome-session-fallback is a transitional package to ease upgrades to gnome-session-flashback. In ubuntu 16.04 you need use this command to change metacity theme:
`gsettings set org.gnome.metacity theme "THEME_NAME"`

Or you can also use dconf-editor...

[2016-09-29 08:35] khurshid-alam commented on #573
Fixed.

[2016-09-29 08:35] #573 closed, assigned to khurshid-alam

[2016-09-30 14:00] bm-skutzke commented on #450
I have the same issue with Fedora 24.
numix-gtk-theme-2.6.0-1.fc24.noarch
gtk3-3.20.9-1.fc24.x86_64
evolution-3.20.5-1.fc24.x86_64

[2016-09-30 19:38] leoheck opened #580 "Inkscape dark menus with dark icons"
Hi, someone knows how to fix that? Sometimes is difficult to pick up a marker.

![inkscape-theme](https://cloud.githubusercontent.com/assets/1277920/19004369/025f6f2a-872c-11e6-9c06-383de1277858.png)

[2016-09-30 22:05] lots0logs commented on #571
- [ ]  Theme parsing error: gtk.css:680:14: not a number
- [ ]  Theme parsing error: gtk.css:680:14: Expected a string.
- [ ]  Theme parsing error: gtk.css:683:17: Expected a string.
- [ ]  Theme parsing error: gtk.css:838:14: not a number
- [ ]  Theme parsing error: gtk.css:838:14: Expected a string.
- [ ]   Theme parsing error: gtk.css:841:17: Expected a string.
- [ ]  Theme parsing error: gtk.c

[2016-09-30 22:08] lots0logs commented on #571
**_Note:**_ Let's see if we can fix these issues in the 3.20 directory without breaking backwards compatibility. I would like to avoid adding a separate directory for 3.22 if possible.

[2016-09-30 23:52] darkshram opened #581 "No icons in marco window manager (MATE) in preferences/options/equalizer windows in quodlibet and audacious."
This is how quodlibet preferences window looks with Ambiance gtk+ theme in MATE Desktop (marco as window manager, no-compiz). Menu icon at the left, close icon at the right.
![1](https://cloud.githubusercontent.com/assets/10327500/19009747/7797370e-873c-11e6-8da6-e9796c18e9e7.png)

This is how quodlibet preferences window looks with Numix gtk+ theme in MATE Desktop (marco as window manager, no-com

[2016-10-01 10:17] khurshid-alam commented on #571
- [x]  Theme parsing error: gtk.css:2792:18: Using Pango syntax for the font: style property is deprecated; please use CSS syntax
- [x]  Theme parsing error: gtk.css:2797:18: Using Pango syntax for the font: style property is deprecated; please use CSS syntax

It's a simple fix: We need to use `font-weight`, `font-size`, `font-family` instead of `font`. So it can be merged with 3.20

[2016-10-01 10:24] khurshid-alam commented on #580
GTK version? Distro?

[2016-10-01 22:08] zruu opened #582 "Failed to locate 'assets/checkbox-checked-dark.png' in any source directory."
I'm not really sure why I get this error when running make install (the file is there):

[code]

[2016-10-01 22:57] #508 closed, assigned to nobody

[2016-10-02 06:08] megax commented on #581
Related issue: https://github.com/numixproject/numix-gtk-theme/issues/480

[2016-10-02 14:33] leoheck commented on #580
Sorry I forgot that.  Ubuntu 16.06 (gtk+3.0)

[2016-10-02 19:24] BurningSmile opened #583 "How can I buy numix dark? The web store appears to be blank."
I would like to buy the Numix dark gtk3 theme but the store is broken. How can I go about buying it?

[2016-10-02 21:44] darkshram commented on #581
Understood #480 . I made a patched version for [ALDOS 1.4](http://www.alcancelibre.org/staticpages/index.php/notas-lanzamiento-aldos-1-4). Very close to set Numix as default theme for next release. Please, you may close this issue.
![pantallazo-2016-10-02 16-42-58](https://cloud.githubusercontent.com/assets/10327500/19023916/56c97508-88bf-11e6-91d8-90ca92984e92.png)

[2016-10-03 06:52] BaraVaq opened #584 "GTK 3.22 :: dconf-editor :: hardly usable"
![dconf](https://cloud.githubusercontent.com/assets/22131622/19029417/9006dc22-8935-11e6-93d2-1952c48a8ec3.png)

[2016-10-03 07:11] BaraVaq opened #585 "GTK 3.22 :: System Monitor :: white points on the left and right sides"
![system monitor](https://cloud.githubusercontent.com/assets/22131622/19029741/72da7e58-8938-11e6-965f-927963a5a8db.png)

[2016-10-03 08:15] moonmehta opened #586 "PPA for Ubuntu 16.10 no longer has dark tab colors for Terminal by default"
In 16.04, the background colors of the tabs in Nautilus used to be dark. Now they are light and don't look good. They look odd.
![numix-gtk-theme-nautilus-ppa](https://cloud.githubusercontent.com/assets/22585732/19031076/a27317d8-896f-11e6-9e26-3c89d92ec5f0.png)
![numix-gtk-theme-terminal-ppa](https://cloud.githubusercontent.com/assets/22585732/19031077/a27d8cae-896f-11e6-9bcb-4cc54b0aea50.png)

[2016-10-03 08:42] satya164 commented on #586
Are you sure about that? I don't think they were.

The Terminal tabs however used to be dark.

[2016-10-03 16:07] megax commented on #585
And bug 3.20:
![image](https://cloud.githubusercontent.com/assets/461493/19044358/2c643368-8994-11e6-9324-c9ea233efd49.png)

And bug arc-theme (example):
![image](https://cloud.githubusercontent.com/assets/461493/19044402/68a31c0e-8994-11e6-89fb-c69f64ba1fce.png)

[2016-10-03 16:15] megax commented on #586
Please change terminal settings: https://github.com/numixproject/numix-gtk-theme/issues/574#issuecomment-249439613 (dark theme)

[2016-10-03 16:17] megax commented on #582
@lots0logs idea?

[2016-10-03 16:19] megax commented on #584
Strange, the other works? (popover menu)

[2016-10-03 17:01] lots0logs commented on #582
No, I'm afraid not. I recommend cloning a fresh copy and trying it again. It should work. It works fine for me locally and it also works on our CI builds.

[2016-10-04 08:26] moonmehta commented on #586
@satya164 @megax My bad, Nautilus tabs used to be white on 16.04. Maybe they would look better as dark though, since you want to create a good contrast between Dark and Light. Maybe make a mock-up and let's see if people like it?

However I must say, that personally the Light variant for the Numix terminal looks awful. Especially considering that most people prefer dark color schemes in the termin

[2016-10-04 08:31] BaraVaq commented on #584
Looks like other things work.

[2016-10-04 13:18] moonmehta commented on #586
Here is an example of a Windows where Dark tabs be default would look better and help separate the content with the options.
![numix-software-and-updates](https://cloud.githubusercontent.com/assets/22585732/19075570/1ebd698a-8a63-11e6-856a-a3f27355b492.png)

[2016-10-04 17:14] lots0logs commented on #586
Is that how the title bar looks by default are have you made some modifications to the theme?

[2016-10-04 18:10] megax commented on #586
@lots0logs Unity uniqueness... :)

[2016-10-04 20:03] khurshid-alam commented on #586
@uncertainquark Tabs are also redesigned in 16.10. So whether they are dark or light, they are not the same. Also tabs looks really bad in 16.10 due to a gtk patch.

[2016-10-04 20:07] khurshid-alam commented on #583
Numix dark hasn't been maintained. Anyway send us a email at team@numixproject.org

[2016-10-04 20:08] #581 closed, assigned to nobody

[2016-10-04 20:14] khurshid-alam commented on #582
@zruu Probably a problem with symlinks. Clone the source and try again.

[2016-10-04 20:18] khurshid-alam commented on #584
https://mail.gnome.org/archives/commits-list/2016-July/msg06797.html

[2016-10-04 21:23] lots0logs commented on #582
You know what..I bet they downloaded the archive instead of cloning with git. To address this case we'll have to check for the existence of the symlinks and create them if necessary. I will take care of it asap!

[2016-10-05 03:42] moonmehta commented on #586
@khurshid-alam So it can't be fixed?

[2016-10-05 03:55] moonmehta opened #587 "The Numix and Numix-blue packages in Ubuntu 16.10 default repos have titlebar color and buttons visiblity issues"
Here's how it looks

![numix-ubuntu-16-10-nautilus](https://cloud.githubusercontent.com/assets/22585732/19100484/eb40db76-8adc-11e6-8d63-47ca36367e9a.png)
![numix-ubuntu-16-10-terminal](https://cloud.githubusercontent.com/assets/22585732/19100485/eb714004-8adc-11e6-9651-0a110b7cddb1.png)

The ones in the PPA look fine on the other hand:

![numix-gtk-theme-nautilus-ppa](https://cloud.githubusercont

[2016-10-05 05:03] moonmehta commented on #572
@lots0logs @marmis85 @Corsseir @satya164 Can confirm on Ubuntu 16.10 (GTK 3.20) Beta builds with Geary too. I am on the PPA (so assuming I am on the latest) and can confirm it has not been fixed.

![numix-geary-text-bug-ubuntu-16-10](https://cloud.githubusercontent.com/assets/22585732/19101589/19916ad6-8ae7-11e6-82da-da2f990e32b7.png)

[2016-10-05 05:05] lots0logs commented on #587
We have no control over the version that is packaged in the official Ubuntu repos. I recommend submitting a bug report on launchpad to request that the official package be updated.

[2016-10-05 05:05] #587 closed, assigned to nobody

[2016-10-05 10:05] bluesabre commented on #587
We're working on getting numix-gtk-theme updated to 2.6.4 in Ubuntu 16.10.
https://bugs.launchpad.net/ubuntu/+source/numix-gtk-theme/+bug/1630401

[2016-10-05 15:21] khurshid-alam commented on #572
Geary is going through lots of changes in master. Although it shouldn't affect 11.x series. But then people have reported (see mailing-list) that they are having trouble even with 11.x in yakkety.

[2016-10-08 06:32] mishurov opened #588 "Padding in tabs in Audacious"
GTK-3.20
Numix 2.6.4 (aldo branches 'latest-release' and 'master' at the time of creation this issue)
Gentoo
![tabs](https://cloud.githubusercontent.com/assets/1371641/19210971/e956738e-8d39-11e6-937e-578864af29e8.png)

[2016-10-09 09:01] megax commented on #578
@khurshid-alam Numix theme issue?

[2016-10-09 09:09] megax commented on #572
I tested git master repo (geary). Fixed bug (new style https://github.com/GNOME/geary/commit/898fa3303ddbcfe72519526d54be95440c1cecbf):
![image](https://cloud.githubusercontent.com/assets/461493/19219343/b729fef8-8e10-11e6-9591-902b352b6462.png)

[2016-10-09 09:28] khurshid-alam commented on #572
Ok. They are now using infobar. But It should work for 11.x series as well as it is working with Gtk-3.18. maybe changing the code to  `.info {.button, button` instead of `.info button` is required.
![infobar-button](http://i.imgur.com/p3G8ZpO.png)

[2016-10-09 09:50] megax commented on #572
@khurshid-alam Test Adwaita infobar structure: https://github.com/GNOME/gtk/blob/gtk-3-20/gtk/theme/Adwaita/_common.scss#L3835

[2016-10-10 17:54] jclc commented on #578
This is an icon issue, not an issue with the GTK theme

[2016-10-12 05:29] #578 closed, assigned to nobody

[2016-10-13 07:52] khurshid-alam commented on #586
@uncertainquark No. Tabs are light by design. We don't use dark tab in light window.

[2016-10-13 07:52] #586 closed, assigned to nobody

[2016-10-14 10:18] ghost commented on #247
Nope, Yandex.Browser changed design and all looks good http://imgur.com/a/X6pmK

[2016-10-14 10:18] #247 closed, assigned to nobody

[2016-10-14 14:36] nazar-pc commented on #178
I've just updated [my fork](https://github.com/nazar-pc/numix-gtk-theme/tree/darker-dark) to also patch 3.20's dark styles and it looks great! I've being using default brighter version for a while and now I don't understand how did I survive for so long...

Who, among those against darker variant, are actually using it as primary theme?

[2016-10-16 05:24] #571 closed, assigned to nobody

[2016-10-16 05:27] #576 closed, assigned to nobody

[2016-10-16 08:35] megax commented on #583
@BurningSmile solved? :)

[2016-10-16 12:46] megax commented on #575
@lots0logs Fixed bug :) https://github.com/numixproject/numix-gtk-theme/pull/594

[2016-10-16 14:58] megax commented on #205
@khurshid-alam Idea? We can improve?

[2016-10-16 15:12] khurshid-alam commented on #205
@megax @haarp
I don't really see any problem with panel. And popup is using some sort of transparency.

Xfce gtk-3 port is coming soon. At this point We are not change gtk2 theme code unless it's absolutely broken.

[2016-10-16 15:12] #205 closed, assigned to nobody

[2016-10-16 15:15] megax commented on #238
@dasjoe you could send PR?

[2016-10-16 15:17] megax commented on #374
@khurshid-alam I can not reproduce. I think not Numix bug.

[2016-10-16 16:04] SammysHP opened #596 "GTK 3.20 :: fine-tune indication almost invisible"
If you long press on a slider handle the slight background color change is hardly noticeable. Please add some better indication for fine-tune mode.

[2016-10-16 16:06] megax commented on #596
@SammysHP You do not do a PR? :)

[2016-10-16 16:26] megax commented on #480
@khurshid-alam Do you have any idea how to solve? Which does not cause regression.

[2016-10-16 16:28] SammysHP commented on #561
I'm now able to reproduce it, but I still don't know the reason. It seems to be related to `box-shadow`, but I cannot find the matching rule or even the element.

This fixes it, but only after the window was resized (which might clear some cache or forces a redraw).

[code]

Actually it might be a bug in GTK.

[2016-10-16 16:39] khurshid-alam commented on #480
I will look into it.

[2016-10-16 17:14] megax commented on #588
Other applications also occurs?

[2016-10-16 17:17] megax commented on #578
@cawa-93 Please write here: https://github.com/numixproject/numix-icon-theme/issues

[2016-10-16 17:18] mishurov commented on #588
It seems that I don't have applications with such a type of a UI element although other GTK 3.20 themes like Adapta draw these tabs well.

[2016-10-16 17:19] megax commented on #577
@pwittchen We managed to solve?

[2016-10-16 17:21] megax commented on #588
And other theme good? (notebook tab)

[2016-10-16 17:22] SammysHP commented on #596
I might do it. Just porting my personal changes¹ to the current master and see if I get a good idea.

¹ Actually it's quite interesting that there's not much difference between my version and upstream. A few months ago I changed a lot, like button sizes, various margins and paddings, colors and assets. Now it's just the headerbar/menu background color, the headerbar margin and assets (which I need

[2016-10-16 17:27] mishurov commented on #588
This is Flat-Plat theme, all other is the same.
![flay-plat](https://cloud.githubusercontent.com/assets/1371641/19419377/ea2a5f72-93de-11e6-8abb-bf603331dda1.png)

[2016-10-16 17:52] pwittchen commented on #577
@megax I actually switched to Gnome 3, where this problem does not occur and everything works and looks good.

It's fine for me now, so I didn't spend more time for fixing reported issue by myself.

[2016-10-16 17:57] megax commented on #588
@lots0logs Idea?

[2016-10-16 17:57] khurshid-alam commented on #577
Related issue #550

[2016-10-16 18:03] #575 closed, assigned to nobody

[2016-10-16 19:22] megax commented on #584
If i change Adwaita popover code (background color), can not respond background color.
![image](https://cloud.githubusercontent.com/assets/461493/19420189/8f1a14bc-93e6-11e6-8460-b52c20475412.png)

I think not theme error.
**Edit:** https://bugzilla.gnome.org/show_bug.cgi?id=772978

[2016-10-16 23:12] #374 closed, assigned to nobody

[2016-10-16 23:20] #577 closed, assigned to nobody

[2016-10-17 18:58] SammysHP commented on #583
The dark theme is included in this version and can be enabled via Gnome/GTK configuration.

![20161017_205807](https://cloud.githubusercontent.com/assets/922874/19451143/72467a4e-94ac-11e6-93b9-6cb18777d0f3.png)

[2016-10-17 19:02] #583 closed, assigned to nobody

[2016-10-18 08:12] dakira opened #601 "GTK 3.20 :: gnome-terminal not styled (white bg)"
Just updated to Ubuntu 16.10 and lost styling on gnome-terminal. Everything else looks quite nice, so far.

**Update:** I just found issue #574. If that is the intended behavior then this can be closed.

[2016-10-18 14:39] #550 closed, assigned to nobody

[2016-10-18 14:57] #544 closed, assigned to nobody

[2016-10-18 15:09] megax commented on #601
@khurshid-alam Close issue?

[2016-10-18 15:31] #601 closed, assigned to nobody

[2016-10-18 18:20] megax commented on #584
If all true, corrected: https://github.com/GNOME/dconf-editor/commit/d13aa05e00e4e2ed2cfd39f0d4b211276e322677

[2016-10-18 21:16] khurshid-alam commented on #407
It is difficult to find exact arraow placement perfect as we are using only two sizes. Anyone who wants to modify the svgs is always welcome.

[2016-10-18 21:29] megax commented on #369
@khurshid-alam, @lots0logs Fixed: https://github.com/numixproject/numix-gtk-theme/pull/603

[2016-10-19 06:04] jcjordyn130 opened #604 "GTK 3.20:: Network Manager GTK Applet :: All of the buttons are flat"
It looks like this: [nm-applet.png](https://voidlinuxforum.s3-eu-west-1.amazonaws.com/original/1X/fc3b092b378a6485d3e65f09bad09de68af9d6c4.png)

Sorry if i'm not providing enough information.

[2016-10-19 08:20] khurshid-alam commented on #604
@jcjordyn130
Which distro? GTK version? How did you install?

[2016-10-19 12:53] megax commented on #588
@lots0logs Tested. Not inherits the style...
![image](https://cloud.githubusercontent.com/assets/461493/19519346/dbeccfc4-960b-11e6-9806-779e7a272641.png)

[2016-10-19 21:28] jcjordyn130 commented on #604
@khurshid-alam I'm using void linux, with gtk2 version 2.24.30 and gtk3 version 3.20.3, and I installed to ~/.themes with make

[2016-10-20 05:49] khurshid-alam commented on #604
That's the problem. Please install it to /usr/share/themes. Also make sure you have all installed first.

[2016-10-20 07:07] M1cha commented on #390
it's not compatible? I've been using numix themes with cinnamon for over a year now without any problems.

[2016-10-20 09:33] jcjordyn130 commented on #604
That fixed it, closing... :)

[2016-10-20 09:33] #604 closed, assigned to nobody

[2016-10-20 19:21] megax opened #605 "GTK 3.20 :: Gnome builder :: Titlebar padding bug"
![image](https://cloud.githubusercontent.com/assets/461493/19574555/2ce319f6-970b-11e6-91c1-9ab930e44c15.png)

[2016-10-20 19:49] #605 closed, assigned to nobody

[2016-10-20 20:56] megax commented on #488
@jbicha, @khurshid-alam Still having trouble?

[2016-10-20 21:00] megax commented on #572
Related: https://github.com/numixproject/numix-gtk-theme/issues/450

[2016-10-21 04:01] nathaneltitane opened #608 "change Numix Blue folder name"
The folder name under /usr/share/themes is listed as 'NumixBlue' - would you please correct it as to show 'Numix Blue' instead for better naming consistency.

thank you.

[2016-10-21 15:19] megax commented on #608
Numix Blue not Numix Theme. Blue theme one fork. We cannot improve it.

@khurshid-alam

[2016-10-21 15:19] #369 closed, assigned to nobody

[2016-10-21 15:35] #608 closed, assigned to nobody

[2016-10-21 16:03] megax commented on #572
@khurshid-alam Bug source: https://github.com/numixproject/numix-gtk-theme/blob/2.6.4/src/gtk-3.20/scss/widgets/_button.scss#L303 I don't know why there... =/

But there are ideas.
Related bug: https://github.com/horst3180/arc-theme/issues/27 and fixed:

[code]

[2016-10-21 17:14] megax commented on #450
@khurshid-alam, @ben-kuhn Please test master branch. It can improve  (https://github.com/numixproject/numix-gtk-theme/commit/7254e08542167c9e268f6e20492cd2e24ba9289c). I did not test.

[2016-10-21 18:14] #585 closed, assigned to nobody

[2016-10-21 18:26] #572 closed, assigned to nobody

[2016-10-21 19:27] megax commented on #580
Not theme bug. Inkspace icon theme dark (see arc-theme and adwaita).
It is not feasible...

@khurshid-alam @lots0logs any idea? :)

[2016-10-21 19:45] megax commented on #584
@khurshid-alam, @BaraVaq Tested https://github.com/GNOME/dconf-editor/commits/gnome-3-22 code. Fixed bug.

![image](https://cloud.githubusercontent.com/assets/461493/19609458/a6dc805e-97d7-11e6-9b65-5f9e87e8c96b.png)

Close issue?

[2016-10-21 19:57] nathaneltitane commented on #608
I'm not sure I understand what you've explained @khurshid-alam - I have not found the NUmix Blue project entry to post to it, I'm sorry.

Can it be fixed?

[2016-10-21 20:20] khurshid-alam commented on #608
@nathaneltitane Numix Blue is not our project. Someone else created it. You can try reaching the developer who created it. https://github.com/aceat64/Numix-Blue

[2016-10-21 20:21] #584 closed, assigned to nobody

[2016-10-21 20:23] khurshid-alam commented on #580
I am not sure what icon theme he is using...but I couldn't reproduce. Closing....

[2016-10-21 20:36] leoheck commented on #580
OMG, let this issue opened. I am using `numix-gtk-theme` theme, this is why I report the issue here.
Common @khurshid-alam "I don't know some stuff then I will close it" is not an excuse. Let the issue opened for someone who knows how to solve. @megax is adding here, so we have 2 guys with the same problem.

The problem happens with `Numix` and `Numix Daily`.

[code]

![selection_030](https://clou

[2016-10-22 05:40] khurshid-alam commented on #580
@leoheck
Issue was closed because it may not be a gtk theme issue.

Can you test with Numix-Daily PPA (https://launchpad.net/~numix/+archive/ubuntu/numix-daily)? Numix stable ppa also creates a folder "Numix Daily"......Please ignore it for now and remove stable theme completely". Also try with different icon themes.

With Numix and Ubuntu-Mono icon theme I couldn't reproduce this with Gtk-3.20 (g

[2016-10-22 07:47] megax commented on #580
Tested arc-theme dark mode. (Similar to the menu)
![anim](https://cloud.githubusercontent.com/assets/461493/19617878/6980adec-983c-11e6-8319-8ef1d2651761.gif)

[2016-10-22 12:45] leoheck commented on #580
@khurshid-alam thank you for reopen it. My first post was using `Numix Daily` which I always use. My last post was using with `Numix` (stable). So, lets organize our results.

Themes with this bug:
- Numix
- Numix Daily

Themes without this bug: (menus-bg with the same color as window-bg)
- Arch
- Arch Dark
- Arch Darker
- Adwaita
- Radiance

[2016-10-23 14:53] megax commented on #588
@lots0logs Any idea what could cause?

[2016-10-23 15:19] lots0logs commented on #588
@megax Which version of the app did you test? It looks fine for me:

![2016-10-23_10-18-49-am](https://cloud.githubusercontent.com/assets/4675662/19627335/31381942-990a-11e6-8aab-f87fa171dfed.png)

[2016-10-23 15:29] megax commented on #588
@lots0logs GTK3 version bad. GTK2 version good (yours is the).

![image](https://cloud.githubusercontent.com/assets/461493/19627393/3d12642a-9946-11e6-8351-c1fd53c6853a.png)

**Edit:** Arch linux package (aur): https://aur.archlinux.org/packages/audacious-gtk3 https://aur.archlinux.org/packages/audacious-plugins-gtk3/

[2016-10-23 15:33] megax commented on #582
@lots0logs This improves? :) https://github.com/numixproject/numix-gtk-theme/commit/5ccc199112740a11b7b4a8de9a0f9ca696d9a0c2

[2016-10-23 18:57] mishurov commented on #588
My Audacious is compiled with gtk3 USE-flag. It's a GTK 3.20 or later, older versions of GTK3 were fine.

[2016-10-23 19:13] lots0logs commented on #588
@megax found the problem..will push fix in a few minutes

[2016-10-23 20:19] megax commented on #588
@lots0logs okay. I am interested in the solution :)

[2016-10-23 21:33] #588 closed, assigned to nobody

[2016-10-23 21:36] #582 closed, assigned to lots0logs

[2016-10-23 21:52] mishurov commented on #588
It just werks, thnx.

[2016-10-24 14:26] megax commented on #557
Maybe the problem here: https://github.com/numixproject/numix-gtk-theme/blob/2.6.5/src/gtk-3.20/scss/widgets/_button.scss#L87

[2016-10-27 03:16] ghost opened #618 "Where's Numix Light & Dark?"
Hello,

Where can I download the Light theme?

It's being talked about on deviantart;

http://satya164.deviantart.com/art/Numix-Light-GTK3-theme-391993388

thanks

[2016-10-27 06:56] khurshid-alam commented on #618
Numix light hasn't really been ported to 3.20. I have started porting....but it could take a while. And it's not an open source theme. So you have to purchase it. Deviantart page will be updated when it's ready.

[2016-10-27 11:46] Sispheor commented on #178
@nazar-pc Thx for your fork. I prefer the old color version.

[2016-10-27 15:39] khurshid-alam opened #619 "Gtk-3.20:: Levelbar: Improper discrete block inside levelbar"
![discrete-block-inside-levelbar](http://i.imgur.com/UGiTFj7.png)

[2016-10-27 15:40] #619 closed, assigned to nobody

[2016-10-27 23:51] ghost commented on #618
I'm on 3.18, is there a free version for that?

By the way, what distro are you using?

Because the last time I looked on distrowatch.com I didn't see any of the 300 distros there being charged for.

People put out entire systems and applications for free, charging for themes is a disgrace!

[2016-10-28 04:33] khurshid-alam commented on #618
No. Unfortunately there is no free version. Only Numix and Numix-Dark are available for free.

And it It has nothing to do with distro. Numix-Light is closed source and it was for $3. Due to lack of maintenance purchase option was removed from deviant-art. However after porting we may make it free.

[2016-10-28 12:03] nazar-pc opened #620 "Add styles to Raven components of Budgie panel"
[Budgie Desktop](https://github.com/budgie-desktop/budgie-desktop) is a promising DE. It is used as primary DE in Solus OS, also Ubuntu Budgie-Remix exists.

There is one significant issue, however, with Numix theme in this DE - Raven component (side bar) of Budgie panel is not styled nicely.

[2016-10-29 20:17] edwinksl commented on #574
Just to make sure I got this right: when using the Numix theme, the default background color for GNOME terminal has gone from `#444` in Ubuntu 16.04 to `#eee` in Ubuntu 16.10?

[2016-10-30 16:30] #620 closed, assigned to nobody

[2016-10-31 07:20] megax commented on #368
Related issue: https://github.com/numixproject/numix-gtk-theme/issues/620

[2016-10-31 12:08] khurshid-alam commented on #368
Basic budgie support ( raven panel) has already landed. It needs code block for sidebar and some othe components. Hopefully soon.

[2016-10-31 12:18] nazar-pc opened #623 "GNOME Sound OSD is not readable"
It is acceptable on light background:
![2016-10-31 14-14-11](https://cloud.githubusercontent.com/assets/928965/19853888/ac871768-9f74-11e6-9904-c266777b7f3e.png)

But often close to impossible to see current level on dark gray/black background:
![2016-10-31 14-13-57](https://cloud.githubusercontent.com/assets/928965/19853903/c1a94472-9f74-11e6-8f50-8c4ff9a4bd21.png)

GTK 3.20 and GTK 3.22 at least

[2016-10-31 12:25] megax commented on #623
Application name? (in order to test)

[2016-10-31 12:39] nazar-pc commented on #623
Just try to change sound volume in gnome-shell (I believe, this is provided by `gnome-settings-daemon`).

[2016-10-31 12:42] Sadi58 opened #624 "GTK 3.20 :: Nautilus and gedit :: two white pixels on the top corners of the path/toolbar"
I see two white pixels between the left and right edges of titlebar and path/toolbar in Nautilus and gedit. I suspect this might be a result of round top corners of Gnome-style header bar (which doesn't have a titlebar, as seen when Nautilus and gedit are started with commands `sudo nautilus` and `sudo gedit`.
![screenshot from 2016-10-31 10-15-49](https://cloud.githubusercontent.com/assets/637593

[2016-10-31 13:21] megax commented on #624
Fixed commit: https://github.com/numixproject/numix-gtk-theme/commit/a457b8fd5bc04d3778bb676277b55338f3ac652c Please test master repo code.

![image](https://cloud.githubusercontent.com/assets/461493/19856028/01af282c-9f78-11e6-8d5a-fff8217b03f3.png)

[2016-10-31 14:05] megax commented on #623
Source code: https://github.com/numixproject/numix-gtk-theme/blob/master/src/gtk-3.20/scss/widgets/_osd.scss#L61 and https://github.com/numixproject/numix-gtk-theme/blob/master/src/gtk-3.20/scss/widgets/_osd.scss#L63

Here such: (archlinux + gnome-shell 3.22)
![anim](https://cloud.githubusercontent.com/assets/461493/19855877/161ea450-9f77-11e6-819d-46e3e8b91aac.gif)

Please fix it if you can.

If

[2016-10-31 14:25] Sadi58 commented on #624
Interesting...
I compile like that from git repo; no difference.
Even when I add the following section to `~/.config/gtk-3.0/gtk.css`; no difference again.

[code]

I still see it in **Nautilus**, but not in **gedit**.
I switch to Ambiance; it disappears; I switch back to Numix; it reappears. I then do `nautilus -q` to restart Nautilus; and I don't see it (at least until Unity is restarted)...

[2016-10-31 16:56] megax commented on #624
@Sadi58 I'm sorry but it won't be better than this. I'm above 10 hours with tests and it's impossible to write it perfectly. The current version works perfectly on all platforms except unity and there is no bug.
Please report this to the unity developers. This appears to be a unity bug. It's buggy on all themes. You can try arc-theme, but as far as i know, the bug exists with that too.
In other wo

[2016-10-31 17:16] Sadi58 commented on #624
@megax I fully understand you. Thanks for all that info and the tip. I also entirely agree with you regarding the current buggy state of unity7, and the ambiance theme ;-)
BTW I've just tested Vertex from git repository as well: It displays only one white pixel in nautilus (on the right), and two white pixels in gedit -- what a mess... I give up ;-)
Adding this to login startup scripts as **the fi

[2016-10-31 17:16] #624 closed, assigned to nobody

[2016-10-31 17:27] megax commented on #450
@khurshid-alam Still having trouble? :)

[2016-10-31 17:40] #450 closed, assigned to nobody

[2016-10-31 17:59] megax commented on #407
Related issue: https://github.com/horst3180/arc-theme/issues/288

[2016-10-31 20:23] khurshid-alam commented on #624
The white dot is probably the nautilus bug where nautilus where nautilus desktop window overwrites. Unity should draw the desktop first and then enable compositing. It is a old bug.

[2016-10-31 20:28] khurshid-alam commented on #623
Looks ok to me. May be we should use osd_bg with relative lightness.

[2016-10-31 20:31] khurshid-alam commented on #199
Bug in the LO. Now fixed.

[2016-10-31 20:31] #199 closed, assigned to nobody

[2016-10-31 23:42] nazar-pc commented on #623
I was trying literally everything in that file for both 3.20 and 3.0, but was only able to change background here: https://github.com/numixproject/numix-gtk-theme/blob/master/src/gtk-3.20/scss/widgets/_osd.scss#L47

In my case OSD is shown by gnome-fallback-media-keys-helper. This is a component decoupled from earlier versions of GNOME3 stack before it become monolithic. It has version 3.6.4 and o

[2016-11-01 00:01] nazar-pc commented on #623
Here is I think relevant source code from the package I've mentioned:

[code]

[2016-11-01 00:28] nazar-pc commented on #623
Found a solution in #627, but looks like I've discovered more potential issues that were not reported yet.

[2016-11-01 03:50] ghost commented on #618
Closed source themes, never heard of that one before... :(

[2016-11-01 03:54] khurshid-alam commented on #623
Like what? If it is not related to this issue, please open a new issue. Beside our osd code is very uncleaned and needs lot of work.

[2016-11-01 03:59] nazar-pc commented on #623
I'm not sure what and I'm not sure there are any, just looks suspicious that in 3.0 there was many `.osd.whatever`, while in 3.20 it is `.osd whatever` (which caused this issue and which I fixed in related PR by replacing `.osd trough` with `.osd.trough` and another similar tweak).

Will definitely post another issue when find something exact, just wanted to let you know.

[2016-11-01 08:24] megax commented on #623
OSD code is not completely repaired. There may be such errors.

[2016-11-01 17:08] #623 closed, assigned to nobody

[2016-11-01 17:10] #561 closed, assigned to nobody

[2016-11-01 17:53] megax commented on #561
@SammysHP @khurshid-alam It solved the problem? I have no fault, but please let us know if you still have.

[2016-11-02 12:34] gjm opened #630 "Lock screen is black (ubuntu 16.04/16.10)"
Sometimes, when the screen is locked and turned off after the configured delay, when i return to the pc and activate it the screen is black and i can only see the mouse pointer. I tried typing the password even so but with no luck. The logs show no useful information.

It was hard diagnosing it as a numix issue but the fact is it only happens when i select the numix theme. I'm using ubuntu 16.10 a

[2016-11-02 17:23] lburgazzoli commented on #389
Is there any plan to release a gnome-shell theme ?
I've tried NumixFrost on Gnome 3.22 but Numix is not listed among shell themes.

[2016-11-02 18:58] lots0logs commented on #389
@lburgazzoli How did you install it?

[2016-11-02 19:22] lburgazzoli commented on #389
sudo make install, then tried to configure it with gnome-tweak-tool

[2016-11-02 19:24] lots0logs commented on #389
Ah okay. The makefile doesnt install the gnome-shell theme. You will have to manually copy it into the theme's directory (`/usr/share/themes/Numix-Frost`)

[2016-11-03 08:53] lburgazzoli commented on #389
I see, thx.

btw the theme appear to be a little bit too space consuming:
- numix:
  ![screenshot from 2016-11-03 09-45-09](https://cloud.githubusercontent.com/assets/1868933/19960131/228dded2-a1ab-11e6-872a-2a687d4678c7.png)
- arc:
  ![screenshot from 2016-11-03 09-49-24](https://cloud.githubusercontent.com/assets/1868933/19960130/228cb764-a1ab-11e6-94f5-c3cd125b8ddf.png)

Is there any plan to st

[2016-11-03 17:09] lots0logs commented on #389
Yes there will be some adjustments. Though its not going to be as much as the regular numix theme which IMO doesnt have enough space in key areas.

[2016-11-04 16:20] lburgazzoli commented on #389
I do not know which areas you are thinking about but I think window borders and tabs should use less space as possible, i.e. when a window is maximized you do not want the top-bar, then the window border and maybe some tabs to waste precious space especially while coding :)

Maybe you could create a Numix-Slim variant which uses less space as possible or make it easy to configure it (do not know h

[2016-11-06 11:09] Sadi58 opened #631 "GTK 3.20 :: xsane slider borders and selection area border invisible"
This problem affecting the main window and preview window is also present in all other themes (e.g. Ambiance, Greybird, Arc) that I've checked. Although the lack of slider borders is less critical, it is somewhat difficult to accurately select a custom area to scan with the help of the mouse pointer only.
![screenshot from 2016-11-06 12-58-42](https://cloud.githubusercontent.com/assets/6375934/200

[2016-11-06 19:33] khurshid-alam commented on #630
I couldn't reproduce it. Try to restart nautilus using `nautilus -q`

[2016-11-07 10:29] gjm commented on #630
I've tried it!

The thing is it's not deterministic! I can't quite identify what triggers
it. I can tell it only happens when the screen goes off by the power
timeout. If i manually lock it it works fine. But when the screen goes off
sometimes when i activate it all is well sometimes the screen is black.
Only the mouse pointer shows.

I can definitely confirm it has something to do with Numix beca

[2016-11-07 10:33] khurshid-alam commented on #630
Give step-by-step "How-to-reproduce". Then we can diagnose the issue.

[2016-11-07 11:10] gjm commented on #630
Well... that's by problem... i can't...

Here's what happens to me:
1. Wait until the lock screen timeout expires and the screen turns off.
2. Wait a random amount of time.
3. Move mouse to activate screen.

Gonçalo Marrafa

On 7 November 2016 at 10:33, Khurshid Alam notifications@github.com wrote:

[2016-11-07 14:34] nazar-pc commented on #480
I confirm this issue under Compiz on Ubuntu with gtk-window-decorator (I'm using custom session without Unity). I've noticed it somewhere during 16.10 development cycle, but didn't pay enough attention. Checked with settings window of Nemo file manager and Ambiance theme.
GTK 3.22, I believe it was the same with 3.20.

[2016-11-10 21:11] khurshid-alam commented on #480
Yes....changing frame style will solve the issue for gtk3.....but gtk2 will get broken for focus dialogs.

[2016-11-11 03:04] alemedeiros commented on #390
@M1cha If I understand correctly, it's a theme for cinnamon itself, it's panel and menu. There are quite a few "numix" themes, but most of them haven't seen any update in quite a while.

@lots0logs you might want to recruit help / check this repo: https://github.com/zagortenay333/numix-cinnamon
It mixes really well with the current version of the numix gtk themes.

[2016-11-11 12:40] khurshid-alam commented on #630
I just tried on vm. Sorry I couldn't reproduce this. Since it only happens after screenlock, it could be a problem with your compiz. Try change lockscreen wallpaper and make sure the wallpaper has set for 755 permission mode.

[2016-11-14 17:00] Sadi58 opened #632 "GTK 3.20 :: Support for new Unity appearance option "Show the menus for a window: In the window's title bar""
Behavior for hover/selection on Ubuntu's Unity top panel, which also serves as title/menu bar for maximized windows (as well as global menu bar, which now is optional) is a lighter grey bgcolor, but if the new option "Show the menus for a window: In the window's title bar" is selected, there's no difference at all for hover/selection on the title/menu bar of unmaximized app windows (GTK 2/3) .

On

[2016-11-22 14:37] khurshid-alam commented on #632
@Sadi58 Screenshot?

[2016-11-22 18:34] Sadi58 commented on #632
@khurshid-alam Edited above now with screenshots.

[2016-11-22 19:09] khurshid-alam commented on #632
If I am not wrong...the second screenshot of nautilus is without root and 3rd is with root? Do you have numix related themes under ~/.themes? If you do, try removing those.

And why nautilus is not showing horizontal global menu for non root window?

[2016-11-22 19:24] Sadi58 commented on #632
Only Synaptic Package Manager is with root in the screenshots above.
I'm using a tweaked version of Numix (changing only selection bgcolor and the like to blue) named Numix-Blue, but I switched to default Numix, removed my Numix-Blue, and saw no difference (naturally).
I use Unity with menus displayed in app window title bar (new option) instead of global menu bar (Unity top panel) unless they're

[2016-11-23 15:10] khurshid-alam commented on #632
For me it's ok....

![screenshot](http://i.imgur.com/5T2Opgz.png)

About nautilus, Unity's global menu patch is broken for nautilus on 16.10 I guess.

[2016-11-23 15:19] Sadi58 commented on #632
It seems I couldn't make myself clear enough, sorry.
This is also what I see (1) when I have a maximised app window, and also (2) when I choose `System Settings... > Personal: Appearance >  Behaviour: Show the menus for a window: In the menu bar`.

The problem appears only when you choose to see the menus `In the window's title bar` instead of the global menu bar (i.e. Unity top panel)

I'm ignora

[2016-11-28 18:19] khurshid-alam commented on #632
It seems .menu style is overwriting titlebar menu style (bg color) when using local menu-bar. Could be a unity bug. I will try and reproduce in zesty.

[2016-12-02 07:23] rubin55 commented on #397
Actually, it's not ok with 5.2; just reproduced this with LibreOffice 5.2.3.3 and Numix 2.6.6 on Gentoo
![2016-12-02-082253_1280x800_scrot](https://cloud.githubusercontent.com/assets/6214491/20826058/a710ebc6-b868-11e6-95ca-9cd9806bd340.png)

[2016-12-03 13:53] khurshid-alam commented on #397
I couldn't reproduce it either on Ubuntu or on Arch. Can anyone confirm?

[2016-12-03 14:03] JPFrancoia commented on #397
I'm on Archlinux, libreoffice-fresh 5.2.3-1, numix-themes 2.6.5-1, numix-themes-archblue-git 2.6.4.r2.5a0ec95-2 and I don't have this problem anymore.

[2016-12-03 21:23] leoheck opened #634 "System Settings"
Hi, can improve (change) the System Settings (white) background?
Thanks.
![system settings_033](https://cloud.githubusercontent.com/assets/1277920/20862289/aca27976-b98d-11e6-95fa-bcabbb97b434.png)

And, where can I post the issue regarding selected icons... they have pixelated edges. This annoys me since long time ago. Look above on the "Online Accounts" icon for example

[2016-12-04 19:04] darekdeo commented on #139
Worth to mention it's not only Chrome, but probably all Chromium based software including software based on Electron. For example those ugly separators appear also in Atom text editor. :(

[2016-12-04 19:06] khurshid-alam commented on #634
For icons please open a issue at numix-icon-theme-circle.

[2016-12-04 19:47] bilelmoussaoui commented on #634
@khurshid-alam For the icons, i don't think it's an icon issue. it's more a hover effect that should be removed.

[2016-12-04 22:33] megax commented on #634
Ubuntu coding bug... Default ubuntu theme (ambiance) buged. Not numix specific.
Cinnamon gtk 3.18 and 3.20 fix https://github.com/numixproject/numix-gtk-theme/pull/471:
https://github.com/numixproject/numix-gtk-theme/blob/master/src/gtk-3.20/scss/apps/_cinnamon-applications.scss#L6

[2016-12-05 10:58] leoheck commented on #634
@khurshid-alam, considering the icons problem, look the palob answer:
https://github.com/numixproject/numix-icon-theme/issues/1169#issue-193370591
If you guys confirm this is a new numix-gtk-theme issue I can open a new one.

[2016-12-05 15:12] khurshid-alam commented on #634
Yeah, I saw that. Unity uses old gnome-control-center. So we may need a separate style for like cinnamon. Icon problem is probably due to improper border radius.

[2016-12-19 09:18] MasterLink86 opened #635 "Slider "bubble" cut off by 1 pixel on some applications."
Ubuntu 16.04 LTS 64-bit, up to date via apt-get upgrade as of 2 hours ago, and is using the Numix PPA, which is also as up to date as of this writing.

Applications affected: VMPK, Gqrx, OBS

The sliders, as seen in the screenshots provided, appear to be cut off by 1 pixel on these apps.  On other apps it seems to be fine, and in Gqrx, the slider is ok in some spots, while cut off by a pixel on th

[2016-12-19 16:46] khurshid-alam commented on #635
Looks like a qt5 issue.

[2016-12-19 18:39] MasterLink86 commented on #635
That's what I was thinking, but I couldn't actually tell if the apps were using QT or not (other than VMPK which advertises it in the Help menu).

However, I can't install the QT (KDE) themes because there are none for Ubuntu 16.04 in the PPA I used.

[2016-12-19 19:16] MasterLink86 commented on #635
I can't tell, and perhaps my eyes are failing me as I get older, but it almost looks like it's less of the fact that the bubble is cut off, but more that the bubble is 1px too high above the slider line, as compared to native GTK applications.

[2016-12-22 16:01] khurshid-alam commented on #635
Is this reproducible with other themes? I couldn't reproduce this on zesty which uses newer versions.

[2016-12-22 18:23] MasterLink86 commented on #635
No, other themes I tried seemed to be working just fine..  I'll keep trying a few other themes to see if I can find one.  One thing I notice though is in other themes, the slider bubble (or widget, whatever you call it), isn't as large in them as it is in Numix, so it may be a case of, it "is" actually cutting off but because it isn't as large, we wouldn't see it.

[2016-12-30 19:31] luxe opened #636 "Theme is not affecting Client Side Decoration of HeaderBar?"
Once installing the theme, I noticed that it was only affecting _some_ of the Ubuntu windows. It seems that applications have their own window paneling, that I am unable to change through the theme.

For example:

Notice how `gedit` has the default Ubuntu buttons,
while the GNOME file manager is using the applied `numix` theme:

![theme](https://cloud.githubusercontent.com/assets/1312081/21571342/

[2017-01-02 16:32] sanjaytharagesh31 commented on #206
I couldn't see a file named gtk.css inside gtk-3.0. I am using ubuntu 16.04.

[2017-01-02 16:44] Photon89 commented on #206
Just create this file then.

[2017-01-02 16:49] sanjaytharagesh31 commented on #206
@Photon89  I created even then its not working.

[2017-01-02 18:21] palob commented on #636
That's strange. Actually ``gedit`` is one of the apps the Ubuntu folks patched so as not to use client-side decorations. The gedit window is actually server-side decorated.
Nautilus (GNOME Files) is another one they patched so I wonder why it does use CSDs (a headerbar) in your screenshot.

Anyway, have you got some other themes installed in order to check whether it is a Numix-only issue?

[2017-01-02 19:40] Photon89 commented on #206
Did you reboot (or log out and bacḱ in) after creating the file? What exactly did you put into the file?

[2017-01-02 20:43] luxe commented on #636
I've tried some other themes now (Adwaita, HighContrast, Orion, Radiance).
They all have the same problem. I suppose its something to do with my ubuntu configuration, although this is a fresh install with minimal changes made.

Are most applications suppose to inherit changes from the theme?
Most of my applications do not:
gnome-terminal, firefox, calculator, dconf-editor,  to name a few.

Program

[2017-01-02 21:13] palob commented on #636
I'm no expert in Ubuntu questions so I'm at a loss as to why that's happening. However from what you tell the theme is only applied to CSD apps.

Can you fire up ``dconf-editor`` and navigate to ``/org/gnome/desktop/wm/preferences/`` and look up what's the value for ``theme``?
Same for ``/org/gnome/desktop/interface`` and the value for ``gtk-theme``?

[2017-01-02 23:10] luxe commented on #636
Under  `org.gnome.desktop.wm.preferences`, the attribute states
`DEPRECATED: This key is deprecated and ignored`.

It was set to `Adwaita`, but changing it to `Numix` had no effect, so I assume it is indeed being ignored.
The property at `org.gnome.desktop.interface gtk-theme`, and it already set to Numix.
The `gnome-tweak-tool` is changing that property.

I finally found the problem:
`org.gnome.m

[2017-01-02 23:10] #636 closed, assigned to nobody

[2017-01-03 02:42] sanjaytharagesh31 commented on #206
1) I included the file.
2) Now I checked for the black margings, it was there.
3) I restarted the system and then checked, again it was there. :(

Whenever I click any dropdown menus, the whole window appears black so I
feel difficult to select the options.

On Tue, Jan 3, 2017 at 1:10 AM, Photon89 <notifications@github.com> wrote:

--

Regards,
Sanjay Tharagesh.

[2017-01-03 02:45] sanjaytharagesh31 commented on #206
@Photon89 I put the exact css snippet shown by Phaeilo

[2017-01-03 08:22] Photon89 commented on #206
@sanjaytharagesh31 Hmm, not sure why it doesn't work out... Here is what I have in my ~/.config/gtk-3.0/gtk.css:

[code]

I think, all or most of it was already there (I'm using Manjaro Linux) so not everything might be good for Ubuntu, but this is a configuration which works for me.

[2017-01-03 08:42] palob commented on #636
Ah OK, so that's a general issue with ``gnome-tweak-tool`` not being able to change the metacity theme (which in turn is only relevant for the ``gnome-flashback`` session which GNOME doesn't officially support).

[2017-01-03 16:18] khurshid-alam commented on #618
@craft37
There is a issue with the license. Also it depends on the original authors. But if you are interested in contributing I can give you the access to https://github.com/khurshid-alam/Numix-Light (private repo)

In that case please send me a email.

[2017-01-03 16:25] satya164 commented on #618
We had decided to publish the source when we remove the purchase option. cc @Foggalong

It's not really closed source, since the source code is almost the same as the normal theme with just a few tweaks.

[2017-01-03 17:51] khurshid-alam commented on #618
@craft37 No. Normal is normal (mixture of dark & light). Dark is not really a variant but rather a scheme of gtk.

[2017-01-04 14:39] sojusnik opened #637 "Small window border"
After a fresh Ubuntu Gnome 16.10 installation the window border is disproportionately small, as depicted [here](http://i.imgur.com/HMLTCaR.png).

Seems like a bug, or is this really by design?

numix-gtk-theme has the version `2.6.6+626~201611150117~ubuntu16.10.1`

[2017-01-04 14:54] satya164 commented on #618
sorry I don't work on it anymore.

[2017-01-05 05:29] khurshid-alam commented on #618
@craft37 There is no timeline as of now. But hopefully it will happen at the end of the winter.

[2017-01-05 09:45] meetdilip opened #638 "File transfer dialouge not vanishing"
File transfer indicator on File manager icon ( in launcher ) does not vanish even after file transfer finished. I am not facing this issue while use Adapta Theme. Happens also with the file transfer indicator in the file manager window. I mean, in the circle that indicates file transfer progress.

[2017-01-05 09:48] kirylrb opened #639 "How to compile dark version of theme?"
Subj.
Thanks.

[2017-01-06 15:29] ghost commented on #634
@leoheck The pixelated edges will not appear when I use Adwaita theme(no hover effect), so it should be a numix-gtk-theme issue about icon highlight

[2017-01-06 18:11] ghost opened #640 "gtk3.22.5 :: Geary :: White fonts on button"
The Gnome mail application Geary will show white fonts on white buttons with numix gtk theme. It looks like this picture:
![screenshot from 2017-01-07 01-45-50](https://cloud.githubusercontent.com/assets/24662041/21727916/8d68da76-d47e-11e6-8cd6-0a7ed3019366.png)

[2017-01-07 11:42] Sadi58 commented on #632
FYI: Some other GTK themes like **Greybird** don't have this problem. So maybe the their CSS coding for menubar covers this new Unity feature as well.

[2017-01-07 12:14] megax commented on #637
Not bug, really design :) Nautilus, gedit etc normal (old style) window titlebar decoration.
Gnome-Hilfe: Gnome 3.10 feature. Sample (Adwaita theme):
![image](https://cloud.githubusercontent.com/assets/461493/21741587/2cdff4f2-d4db-11e6-940c-c5c5838b1ab8.png)

[2017-01-10 12:07] SammysHP commented on #639
Just enable it in your system settings. At least for GTK3 it is included.

[2017-01-12 16:00] #639 closed, assigned to nobody

[2017-01-12 16:01] #637 closed, assigned to nobody

[2017-01-12 16:10] #488 closed, assigned to nobody

[2017-01-12 16:13] megax commented on #640
@rewqazxv Numix theme version?
https://github.com/numixproject/numix-gtk-theme/issues/572

[2017-01-12 16:15] khurshid-alam commented on #640
Distro?
Os?

This was the problem with new webkit in 3.20. I thought fixed it in 7254e08.

[2017-01-12 16:19] khurshid-alam commented on #638
Distro? Is this reproducible with Adwaita? I think it's a bug with nautilus

[2017-01-12 21:17] jbicha commented on #488
By the way, I did try last summer (Northern Hemisphere) to have numix-gtk-theme Recommend numix-icon-theme in Debian/Ubuntu but several developers thought Suggests was sufficient. numix-icon-theme is a pretty large package and I'm sure there are a lot of people who use the theme without the icons.

[2017-01-13 12:38] jackgu1988 opened #641 "XFCE: Dragging gtk3 applications with client-side decoration issue"
I am using XFCE on Fedora 25 and when I am moving gtk3 applications that are using client-side decoration (like evince), I get a very weird behaviour. When I start dragging the window, it starts maximizing and unmaximizing constantly. When I finally manage to drag it to the screen border, so that it takes up half the screen, it usually takes the wrong size. I reset all my XFCE configuration and th

[2017-01-13 13:59] leoheck opened #642 "Inkscape 0.92 GTK3 theme (snap package)"
Hi, someone already tried the new Inkscape 0.92?
Installing with the snap package it looks old.

http://www.inkscapeforum.com/viewtopic.php?t=31548

[2017-01-13 17:50] khurshid-alam commented on #642
.92? Gtk3? Snap doesn't have proper support for gtk3-theme yet.

[2017-01-13 19:54] ghost commented on #640
Oh, I didn't see that closed issue...
This problem is fixed in the latest version. Thank you.

[2017-01-13 19:54] #640 closed, assigned to nobody

[2017-01-13 22:59] leoheck commented on #642
Look: [this](https://twitter.com/tedjgould/status/817377039464464384) and [this](https://twitter.com/tedjgould/status/817381605924831232)

Edit: Hm, ok. I misunderstood what you said @khurshid-alam

[2017-01-16 19:28] sojusnik commented on #637
Apps like Gedit, Nautilus and the like have indeed a normal border height (due to Gnome's menu integrated in it), but Firefox and Transmission, as you can see in my linked screenshot in the first post, definitely have a very small one. Don't you think so?

[2017-01-19 01:45] kondinskis opened #643 "Overlap2d"
Is it possible to make an icon for Overlap2D? Thanks.

[2017-01-19 06:30] khurshid-alam commented on #643
Please open a new issue at https://github.com/numixproject/numix-core/issues

[2017-01-19 06:31] khurshid-alam commented on #642
I will try to create a hack to make it work with snap-edge.

[2017-01-19 06:32] #643 closed, assigned to nobody

[2017-01-19 06:33] khurshid-alam commented on #637
@sojusnik If you don't like headerbar in Unity, you can disable it using no-csd plugin (https://github.com/PCMan/gtk3-nocsd). How it has nothing do with our gtk theme. We support both headerbar and traditional titlebar-headerbar app.

[2017-01-19 12:54] leoheck commented on #642
I installed [inkscape-trunk](https://launchpad.net/~inkscape.dev/+archive/ubuntu/trunk) yesterday to give it a try, and it looked better than the snap version. Some gtk items were not so good. I don't know if this is caused by the numix-gtk-theme or by the application itself. There are also some icons that are duplicated and missing. Unfortunately I don't have a screenshot right now.

[2017-01-20 15:35] leoheck opened #644 "Huge texts"
I don't know if this is an issue with numix-gtk-theme but, some texts in ``albert`` and in ``plank`` are huge. Look:

*Albert*
![image](https://cloud.githubusercontent.com/assets/1277920/22154960/cd63aeb2-df14-11e6-994d-7eddf962bd94.png)

*Plank*
![image](https://cloud.githubusercontent.com/assets/1277920/22155019/0682390c-df15-11e6-95b7-3890add14e8c.png)

[2017-01-20 16:20] leoheck opened #645 "California (Calendar) unredable text"
Look the summary input and the OK button. The white text is the selected one. Look
![california_046](https://cloud.githubusercontent.com/assets/1277920/22156670/7e16c82e-df1b-11e6-9c47-5adc6741986c.png)

[2017-01-22 05:01] khurshid-alam commented on #645
California is not maintained. It will create trouble with anything >= Gtk-3.20. Does it work with Adwaita?

[2017-01-22 05:03] khurshid-alam commented on #644
I couldn't reproduce this with plank in Zesty (gtk-3.22). Can you check Albert with Adwaita?

[2017-01-22 05:08] khurshid-alam commented on #642
A screenshot will be nice. Inkscape trunk is just normal debian package (which is why it should work...and it is working for me with Ubuntu 16.04/16.10/17.04).

For snap We need to wait for proper support for gtk-themming.

[2017-01-22 05:10] khurshid-alam commented on #641
Numix theme version?

[2017-01-22 05:15] khurshid-alam commented on #634
@megax If it can be fixed for cinnamon, it can also be fixed for Unity-Control-Center. No? If yes, open a separate pull.

[2017-01-22 07:42] megax commented on #634
@khurshid-alam Fixed code: https://github.com/numixproject/numix-gtk-theme/pull/646 Please test :)

[2017-01-22 08:01] megax commented on #632
@Sadi58, @khurshid-alam Fixed code: https://github.com/numixproject/numix-gtk-theme/pull/647 Please test.

[2017-01-22 10:03] jackgu1988 commented on #641
Version 2.6.0 (shipped with Fedora 25). I tried compiling version 2.6.6, but it fails (I installed all the required packages and followed the instructions on the README). Unfortunately I don't have time for the next few weeks to figure out why it is not compiling.

I am guessing I have to report it on Fedora's bug tracker, as it may have been fixed here.

[2017-01-22 13:36] Sadi58 commented on #632
It seems this is for GTK 3.22 only. No change in GTK 3.20 (Ubuntu 16.10) even if I copy and paste that code to the relevant block in menubar section.

[2017-01-22 13:39] leoheck commented on #645
I don't have Adwaita installed. How did you installed it? But it has the same issue in Ambiance.

[2017-01-22 13:49] leoheck commented on #644
The text was reduced a lot in Plank with Ambiance/Radiance. And it is huge with Numix/Arc. Albert looks the same. I don't have Adwaita yet.

![image](https://cloud.githubusercontent.com/assets/1277920/22182896/dc481826-e097-11e6-9408-ecdc39fa2af8.png)

![image](https://cloud.githubusercontent.com/assets/1277920/22182919/48ee9dba-e098-11e6-9dc8-2700c6ada226.png)